[2022-06-03 06:13] DmitryEfimenko commented on #2647
just to have latest info in this issue, here's the latest and the minimum reproduction of the error that I could come up with:
https://codesandbox.io/s/vibrant-tree-6ghgh8?file=/src/test.spec.ts

You've asked me to see if I can help with the reproduction "on your side". Could you please clarify what you mean by that?

[2022-06-03 06:27] satanTime commented on #2647
I meant to provide a repo with the issue, so I could work on it on my side to find and fix the bug. So, basically, exactly what you did :)

Thanks for the link. I'll take a look next days where the problem is.

[2022-06-03 06:29] satanTime commented on #2647
So, `.keep(NgxErrorsModule)` works `.mock(NgxErrorsModule)` breaks.

Thanks again. That should be enough for debugging.

[2022-06-03 06:31] satanTime commented on #2647
And removal of `.keep(FormsModule)` also helps. Could you explain, why you need to keep both form modules instead of only reactive one?

[2022-06-03 18:46] DmitryEfimenko opened #2687 "Feature Request: Allow ng-mocks to work with standalone components"
### Describe the feature or problem you'd like to solve

Angular v14 is released and the standalone components are now available.
We need support for mocking of standalone component dependencies (anything that's inside of the `imports` property of the `@Component` decorator).

### Proposed solution

It appears we should consider the standalone components affect existing APIs in the ng-mocks:
1. Mo

[2022-06-05 10:19] DmitryEfimenko opened #2701 "Feature Request: Allow auto mocking of methods returning Observable with custom Subject"
### Describe the feature or problem you'd like to solve

I'd like to see if we can improve the [Observable mocking story of ng-mocks](https://ng-mocks.sudo.eu/extra/mock-observables).

The current solution of providing an override for a method/property where it would return a predefined observable is very limiting and I find myself never using this approach. Every time I tend to reach for the solu

[2022-06-07 06:12] DmitryEfimenko commented on #2687
FYI, before working on this issue we might want to see how this [open issue in Angular](https://github.com/angular/angular/issues/46110) will unwrap.

[2022-06-07 18:27] satanTime commented on #2687
Agree, makes sense.

Is it a syntax sugar for a module with single export?

[code]

Sorry, I haven't code with angular for a year already and missed this feature :)

I'm asking, because it looks simpler to convert it like that in `MockBuilder`.
In `MockComponent`, I can simply remove all imports, just need to check if they are available in nested components.

[2022-06-07 18:48] DmitryEfimenko commented on #2687
yeah, I think that's pretty much it. I believe it's not quite 1:1 comparison. There are some nuances, but for the purposes of unit testing I don't think these nuances are important.

[2022-06-07 18:49] satanTime commented on #2647
So, I've taken a look deeper.

This behavior is expected. The problem here is that `ReactiveFormsModule` is a part of `NgxErrorsModule` and it's not exported.
That's why `MockBuilder` simply keeps it in imports of the mock `NgxErrorsModule`.

To make it work the module should be exported:

[code]

or a shorter version
[code]

I need to think if it's worth to export kept things on mock declarations

[2022-06-07 19:01] satanTime commented on #2647
Just a note.

The initial expectation is that `MockBuilder` would be used with a related module which declares the component / directive / pipe. In this case, the module have import of `ReactiveFormsModule` on the level, where the component / directive / pipe would get proper access to its exports:

[code]

It's generating:

[code]

whereas your setup generates:

[code]

Is there a reason why you

[2022-06-07 20:38] satanTime opened #2713 "Feature Request: MockInstance and existing instances"
### Describe the feature or problem you'd like to solve

`MockInstance` should update all existing instances of the related class.

Inspired by https://github.com/ike18t/ng-mocks/discussions/2621.

### Proposed solution

To collect pointers to instances and update them on a call of `MockInstance`.

[2022-06-07 21:51] DmitryEfimenko commented on #2647
ahh, this explains a lot. I think I was not using the the signature where I'd pass modules to mock in the MockBuilder because I didn't quite understand the signature of the MockBuilder. After you mentioned provided the code sample (below) it all cleared up in my mind and I will totally use this signature going forward:
[code]
I think it would be helpful to others if this particular example (with t

[2022-06-10 08:48] Dominik-Kriese commented on #2687
Hi,

just to push this topic a little:

I use ng-mocks a lot in conjunction with jests snapshot testing feature to reduce the bloat of rendered Angular Material Components as well as predictable false negatives in my test suite. Would love to use standalone components there, but i don't as the drawbacks in testing are to high for me at the moment.

PS: tanks for this awesome lib, it helps a lot an

[2022-06-11 13:57] #2647 closed

[2022-06-11 14:26] satanTime commented on #2701
Thank you for the suggestion. The main problem here is that `apiService.save` doesn't know anything about `flushSuccess`.

I think if we play with a helper function, it should work.

[code]

However, it requires to fetch `apiService` first and it might be too late if someone's decided to subscribe in a constructor.

Considering your example, why do you not want to use `MockInstance`?

[code]

[2022-06-11 22:53] DmitryEfimenko commented on #2647
Awesome! I'll verify on my end once it's published to npm. Could you please comment here once that happens so that I don't miss this exciting event?

[2022-06-11 23:11] DmitryEfimenko commented on #2701
There are two reasons why I came up with my utility function:
* avoid boilerplate associated with creating a new Subject (multiplied by the number of methods that need to be stubbed. In my recent test I had to stub three methods)
* make it a bit more ergonomic. In your example, you called your Subject variable: `subj`. In the situation with multiple methods to stub, these Subjects start becoming s

[2022-06-12 07:51] satanTime commented on #2647
Sure. There will be a comment about the related release.

I'm waiting for primeng's support of a14, and then I can release the new version.

[2022-06-12 08:55] satanTime commented on #2701
Agree, that's a good point, that's why I usually go with `MockInstance` or `ngMocks.stubMember` to override spied methods to return what I need, and default spied methods are used for assertions only.

Something like:

[code]

Also, another thing is that it's not very clear whether `ngMocks.injectMocked` returns a spy from jasmine or jest or none.

Anyway for observables, it's just a Subject and I

[2022-06-12 09:20] satanTime commented on #2687
After some research:

Anything imported in a standalone declaration cannot be used anywhere else. The exception is services. They are available in parent declarations.

So if we mock a standalone declaration, it should simply provide provides from all imported modules.

[2022-06-13 19:34] DmitryEfimenko commented on #2701
right. This approach works for cases when you don't need to control the timing of the observable emitting. Recently I was writing a unit test where I actually needed to be in control of that.

Regarding the spy from jasmine or jest... yeah tricky issue! Spectator solves it with [separate import paths](https://github.com/ngneat/spectator#jest-support). Not sure if similar approach would be suitable

[2022-06-13 19:39] satanTime commented on #2701
Could you share that test? I would like to see a real use-case.

[2022-06-15 06:31] DmitryEfimenko commented on #2701
I can't share exactly the use-case since it was work related. However, the approximate use-case is following:
Component under test is a file-Upload component that implements ControlValueAccessor.
Upon selecting a file it's supposed to:
* make a request to the API
* using the response of the first API call make a second call to upload a file
* after second API call succeeds, start polling 3rd API e

[2022-06-16 17:14] satanTime commented on #2687
Hi @DmitryEfimenko, could you I ask you test current implementation?

[ng-mocks.zip](https://github.com/ike18t/ng-mocks/files/8921010/ng-mocks.zip)

Now it keeps the component and mocks its imports if the component is standalone. You can keep, exclude etc:
[code]

if you want to keep its imports too, then you need to add its config separately or use chain methods:
[code]

[2022-06-17 06:13] DmitryEfimenko commented on #2687
I don't quite have a playground for standalone components set up yet, but I'll get it going and give it a spin. Thanks!

[2022-06-17 06:35] satanTime commented on #2687
Ah, oki then. It should do the job :) I'm waiting for `primeng` update to support A14 and will release the next major version of `ng-mocks`.

[2022-06-17 06:37] satanTime commented on #2687
Ah, also forgot.

@Dominik-Kriese, if you have standalone things in your project, could you give a try to the latest updates: [ng-mocks.zip](https://github.com/ike18t/ng-mocks/files/8921010/ng-mocks.zip)?

Thank you in advance!

[2022-06-17 08:47] Dominik-Kriese commented on #2687
@satanTime I only had very small and dumb components as standalone components due to the risks of low test coverage, but those seem to work fine with the new updates provided by you :)

[2022-06-17 09:46] satanTime commented on #2687
Great. Thanks.

Let's hope primeng will be released soon.

[2022-06-17 18:26] DmitryEfimenko commented on #2687
you've mentioned `primeng` a couple times. I'm curious, why ng-mocks release is waiting for the release of primeng? What's the relationship?

[2022-06-17 18:40] DmitryEfimenko commented on #2701
As a workaround for an issue of identifying all the methods that return an observable, we could perhaps use global configuration:
[code]
`jasmine-auto-spies` does something like that.

[2022-06-17 19:15] satanTime commented on #2687
It's a historical thing from the times when CI ran only 4 parallel jobs. To reduce the time for ensuring that e2e tests with 3rd-party libs work correctly, node_modules for the lib and e2e is shared and therefore depends on all all 3rd-party libraries.

Now, it's possible to add one more CI step to install node_modules separately for e2e tests.
However, I hope `primeng` will be faster than my pati

[2022-06-18 13:38] #2687 closed

[2022-06-18 14:56] satanTime commented on #2701
Hi there, that's a good idea.

[2022-06-18 15:47] satanTime commented on #2687
[v14.0.0](https://github.com/ike18t/ng-mocks/releases/tag/v14.0.0) has been released and contains a fix for the issue. Feel free to reopen the issue or to submit a new one if you meet any problems.

[2022-06-18 15:47] satanTime commented on #2647
[v14.0.0](https://github.com/ike18t/ng-mocks/releases/tag/v14.0.0) has been released and contains a fix for the issue. Feel free to reopen the issue or to submit a new one if you meet any problems.

[2022-06-18 15:47] satanTime commented on #2646
[v14.0.0](https://github.com/ike18t/ng-mocks/releases/tag/v14.0.0) has been released and contains a fix for the issue. Feel free to reopen the issue or to submit a new one if you meet any problems.

[2022-06-19 07:30] satanTime opened #2845 "Bug: ActivationRoute mock fails"
### Description of the bug

Tests fail here:
- https://github.com/tf2pickup-org/client/pull/1787
- https://github.com/elliotleelewis/portfolio/pull/318

[2022-06-19 08:26] grosch opened #2846 "Getting failures from jest when trying to use MockComponent"
### Description of the bug

When using Angular 14, jest and jest-preset-angular, testing with ESM, it fails when I try to use MockComponent.  In the attached zip you can see a simple barebones project that has a single test file. The package.json uses the nasty node command that seems to be required for this.

I tried putting the mock in the imports as well, instead of the declarations, but it did

[2022-06-19 08:34] satanTime commented on #2846
Hi @grosch, thank you a lot! I'll take a look today.

[2022-06-19 09:28] satanTime commented on #2846
I was able to reproduce the issue. Thanks again!

[2022-06-19 10:11] #2845 closed

[2022-06-19 12:53] #2846 closed

[2022-06-19 13:10] satanTime commented on #2845
[v14.0.1](https://github.com/ike18t/ng-mocks/releases/tag/v14.0.1) has been released and contains a fix for the issue. Feel free to reopen the issue or to submit a new one if you meet any problems.

[2022-06-19 13:10] satanTime commented on #2846
[v14.0.1](https://github.com/ike18t/ng-mocks/releases/tag/v14.0.1) has been released and contains a fix for the issue. Feel free to reopen the issue or to submit a new one if you meet any problems.

[2022-06-22 09:58] kekel87 opened #2862 "Bug: ComponentStore observale not working with ng-mock >= 13.3.0"
### Description of the bug

Hi,
I just migrated an angular project from version 12 to 13.
Everything goes well except for ComponentStore (NGRX) tests.
The observables complete directly, without emiting value.

For the context:
- Angular 13.3.11
- Jest 27.5.1
- @ngrx/component-store 13.2.0
- jest-marbles 3.0.2

I tested all versions of `ng-mocks` to find the one that causes problems, and it's this

[2022-06-22 10:04] satanTime commented on #2862
Hi there. Thanks for the report. I'll take a look, hopefully, this week.

[2022-06-23 05:54] satanTime commented on #2862
Hi @kekel87, could you provide a min repo with the issue?

in my case I always get

[code]

[2022-06-24 09:16] kekel87 commented on #2862
Here is a minimal example of reproduction https://stackblitz.com/edit/github-ec7feu?file=package.json,src%2Ftest.spec.ts

I tested in Angular 14 before downgrading to Angular 13 in Stackblitz, and it seemed to work.

I did not know this token, I will try to test this afternoon.

Thanks

[2022-06-24 19:15] wvankoppen opened #2907 "Bug: Module does not have a module def (ɵmod property)"
### Description of the bug

I am using ngx-translate in one of our projects. I created a wrapper around this module, which re-exports the TranslatePipe and TranslateDirective.
When I use MockBuilder to generate mocks for this module, I got the following error:

	Error: TranslateModule does not have a module def (ɵmod property)
	  ....

### A repo with an example of the bug

It can be reproduced wi

[2022-06-24 19:37] satanTime commented on #2907
Hi there,

Thanks for the report. I'll take a look on the weekend.

[2022-06-24 19:40] satanTime commented on #2907
Could you also provide a min repo if you have a chance?

I assume it's something related to the config of the project.

[2022-06-25 06:57] wvankoppen commented on #2907
Thanks for the quick reply. Yes, actually I created this example in the test folder in my local clone of the ngmocks repo.
I'll make sure to create a repo later today.

[2022-06-25 07:17] satanTime commented on #2862
For me it's still,

[code]

[2022-06-25 07:19] satanTime commented on #2862
Ah, I think this is exactly the issue

[code]

checking, thanks!

[2022-06-25 07:27] satanTime commented on #2862
So far I can see the error on `"target": "es5"`, whereas `"target": "es2015"` works well. Could you share your `tsconfig.json`?

[2022-06-25 07:55] satanTime commented on #2862
Something is wrong: here I use `ng-mocks@13.0.0` (also I've tried 13.2.0), but it still fails: https://stackblitz.com/edit/github-ec7feu-pwtrks?file=src%2Ftest.spec.ts

Could you share here a zip or github repo where I could simply switch `ng-mocks` from `13.3.0` to `13.2.0` and get different behavior?

[2022-06-25 08:10] satanTime commented on #2907
Yep. I need a repo, a zip of a github.

es5:
[code]

es2015
[code]

[2022-06-26 09:41] satanTime opened #2921 "Bug: spectator and mocks of standalone imports"
### Description of the bug

https://stackoverflow.com/questions/72708580/mockcomponent-still-includes-the-actual-component/72760431#72760431

[2022-06-26 11:25] satanTime opened #2923 "configure dependabot"
https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

[2022-06-26 11:41] satanTime commented on #2923
doesn't allow to use patterns for several dependencies

[2022-06-26 11:41] #2923 closed

[2022-06-26 19:39] wvankoppen commented on #2907
I tried to create a StackBlitz to reproduce the error, but in StackBlitz it is running perfectly.
https://stackblitz.com/edit/github-rh6cyc?file=src%2Ftest.ts,src%2Ftest.spec.ts

Could you give me a pointer to which project config could be causing the problem?

[2022-06-26 20:49] satanTime commented on #2907
Could you try to run: npx ngcc? And then tests?
Maybe there is a need to compile some dependencies.

[2022-06-27 12:00] wvankoppen commented on #2907
In my mininal testcase (the code I posted above) your suggestion worked!
After running ngcc, the test ran without any error.

However, in my original monorepo the issue still exists. Any other suggestion that I can try?

[2022-06-27 12:15] satanTime commented on #2907
Hi. Please check of you have .angular directories and try to delete them before running ngcc and tests

[2022-06-27 13:57] wvankoppen commented on #2907
Thanks, I removed the .angular directory (and also the node_modules followed by an npm install), but with no luck.

Anything else that I can try?

[2022-06-27 19:11] wvankoppen commented on #2907
yes, absolutely! I just sent you an email.

[2022-06-30 20:23] #2921 closed

[2022-07-03 08:24] satanTime commented on #2907
Hi @wvankoppen, have you been able to find a solution for your issue?

[2022-07-03 08:24] satanTime opened #2987 "Bug: improve migration docs to v14"
### Description of the bug

https://gitter.im/ng-mocks/community?at=62be95ca904f20479a608595

[2022-07-03 09:36] grosch opened #2989 "Mocking standalone with spectator."
Sorry to open this as a "bug" but I wanted to move us out of the [stack overflow post](https://stackoverflow.com/questions/72708580/mockcomponent-still-includes-the-actual-component/72760431?noredirect=1#comment128664637_72760431) and into here while trying to make it work.

I just saw your reply there pointing at the spectator example, but I still can't make what you're showing work. Here's a com

[2022-07-03 09:37] satanTime commented on #2989
Hi there, sure, it makes proper sense.

Thanks for sharing an example, I'll take a look today.

[2022-07-03 09:39] satanTime commented on #2989
Setup isn't correct actually, because you are testing `ExampleComponent`, you need to set it in the `MockBuilder`:

[code]

[2022-07-03 09:42] grosch commented on #2989
Oh wow, that's counter-intuitive at first glance, but I guess makes sense. What all is it generating at that point?  Do I essentially now no longer need to specify any imports on spectator's `createComponentFactory` once I use `MockBuilder`?  What about when the component uses `RouterModule`, where in the test I'd instead use `RouterTestingModule`

[2022-07-03 09:51] satanTime commented on #2989
it works the next way `MockBuilder(ThingsToKeepAsItIsForTesting, ThingsToMockForTesting)`, starting the version 14 there is an additional behavior for `ThingsToKeepAsItIsForTesting`, if it's a standalone declaration, then `MockBuilder` will mock all imports and redeclare the decoration:

so instead of having

[code]

---

Regarding imports in spectator, right, you don't need them anymore. You shou

[2022-07-03 09:53] grosch commented on #2989
This is great, thank you so much for your amazing support.  I think I understand what you're saying, but it's 3am for me.  I'll try to play with this tomorrow and see if I actually understand :)

[2022-07-03 09:55] satanTime commented on #2989
You are more than welcome. Keep me posted and feel free to ping me if you've stumbled over whatever.

[2022-07-05 02:36] grosch opened #3002 "Doesn't actually provide control"
### Description of the bug

Using MockBuilder with the `.provide()` method, it's not actually providing it.

### An example of the bug

Link: https://github-cffxpb.stackblitz.io

### Expected vs actual behavior

Don't you love when people say "no error" here? :)

[2022-07-05 09:35] satanTime commented on #3002
Hi there. Thanks for the report.

Could you share a link where I can see the source code?

I think, someone's answered your question in gitter, if you are using Self decorator.

I'm traveling this week. On Sunday, I'll take a look deeper.

[2022-07-05 15:23] grosch commented on #3002
Strange, it's working for me.  Here's the editor one:  https://stackblitz.com/edit/github-cffxpb?file=src/test.spec.ts

Just in case, here's the example:

[code]

[2022-07-05 15:27] grosch commented on #3002
Just signed up with gitter.  How crazy is it that somebody essentially posted the exact same thing yesterday!  If I remove the `@Self()` the test works now.  I'll leave this issue though so you can figure out why it's failing when you're back.

[2022-07-08 13:39] wvankoppen commented on #2907
hi @satanTime , unfortunately not, would you still like to have a look at it together?

[2022-07-10 10:10] satanTime commented on #2907
sure, starting Monday I'm available almost at any time. Please, send here a comment and we can have a call together.

[2022-07-11 09:43] wvankoppen commented on #2907
would have a gmeet at 13:00 work for you?

Meeting url: https://meet.google.com/tog-xves-uoy

[2022-07-11 11:16] wvankoppen commented on #2907
@satanTime please write me which time would work for you, thanks.

[2022-07-11 11:18] satanTime commented on #2907
In 5 mins?

[2022-07-11 11:19] wvankoppen commented on #2907
souds good! See you in 5 min in the gmeet call above :)

[2022-07-11 11:24] satanTime commented on #2907
I'm there

[2022-07-11 18:42] satanTime commented on #2862
Hi @kekel87, could you check what I'm missing?

[2022-07-11 19:03] satanTime commented on #2862
Looks like it's something with Angular and es5 vs es2015.

I've created a repo without `ng-mocks` and it still fails: https://github.com/satanTime/github-ec7feu-pwtrks/tree/classic
There is an example with `ng-mocks`: https://github.com/satanTime/github-ec7feu-pwtrks

[2022-07-11 19:34] wvankoppen commented on #2907
@satanTime Thanks for the help this afternoon.
Small status update: I'm working on a reproducable test case of the problem in the ng-mocks repo. I haven't finished it yet, I'll send it to you later this week.

[2022-07-11 19:59] satanTime commented on #2921
[v14.0.2](https://github.com/help-me-mom/ng-mocks/releases/tag/v14.0.2) has been released and contains a fix for the issue. Feel free to reopen the issue or to submit a new one if you meet any problems.

[2022-07-12 11:37] kekel87 commented on #2862
Sorry, I'm on vacation without a computer. I just followed the Angular CLI configuration for this. If you can't find a reason, we can just wait to upgrade to Angular 14 (where the problem doesn't arise).

[2022-07-13 13:18] satanTime opened #3053 "Feature Request: inject a directive with providers in MockRender"
### Describe the feature or problem you'd like to solve

To test `@Self` decorators, we need to inject providers via directive.

The code below should work.
[code]

### Proposed solution

`MockRender` injects a directive with providers if a class  has been passed into `MockRender`.

### Additional context

https://gitter.im/ng-mocks/community?at=62c2cf6b8fe56a38b5135031

[2022-07-13 14:50] satanTime commented on #2862
Oki, have good vacation. Please, ping me when you are back.

[2022-07-13 18:16] #725 closed

[2022-07-14 12:18] satanTime opened #3095 "Bug: touch recursion"
### Description of the bug

forwardRef can cause issues

[2022-07-14 14:46] #3053 closed

[2022-07-14 20:27] trystan2k opened #3100 "Bug: MockBuilder a standalone component that imports a standalone directive, it fails"
### Description of the bug

When mocking a standalone directive imported by a standalone component, an error is throw saying that MockOfDirective is not standalone

`Error: The "MockOfTestDirective" directive, imported from "TargetComponent", is not standalone. Did you forget to add the standalone: true flag?`

### An example of the bug

https://stackblitz.com/edit/github-7zh6cj?file=src%2Ftest.sp

[2022-07-15 06:00] satanTime commented on #3100
Hi @trystan2k,

thanks for reporting the issue. The fix will be released within next hours.

[2022-07-15 06:17] #3100 closed

[2022-07-15 06:32] satanTime commented on #3100
[v14.1.0](https://github.com/help-me-mom/ng-mocks/releases/tag/v14.1.0) has been released and contains a fix for the issue. Feel free to reopen the issue or to submit a new one if you meet any problems.

[2022-07-15 06:32] satanTime commented on #3053
[v14.1.0](https://github.com/help-me-mom/ng-mocks/releases/tag/v14.1.0) has been released and contains a fix for the issue. Feel free to reopen the issue or to submit a new one if you meet any problems.

[2022-07-15 06:32] satanTime commented on #3095
[v14.1.0](https://github.com/help-me-mom/ng-mocks/releases/tag/v14.1.0) has been released and contains a fix for the issue. Feel free to reopen the issue or to submit a new one if you meet any problems.

[2022-07-15 06:32] satanTime commented on #2987
[v14.1.0](https://github.com/help-me-mom/ng-mocks/releases/tag/v14.1.0) has been released and contains a fix for the issue. Feel free to reopen the issue or to submit a new one if you meet any problems.

[2022-07-15 07:47] trystan2k commented on #3100
Hi @satanTime,

I just tested it and it worked perfectly !

Thanks you very much !!!

[2022-07-18 20:19] satanTime commented on #2907
Hi @wvankoppen, I hope life is good, and I wanted to check whether you had a chance to create a min repo with the issue.

[2022-07-19 12:58] mdv27 opened #3131 "mockRender() call resulting in error"
### Discussed in https://github.com/help-me-mom/ng-mocks/discussions/3130

<div type='discussions-op-text'>

<sup>Originally posted by **mdv27** July 19, 2022</sup>
I am using ng-mocks functions to write unit test for angular component. It was working before angular version update from 11 to 12.
Test failing with below error stack:

![image](https://user-images.githubusercontent.com/12114755/17973

[2022-07-19 13:00] satanTime commented on #3131
Hi @mdv27,

thanks for moving it to be an issue. Could you add a min repo how to reproduce it?

[2022-07-19 14:29] wvankoppen commented on #2907
hi @satanTime!
I kindof underestimated the effort for providing a minimal test case.

I first tried to prune my existing repo, but it is so big that I ran into dependency problems in which the tests no longer ran at all.
So I moved back to the approach of creating a new repo and trying to introducing the same error.
Please find the attachement. I did not manage to get Jest up and running, but the

[2022-07-20 05:36] satanTime commented on #2907
Hi @wvankoppen, could you also share it with node_modules? Because you are using own registry, I cannot download all dependencies.

[2022-07-20 09:51] wvankoppen commented on #2907
Hi @satanTime , sorry I removed them to meet the file size constrains.
Here is a new upload: https://we.tl/t-DReRMWRWnG

[2022-07-20 11:14] mdv27 commented on #3131
I found the issue, @angular-builders/jest dependency was 14.x.x, switched to 12.x.x. Surprisingly it worked fine with Angular 11.x.x
Closing this as its fixed now.

[2022-07-20 11:14] #3131 closed

[2022-07-20 19:24] DW8Reaper opened #3161 "ngMocks.globalReplace doesn't seem to replace in standalone component"
### Description

I apologize that I don't have an easy reproduction added here but the basic issue is the following, when using standalone components (testing with NgMocks v14.1.0) any ngMocks.globalReplace calls don't seem to apply to those components.

So in our codebase we do a global setup that calls something like this:
[code]

Then in our code we have a standalone component:
[code]

and the

[2022-07-20 21:41] DW8Reaper commented on #3161
Thanks @satanTime I don't know if this helps or further confuses the issue but I have found anther funky thing might be related/causing this. If we have code like this:
[code]
but the module SomeModule does not define or export SomeService (in fact no module in the test exports it). Previously it seems when we call .mock(SomeService, aCustomMockObjectWeMake) it would also automatically define a pr

[2022-07-31 07:08] satanTime opened #3230 "Bug: TypeError: this.titleStrategy?.updateTitle is not a function"
### Description of the bug

When keeping `RouterModule`, `ng-mocks` uses `TitleStrategy` and doesn't extend it with `DefaultTitleStrategy`.

### Expected vs actual behavior

Docs should describe how to handle it.

[2022-07-31 08:50] #3230 closed

[2022-07-31 11:47] #3161 closed

[2022-07-31 11:48] satanTime commented on #2907
Hi @wvankoppen, I'm very sorry, could you re-upload it? "Transfer expired. Sorry, this transfer has expired and is not available any more".

[2022-07-31 12:03] satanTime commented on #3161
Hi @DW8Reaper, I hope this finds you well.

the fix is here.

Regarding `MockBuilder(SomeComponent, SomeModule).mock(SomeService, aCustomMockObjectWeMake)`, this is a breaking change in `ng-mocks@14.x`. if you specify 2 parameters in `MockBuilder`, then chain calls expect all declarations to be a part of those 2 parameters: https://ng-mocks.sudo.eu/migrations#from-13-to-14

Basically, you need to

[2022-07-31 12:05] satanTime commented on #3161
[v14.1.1](https://github.com/help-me-mom/ng-mocks/releases/tag/v14.1.1) has been released and contains a fix for the issue. Feel free to reopen the issue or to submit a new one if you meet any problems.

[2022-08-02 19:15] kmjungersen commented on #2701
I am looking to do something similar to this feature request (I believe), but let me know if this is separate and/or unrelated and I can open a new ticket.

I love this library, as it really speeds up the process of writing / maintaining tests!  There's one thing I'm not sure how to accomplish though, as illustrated by the following example with Jasmine:

[code]

I really just want to make sure th

[2022-08-02 21:33] kmjungersen commented on #2701
**Update**: I ended up using a "hybrid" approach to accomplish this by creating a Jasmine `SpyObj` and using that as the Mocked instance, however it doesn't feel as clean.

[code]

[2022-08-03 06:37] satanTime commented on #2701
Hi @kmjungersen, I think what you want is actually a combination of [auto spy](https://ng-mocks.sudo.eu/extra/auto-spy) and [`MockBuilder` for testing providers](https://ng-mocks.sudo.eu/guides/provider).
There is an example based on your code: https://codesandbox.io/s/aged-framework-gse2hs?file=/src/test.spec.ts

Please let me know if it does what you expect.

[2022-08-03 20:00] kmjungersen commented on #2701
Hi @satanTime - appreciate you looking into this!  I tried following that path and that works for checking to see if the method has been called, which is great.

However the issue is when I attempt to actually stub a method for that service.  Doing so makes the Mocked service function correctly, however then `someServiceSpy` ends up as a function and not a spy, if that makes sense.

I extended the

[2022-08-03 20:23] kmjungersen commented on #2701
Ah, I've got it!  I didn't full understand how `MockInstance` played into everything until I saw the [advanced example in the MockInstance docs](https://ng-mocks.sudo.eu/api/MockInstance#advanced-example).

Here's an updated Sandbox that passes now: https://codesandbox.io/s/sad-feynman-dp8vq2?file=/src/test.spec.ts

Thank you for pointing me in the right direction!

[2022-08-05 05:32] satanTime commented on #2701
Hi @kmjungersen,

thanks for the info.

With your requirements, I would simply create a spy instead of a stub function in `MockBuilder` or in `MockInstance`:

[code]

Anyway, that's good that you've found a solution.

[2022-08-05 05:34] satanTime opened #3265 "Bug: MockBuilder ignores originally provided mock service"
### Description of the bug

`MockBuilder(ServiceToTest, SomeService).mock(SomeService)` shouldn't throw an error.

### An example of the bug

Link: https://codesandbox.io/s/vibrant-mclaren-yw2j29

[2022-08-05 15:26] wvankoppen commented on #2907
@satanTime yes, please see here: https://we.tl/t-Yx7Dko7vdN

[2022-08-05 15:28] satanTime commented on #2907
Thank you, I've got it!

[2022-08-05 17:58] naeemb123 opened #3266 "Cannot test @Output() of a mocked component if @Output() is an Observable"
You can successfully test whether your component reacts to @Output events of a mocked component, when the @Output is an Event Emitter. But it doesn't work when the @Output of the mocked component is an Observable - it does not trigger an event on the parent anymore.

This works in production as @Outputs are Observables under the hood in Angular.

Consider the following code:
`<mocked-component (so

[2022-08-06 06:11] satanTime commented on #3266
Hi @naeemb123, could you provide an example of a failing test?

[2022-08-06 06:43] satanTime commented on #2907
Hi @wvankoppen, could you tell me the steps, looks like it works for me:

[code]

or

[code]

or

[code]

I do still believe this is a misconfiguration of your project. Let's have a call next week and check how the jest is configured.
Because in the repo you provided I needed:
- install `jest@28`
- install `jest-preset-angular@^12`
- configure them together

[2022-08-06 07:00] satanTime commented on #2862
Hi @kekel87, I hope this finds you well. Are you back to check my comments?

[2022-08-07 11:21] #3265 closed

[2022-08-07 18:19] satanTime commented on #3265
[v14.1.2](https://github.com/help-me-mom/ng-mocks/releases/tag/v14.1.2) has been released and contains a fix for the issue. Feel free to reopen the issue or to submit a new one if you meet any problems.

[2022-08-08 10:40] naeemb123 commented on #3266
Here's an example of a test that uses both the EventEmitter approach - which works, and the Observable approach - which doesn't work

https://stackblitz.com/edit/github-57pjuh-s4h7ws?file=src/examples/MockComponent/test.spec.ts

[2022-08-08 12:34] DW8Reaper commented on #3161
Thanks @satanTime I missed that breaking change from 13 to 14 so that's my bad on that one, thanks for fixing the global mocks that looks like the change you made in v14.1.1. I'll give it a shot and update our mocks based on the required migrations and see how it works

[2022-08-08 12:46] satanTime commented on #3161
Sounds good! Thanks in advance!

[2022-08-08 20:07] satanTime commented on #2907
Th-Mo I'm out in Berlin. Would it work Tu/We this week? or we can try to catch up next week at an evening.

[2022-08-09 05:49] satanTime commented on #3266
In your example, you redefine the output observable after rending, whereas `MyComponent` is still listening to the original one.
It won't work in any scenario, even with pure `TestBed`.
I've updated your code to have the same behavior for both outputs, and, as expected, both of them are failing now: https://stackblitz.com/edit/github-57pjuh-vs5jvj?file=src%2Fexamples%2FMockComponent%2Ftest.spec.ts

[2022-08-09 05:49] mdv27 opened #3274 "Bug: MockBuilder failing with error after updating Angular version 12 to 14."
### Description of the bug

Unit tests are failing with below error when Angular version is updated to 14.x.x from 12.x.x.
#### Dependency list:

[code]

#### Line of code where getting below error:
[code]

#### Error stack:
[code]

### An example of the bug
Above error stack.

Link:

### Expected vs actual behavior
Test should run without error.

[2022-08-09 05:52] satanTime commented on #3274
Hi @mdv27, thanks for the report.

Please provide a repo which fails the error.

[2022-08-09 06:03] satanTime commented on #3274
Also, could you check that selectors of your declarations don't have `-`?
More info is here: https://angular.io/api/core/CUSTOM_ELEMENTS_SCHEMA#custom_elements_schema

[2022-08-09 06:05] satanTime commented on #3274
If it's easier you can upload an archive with the project and node_modules right here in your comment.

[2022-08-09 06:51] mdv27 commented on #3274
@satanTime  Created [repo](https://github.com/mdv27/ng-mocks-test) from scratch and it does fail with same error. Let me know if more details are required.

[2022-08-09 06:52] satanTime commented on #3274
Thanks! checking it!

[2022-08-09 07:53] satanTime commented on #3274
So, the problem comes from `@progress/kendo-angular-inputs` and only in jest. I'm working on a fix for it.

[2022-08-09 07:57] mdv27 commented on #3274
That's so quick! 😮 👏  May I know how did you find the root cause?
Looking forward for the fix soon 😄

[2022-08-09 07:59] satanTime commented on #3274
Basically I removed everything from your component, the test was failing, then I started to remove module by module and found out this dependency.

The final test is:

[code]

[2022-08-09 08:07] mdv27 commented on #3274
Ideally if module/dependency is mocked/stubbed, test should not trigger/run the dependency code, I assume this is not honored with `@progress/kendo-angular-inputs` dep usage?

[2022-08-09 08:14] satanTime commented on #3274
I think there is a problem how the mock of a dependency has been defined, so them Angular is creating a TestBed env, it stumbles over it.

[2022-08-09 09:09] wvankoppen commented on #2907
Today and Wednesday I'm already fully scheduled, lets catch up next week then? What about Monday at 20:00?

[2022-08-09 09:10] satanTime commented on #2907
Sounds good, let's have a call by then.

[2022-08-09 10:03] satanTime commented on #3274
So. Some of declarations of `@progress` have empty class / function names, because of that ng-mocks treated them as `arrow-function`, whereas `-` is a wrong symbol for a class / function name.
jest is creating a file which a mock class called `MockOfarrow-function`, and this dash has caused the failure.

Now `ng-mocks` uses `arrowFunction` and `MockOfarrowFunction` is compatible with a class / fun

[2022-08-09 10:16] #3274 closed

[2022-08-09 10:38] satanTime commented on #3274
[v14.1.3](https://github.com/help-me-mom/ng-mocks/releases/tag/v14.1.3) has been released and contains a fix for the issue. Feel free to reopen the issue or to submit a new one if you meet any problems.

[2022-08-09 11:33] mdv27 commented on #3274
This change is working for me. Thank you @satanTime 👏

[2022-08-11 05:29] satanTime commented on #2907
Hi there, I just found out that I'm still going to be at airport by that time. Let's move it to Tuesday at the same time, if you don't mind.

[2022-08-15 08:16] wvankoppen commented on #2907
yes, perfect :)

[2022-08-16 18:05] wvankoppen commented on #2907
hi @satanTime , hereby the meeting: https://meet.google.com/kdc-jyas-qkc
See you there.

[2022-08-17 09:40] GrzegorzKaczan opened #3341 "Make Unsupported CVA message more specific"
Currently when CVA on which `ngMocks.change/touch` is run, tests whether callback function exists within the component. Those need to have very specific names. Like one of:

https://github.com/help-me-mom/ng-mocks/blob/33da7c00a449c0eda2016cc18ba8a1acfeb5c231/libs/ng-mocks/src/lib/mock-helper/cva/mock-helper.change.ts#L56

Would be good to extend the error message thrown to include those as its no

[2022-08-17 10:21] satanTime commented on #3341
Hi @GrzegorzKaczan,

thanks for the request.

Could you explain your use-case? Normally, as a developer you will be using `onChange`, but some libs and core use different methods which are covered by `keys`.

[2022-08-17 11:36] GrzegorzKaczan commented on #3341
Sure.

Our internal framework that has few custom CVAs had a different pattern for the onChange callback, namely using `onChangeClb`, something that is not covered by keys and correctly throws an error. But with messy ng stacktrace and having the lib minified in the browser, seeing that message when testing does not tell You much, it is really hard to figure it out without actually reading unminif

[2022-08-17 11:55] satanTime commented on #3341
I see. That makes sense. I'll update the error message with next release.

[2022-08-21 05:52] satanTime commented on #3266
Hi @naeemb123,

I hope this finds you well.
I wanted to ask if you've had a chance to take a look at my comment above?

[2022-08-21 05:54] satanTime commented on #2907
For history:

we had a call and were able to isolate the failure, now I'm waiting for a min repo without project's components to investigate and fix the issue.

[2022-08-21 05:54] satanTime commented on #2862
Hi @kekel87,

how is like?
Did you have a change to take a look at my comment above?

[2022-08-21 06:35] satanTime commented on #3341
[v14.2.0](https://github.com/help-me-mom/ng-mocks/releases/tag/v14.2.0) has been released and contains a fix for the issue. Feel free to reopen the issue or to submit a new one if you meet any problems.

[2022-08-22 11:51] undsoft opened #3391 "Documentation: document that MockInstance works with "classic tools""
Currently `MockInstance` is in the separate section from classic tools and has no usage examples with `MockComponent`. This leads user to think that that they don't work together, when they do.

Even if you try to test yourself if they can work together, all examples usually have `MockInstance` being run in `beforeEach`, which won't work if you run `TestBed.configureTestingModule` outside of `befo

[2022-08-23 14:01] wvankoppen commented on #2907
hi @satanTime!

Sorry for the delay. I had to redo the minification a few times over and over, as the first attempts ended up too minimal to reproduce.
See the tar file: https://we.tl/t-TirIPqo3dO, let me know how it went.
Could you remove any leftovers after the problem is pinpointed?

Thanks a lot!

[2022-08-28 12:37] wvankoppen commented on #2907
@satanTime I hope your'e doing fine?
Just want to let you know I'm on holiday for the next 2 weeks, and thus not being able to reply.

[2022-08-28 19:23] satanTime opened #3466 "Bug: CI failure"
### Description of the bug

https://app.circleci.com/pipelines/github/help-me-mom/ng-mocks/7734/workflows/3cd7b253-c4f0-43ad-bbef-e9422509bff1/jobs/330302

[2022-08-28 19:54] #3466 closed

[2022-09-05 13:24] satanTime opened #3495 "Feature Request: Angular 15"
https://github.com/angular/angular/releases/tag/15.0.0-next.0

[2022-09-07 10:07] fagia opened #3514 "Bug: ng test fails to run because of ng-mocks error after upgrading to typescript 4.8.2"
### Description of the bug

With devDependency on ng-mocks 14.2.0, after upgrading to typescript 4.8.2, `ng test` fails to run with the following error:

[code]

Everything works fine just downgrading typescript version to 4.7.4

[2022-09-07 15:10] Tukkan opened #3515 "Bug: Required and renamed component input causes tests to fail after Anguar update"
### Description of the bug

When moved from 14 to 14.1/14.2 I can see strange behaviour when executing tests with components.
When having component with required, renamed input one of the tests always fails.

[code]

Seems like MockRender does not work correctly with required and renamed inputs as it makes them undefined.
[code]

Please check the stackblitz example to exactly see what I mean.

###

[2022-09-08 06:35] satanTime commented on #3514
Hi @fagia,

Thanks for the report.
Please, provide a min repo with the issue.

[2022-09-08 09:09] fagia commented on #3514
Hi @satanTime
thanks for your answer, I've been able to reproduce the same issue with ng-mocks repo itself:
- check-out master
- in package.json update the typescript dependency to 4.8.2
- npm run build -- --prod
- same error will happen

I've also tried to make few changes to ng-mocks sources to make typescript 4.8.2 happy...they seem to work but, since I'm not having full context, I'm not sure t

[2022-09-09 09:44] satanTime commented on #3514
https://app.circleci.com/pipelines/github/help-me-mom/ng-mocks-sandbox/1604/workflows/04111b3d-a324-4b5b-b9bd-1f8e4faa719a/jobs/2473

[2022-09-09 11:10] #3514 closed

[2022-09-09 12:11] satanTime commented on #3515
Hi @Tukkan,

thanks for the report. The issue has been fixed already. Please wait for the next release.

[2022-09-09 12:11] #3515 closed

[2022-09-09 12:11] satanTime commented on #3266
Hi @naeemb123, any update on this?

[2022-09-09 12:12] satanTime commented on #2862
Hi @kekel87,

any update on this?

[2022-09-09 12:24] satanTime commented on #2907
Hi @wvankoppen,

I hope your vacation was good.

Finally, I got time to check the issue, but the same story - `npm install` returns `ERR code 401` and cannot install all packages.
Could you provide me a copy of `node_modules` directory of the min project?

[2022-09-09 12:35] satanTime commented on #2907
When I've removed the private package, I get the next error:

[code]

and when I added it to `MockBuilder` as

[code]

I'm getting

[code]

[2022-09-09 13:04] satanTime commented on #3514
[v14.2.1](https://github.com/help-me-mom/ng-mocks/releases/tag/v14.2.1) has been released and contains a fix for the issue. Feel free to reopen the issue or to submit a new one if you meet any problems.

[2022-09-09 13:04] satanTime commented on #3466
[v14.2.1](https://github.com/help-me-mom/ng-mocks/releases/tag/v14.2.1) has been released and contains a fix for the issue. Feel free to reopen the issue or to submit a new one if you meet any problems.

[2022-09-09 13:14] satanTime commented on #3515
[v14.2.1](https://github.com/help-me-mom/ng-mocks/releases/tag/v14.2.1) has been released and contains a fix for the issue. Feel free to reopen the issue or to submit a new one if you meet any problems.

[2022-09-09 14:12] fagia commented on #3514
Cool I can confirm that it's now working fine!
Thanks @satanTime for the quick and effective fix

[2022-09-09 16:17] satanTime commented on #2862
aha, with `es2017` it works now. Can you try `ng-mocks@14.2.1`? It works with all Angular versions.

[2022-09-09 16:22] satanTime commented on #2862
I've updates min examples:
no `ng-mocks` - works well: https://github.com/satanTime/github-ec7feu-pwtrks/tree/classic
with `ng-mocks@13.3.0` - also works well: https://github.com/satanTime/github-ec7feu-pwtrks

it would be great if you had a chance to take a look why the second one doesn't fail.

[2022-09-09 19:47] #3495 closed

[2022-09-10 21:09] Tukkan commented on #3515
Thank you for quick reaction. Cheers.

[2022-09-12 12:26] wvankoppen commented on #2907
Hi @satanTime!

Thanks for your reply, I retried it as well.. and I got the sime output as you do.
I think we should close the issue for now, as the issue no longer seem to be reproducible.
But thanks for analyzing!

[2022-09-13 06:10] satanTime commented on #2907
Hi @wvankoppen, oki. Feel free to reopen it if you are facing the issue again.

[2022-09-13 06:10] #2907 closed

[2022-09-13 09:05] wvankoppen commented on #2907
@satanTime thanks a lot!
Btw, your last posts contain the company name "Priva" and disclose some details of the sources that I sent you.
Could you please truncate or delete this from those 2 posts such that they don't disclose any details regarding the sources that I provided?

(Otherwise I might get troubles about this as it is publicly on the internet)

[2022-09-13 11:17] satanTime commented on #2907
Hi @wvankoppen, sorry about that. I've deleted the comments.

[2022-09-13 11:27] wvankoppen commented on #2907
@satanTime thanks!

[2022-09-16 18:49] endarice opened #3628 "Bug: Cannot find TargetService via ngMocks.get"
### MockBuilder is unable to find services provided through a parent component

When using the `mock()` method on `MockBuilder` to mock a service provided in a parent component MockBuilder is unable to find it.
![image](https://user-images.githubusercontent.com/11618868/190709705-09742585-ad4c-4b61-9cf4-2c65c95ec27a.png)
When using the `provide()` method on `MockBuilder` it is able to provide the

[2022-09-18 10:51] satanTime commented on #3628
Hi, thanks for the report.

However, this is not a bug, in your code, `ngMocks.get(fixture.point, TargetService);` expects that `TargetService` is provided on the level of `TargetComponent`, but it's not true, because `TargetService` is provided globally on `fixture`.

To get its instance you need to use:

[code]
or
[code]

[2022-09-18 10:51] #3628 closed

[2022-09-18 11:01] satanTime commented on #3495
[v14.2.2](https://github.com/help-me-mom/ng-mocks/releases/tag/v14.2.2) has been released and contains a fix for the issue. Feel free to reopen the issue or to submit a new one if you meet any problems.

[2022-09-19 05:56] satanTime opened #3635 "Bug: CommonModule is missing"
[code]

[2022-09-19 05:59] satanTime opened #3636 "Bug: Middleware components of MockRender shouldn't be marked as standalone"
[code]

[2022-09-23 13:31] md-idea opened #3674 "Bug: Arrow functions not mocked as functions"
### Description of the bug

I have a service which uses some arrow functions for binding reasons.

I'm getting an error when trying to spy on the arrow functions:
Error: <spyOn> : could not find an object to spy upon for post()
Usage: spyOn(< object>, < methodName>)

If I console.log my service instance in the spec file then I can see only the non-arrow functions in the log

### An example of the

[2022-09-24 07:43] satanTime commented on #3674
Hi @md-idea,

thanks for the report, however the problem here isn't in `ng-mock` but in `typescript`.
Arrow functions aren't the part of the prototype of their classes. They are created in constructors, and it means that in a mock class it's impossible to detect them.
Check how arrow function is generated in a class: https://www.typescriptlang.org/play?#code/MYGwhgzhAEAiCmAHeA7AJq4BPATAZXgCcA3AS2H

[2022-09-24 07:43] #3674 closed

[2022-09-24 07:52] satanTime commented on #3266
Hi @naeemb123, I'm going to close the issue. Feel free to update and reopen it when you have more info.

[2022-09-24 07:52] #3266 closed

[2022-09-24 07:52] satanTime commented on #2862
Hi @kekel87, I'm going to close the issue. Feel free to reopen it when you have more info.

[2022-09-24 07:52] #2862 closed

[2022-09-24 08:39] satanTime opened #3687 "docs: auto-spy"
A better example how auto spy can help: https://gitter.im/ng-mocks/community?at=6322721d999499629365868b

[2022-09-24 10:24] #3635 closed

[2022-09-24 10:37] #3636 closed

[2022-09-24 12:57] #3687 closed

[2022-09-24 15:39] #3391 closed

[2022-09-24 15:50] satanTime commented on #3687
[v14.2.3](https://github.com/help-me-mom/ng-mocks/releases/tag/v14.2.3) has been released and contains a fix for the issue. Feel free to reopen the issue or to submit a new one if you meet any problems.

[2022-09-24 15:50] satanTime commented on #3391
[v14.2.3](https://github.com/help-me-mom/ng-mocks/releases/tag/v14.2.3) has been released and contains a fix for the issue. Feel free to reopen the issue or to submit a new one if you meet any problems.

[2022-09-24 15:50] satanTime commented on #3636
[v14.2.3](https://github.com/help-me-mom/ng-mocks/releases/tag/v14.2.3) has been released and contains a fix for the issue. Feel free to reopen the issue or to submit a new one if you meet any problems.

[2022-09-24 15:50] satanTime commented on #3635
[v14.2.3](https://github.com/help-me-mom/ng-mocks/releases/tag/v14.2.3) has been released and contains a fix for the issue. Feel free to reopen the issue or to submit a new one if you meet any problems.

[2022-09-27 13:52] marklbarlow opened #3709 "Consider making Type<T> public again"
We use ng-mocks to create re-usable mock modules so we don't need to repeat our mocking set-up across apps.  This is done using standard Angular CLI library projects and `ng-packagr`.

Since v14, the following interface is no long public:

[code]

This means that usage such as the below is no longer possible:

[code]

Compilation now results in the following error:

`Exported variable 'FooTestingM

[2022-09-28 11:36] marklbarlow commented on #3709
Hi @satanTime,

I've created an example at https://github.com/marklbarlow/ng-mocks-example

You just need to:
`npm install`
`ng build example`

[2022-10-05 19:51] kekel87 opened #3778 "Bug: Standalone CVA component"
### Description of the bug

Hi 🙃, I was migrating most of my dumb components to Standalone.

But the tests of the ones implementing `ControlValueAccessor` won't start.

I've got this error:
[code]
I also tried with NgModel without success (see in example).

Thanks !

### An example of the bug

Link: https://stackblitz.com/edit/github-gdvfn5?file=src%2Ftest.spec.ts

### Expected vs actual behavior

[2022-10-07 16:57] satanTime commented on #3709
Hi @marklbarlow, thank you for the repo.

now I see the problem. Is there a reason why you put mocks in the production build?

Usually, I would expect `ng-mocks` in tests only.

[2022-10-07 17:00] marklbarlow commented on #3709
Hi @satanTime , we put mocks in a production build as we're creating a set of re-usable mocks that can be used across all our apps.  Without this we need to repeat our mocking set up / definitions a dozen times across our various repos...

[2022-10-07 17:08] satanTime commented on #3778
Hi @kekel87,

thanks for the report. You need to keep `NG_VALUE_ACCESSOR` too for now.
I'll be working on a fix to automatically mark `NG_VALUE_ACCESSOR` as kept if it's possible.

The thing is that `providers` of `StandaloneCVAComponent` are replaced with mocks, but I think if the providers point to the same class, then it can stay as it is.

[2022-10-07 17:13] satanTime commented on #3709
oki-doki. I'll implement a test and return back the exports of required types.

`Type<T>` was hidden to avoid imports from `ng-mocks`, because it exists in `@angular/core` and basically should be imported from there.

I'll try to add jsdoc to let users know about the right import, if it's possible.

[2022-10-09 08:10] #3778 closed

[2022-10-09 16:54] #3709 closed

[2022-10-09 17:08] satanTime commented on #3778
[v14.2.4](https://github.com/help-me-mom/ng-mocks/releases/tag/v14.2.4) has been released and contains a fix for the issue. Feel free to reopen the issue or to submit a new one if you meet any problems.

[2022-10-09 17:08] satanTime commented on #3709
[v14.2.4](https://github.com/help-me-mom/ng-mocks/releases/tag/v14.2.4) has been released and contains a fix for the issue. Feel free to reopen the issue or to submit a new one if you meet any problems.

[2022-10-10 05:46] kekel87 commented on #3778
Thank you very much for your reactivity. Have a good week.

[2022-10-10 19:32] satanTime commented on #3778
You too! Stay in touch!

[2022-10-12 17:50] jones1008 opened #3811 "Bug: Test fails if executed independently '__ngContext__={[Function Number]}' vs '__ngContext__="0"'"
### Description of the bug

from https://stackoverflow.com/q/73307975/7987318:

[code]
[code]

### An example of the bug

#### reproduction steps
First clone my reproduction repo: https://github.com/jones1008/ng-mocks-snapshot-test-bug

To reproduce the bug follow these steps:
[code]

See that when running `npm run test` the tests pass, and when running `npm run single-test-fail` the test fails wi

[2022-10-13 08:26] satanTime commented on #3811
Hi @jones1008,

thank you for the report.

However, it looks like an issue in Angular or jest, but not in `ng-mocks`.
The next test without `ng-mocks` fails in the same way:

[code]

It looks like, the very first call of `TestBed.createComponent` uses a pure number, whereas the second and following use it as a Number object.

I would suggest to report the issue to Angular / jest, not sure which of

[2022-10-13 08:58] satanTime commented on #3811
It looks like, I found a way to remove `__ngContext__` from the final snapshot.

Could you check if it works well in your project?
The build: [ng-mocks.zip](https://github.com/help-me-mom/ng-mocks/files/9774757/ng-mocks.zip)

[2022-10-13 09:18] jones1008 commented on #3811
@satanTime Yes this works!

Does it make sense to ship this fix? Do we need `__ngContext__` in our snapshot files? Is it maybe even good if we remove it?

Also when you ship this, all the snapshot tests that were setup with ng-mocks will fail. So is this a breaking change?

[2022-10-13 09:23] satanTime commented on #3811
Nice! I'm glad to hear that.

I wouldn't expect a need of `__ngContext__`, it's an internal attribute for angular core and its value shouldn't influence on your tests.

I'll ship it as it is with a note that `__ngContext__` will be removed from snapshots and it might require to update them.

[2022-10-13 09:36] jones1008 commented on #3811
Great! Thanks for the quick answers and fix!

[2022-10-13 10:03] #3811 closed

[2022-10-13 10:13] satanTime commented on #3811
[v14.3.0](https://github.com/help-me-mom/ng-mocks/releases/tag/v14.3.0) has been released and contains a fix for the issue. Feel free to reopen the issue or to submit a new one if you meet any problems.

[2022-10-20 16:04] Dji75 opened #3882 "Feature Request: improving description and examples for ngMocks.get"
### ngMocks.get description too vague

Currently `ngMocks.get` description could be understood to only concerns structural directives or services but it can also be used for components or common directives
`declarations` word is not enough precise.

Consequently we may be tempted to use `ngMocks.findInstance` which mention components, directives and so on but in some cases we could have false posi

[2022-10-22 07:57] satanTime opened #3887 "Bug: A15 fails"
https://app.circleci.com/pipelines/github/help-me-mom/ng-mocks/8782/workflows/65c8e896-07cd-44a8-93e4-7b899705230f/jobs/388630

[2022-10-22 08:58] #3887 closed

[2022-10-22 11:03] satanTime commented on #3882
Hi @Dji75,

for windows you need `gitbash`. I'll update docs about that.

Regarding you change - could you do it right on github? on the related docs page you can click "Edit this page" at the bottom of the page: https://ng-mocks.sudo.eu/api/ngMocks/get.

[2022-10-22 11:54] satanTime commented on #3882
Hi @Dji75, this issue I'm going to close with the updated `CONTRIBUTING.md`, please open a PR with the updated documentation via `Edit this page`, or ping me here if you want to discuss whatever first.

[2022-10-22 12:13] #3882 closed

[2022-10-23 06:41] satanTime commented on #3882
[v14.3.1](https://github.com/help-me-mom/ng-mocks/releases/tag/v14.3.1) has been released and contains a fix for the issue. Feel free to reopen the issue or to submit a new one if you meet any problems.

[2022-10-23 06:41] satanTime commented on #3887
[v14.3.1](https://github.com/help-me-mom/ng-mocks/releases/tag/v14.3.1) has been released and contains a fix for the issue. Feel free to reopen the issue or to submit a new one if you meet any problems.

[2022-10-24 07:01] Dji75 commented on #3882
You're right git bash works better than cmder for unix-like scripts ;)

Thanks for your feedbacks @satanTime.

Here is the corresponding PR: https://github.com/help-me-mom/ng-mocks/pull/3899

[2022-10-29 16:04] Simon-TheHelpfulCat opened #4032 "Mocking a Standalone Component without a Selector does not mock the imports"
A minimal reproduction:

[code]
Both tests pass, but looking in the console you see:

Adding a selector to TextTwoComponent or adding ```.mock(RouterModule))``` to the ```MockBuilder``` removes this message.

This minimal reproduction is reproduced [in Code Sandbox](https://codesandbox.io/s/objective-sun-cyh5nx?file=/src/test.spec.ts).

[2022-10-30 10:47] satanTime commented on #4032
Hi @Simon-TheHelpfulCat,

thanks for the report!

[2022-10-30 11:53] #4032 closed

[2022-10-30 12:41] satanTime commented on #4032
[v14.3.2](https://github.com/help-me-mom/ng-mocks/releases/tag/v14.3.2) has been released and contains a fix for the issue. Feel free to reopen the issue or to submit a new one if you meet any problems.

[2022-11-04 13:29] craigsnyders opened #4168 "Default mock of MatTooltip breaks tests in Angular14"
See https://github.com/angular/components/issues/25563

There is a comment that seems to indicate that the default MatTooltip mock causes the issue.

For my own project, to fix my tests, I have had to `.keep(MatTooltipModule)` as a workaround

[2022-11-04 14:54] satanTime commented on #4168
Hi @craigsnyders,

Thanks for the report.

Could you share a min repo with the issue?

[2022-11-09 07:28] satanTime commented on #4168
I've tried an example with `MatTooltipModule`, but it doesn't look like the problem: https://codesandbox.io/s/elastic-wildflower-uovnk0?file=/src/test.spec.ts

[2022-11-09 07:30] satanTime commented on #4168
Hi @Chris2fourlaw, @KasimJasarevic,

could you help me to reproduce the issue?

[2022-11-12 12:37] satanTime commented on #4168
For I've found so far is that this can be caused by importing `MatCommonModule` and/or `A11yModule`.
Do you use any of those?

If yes, to get the failure, they shouldn't be mocked. Is there a reason why you don't mock them?

Basically, the solution here is to `.keep(NG_MOCKS_ROOT_PROVIDERS)` or `.keep(BreakpointObserver)`, in this case, `BreakpointObserver` won't be mocked and won't cause the issu

[2022-11-12 12:37] #4168 closed

[2022-11-15 15:02] MatthieuNarcisi opened #4228 "CUSTOM_ELEMENTS_SCHEMA is ignored for WebComponents"
We are trying to use the modern `MockBuilder` to mock a component and its module.

The component makes use of WebComponents (developed via StencilJS).

When trying to add the CUSTOM_ELEMENTS_SCHEMA token with the method `beforeCompileComponents`, I still have the error in the console that the CUSTOM_ELEMENTS_SCHEMA token should be defined.

There is how to reproduce the issue : https://stackblitz.

[2022-11-16 10:55] BantramFidian opened #4249 "Problem with CDK since v14"
After struggeling with
[code]

For quite some time and stumbling over [this post](https://github.com/angular/components/issues/25563) over at the angular repository.
I feel like this problem should propably be approached on this side.

It seems to me that all tests remotely connected to Angular Material Components keep failing with the exact same error, caused by [this line](https://github.com/ang

[2022-11-17 02:40] ssergdev opened #4282 "Feature Request: Angular v14 "inject" support"
### Describe the feature or problem you'd like to solve
MockBuilder is mocking the providers defined in the component constructor but **ignoring** the providers defined with "inject" method:
[code]
The way how I can mock MyService here is to define it as a context:
[code]
### Background
[code]

[2022-11-19 18:02] satanTime commented on #4228
Hi @MatthieuNarcisi,

thank you for the report.

Do I understand correctly that you don't import `custom-component` anywhere in your app?

[code]

I found out that it will work like that, but not sure if it's something what would suite you.

[2022-11-19 18:13] satanTime commented on #4249
Hi @BantramFidian,

I think this is related to https://github.com/help-me-mom/ng-mocks/issues/4168.

Could you provide a min repo with the issue?
Otherwise, the possible solutions are described in the issue above.

[2022-11-20 06:33] MatthieuNarcisi commented on #4228
Hi, thank you. It is exactly that, as `custom-component` is a WebComponent, it cannot be imported as an Angular component or part of a module (as stated in the second point of the error message).

I will try the build tomorrow and give you feedback as soon as possible.

[2022-11-20 16:53] satanTime commented on #4282
Hi @ssergdev,

thanks for reporting the issue.

Could you check that this build works are you expect? [ng-mocks.zip](https://github.com/help-me-mom/ng-mocks/files/10050245/ng-mocks.zip)

[2022-11-20 17:37] ssergdev commented on #4282
Hello and thank for reply so fast! Quick test fails, tomorrow will reproduce in a separate repo.

[2022-11-20 22:23] satanTime commented on #4282
Hi, thanks for checking.

I added some improvements: [ng-mocks.zip](https://github.com/help-me-mom/ng-mocks/files/10050843/ng-mocks.zip)

[2022-11-22 14:31] MatthieuNarcisi commented on #4228
Hi @satanTime,

Getting back to you, I could test the zip you provided me today and it is working perfectly.

Thank you for all your outstanding work !

[2022-11-22 14:58] satanTime commented on #4228
Great. I'll release it asap.

[2022-11-22 21:35] satanTime commented on #4228
[v14.3.4](https://github.com/help-me-mom/ng-mocks/releases/tag/v14.3.4) has been released and contains a fix for the issue. Feel free to reopen the issue or to submit a new one if you meet any problems.

[2022-11-23 17:19] GipHub123 opened #4344 "Bug: Can't export pipe MockOfAsyncPipe from MockOfPipeModule as it was neither declared nor imported!"
### Description of the bug

Hi,

I've started to migrating a project to use standalone components.
Not sure if this is bug or just me doing something wrong  / is there something wrong with my environment?

I was able to create a simple example project.

When I run "ng test" -command, I got consistently following error:
[code]

[code]

### An example of the bug

Link:
[example_v2.zip](https://githu

[2022-11-23 20:11] satanTime commented on #4344
Hi @GipHub123,

thanks for the report.

a single test:

[code]

[2022-11-23 20:57] satanTime commented on #4344
I found the problem, that's because of cached declarations.

Is there a reason why you don't use `MockBuilder`?

The min test to reproduce the issue:

[code]

[2022-11-23 21:30] GipHub123 commented on #4344
Hi. Thanks for fast reply.

I've been using MockBuilder whenever it's needed / I was not able to get test working.
Project contains ~2200 test cases so I'm trying to make changes only when it's absolutely needed.

zip-file contained how been able to get rid the error (file not-standalone.component-workaround.spec.ts).

MockBuilder is causing some troubles because I didn't find a way to pass extra

[2022-11-26 13:02] satanTime commented on #4344
Understood, thanks for the info.

A fix should released soon.

[2022-11-26 20:07] #4282 closed

[2022-11-27 15:15] satanTime commented on #4249
Hi @BantramFidian,

I was able to reproduce the issue.

The problem here is that `BreakpointObserver` is a root service, and `ng-mocks` mocks root services by default.
It means, if you keep a mat module which imports `A11yModule`, for example `MatBadgeModule` etc, this will cause the issue.

Because the kept module will inherently keep `HighContrastModeDetector` service too.
And because `Breakpoin

[2022-11-27 15:48] #4249 closed

[2022-11-27 15:58] satanTime commented on #4249
[v14.4.0](https://github.com/help-me-mom/ng-mocks/releases/tag/v14.4.0) has been released and contains a fix for the issue. Feel free to reopen the issue or to submit a new one if you meet any problems.

[2022-11-27 15:58] satanTime commented on #4282
[v14.4.0](https://github.com/help-me-mom/ng-mocks/releases/tag/v14.4.0) has been released and contains a fix for the issue. Feel free to reopen the issue or to submit a new one if you meet any problems.

[2022-11-27 15:58] satanTime commented on #4344
[v14.4.0](https://github.com/help-me-mom/ng-mocks/releases/tag/v14.4.0) has been released and contains a fix for the issue. Feel free to reopen the issue or to submit a new one if you meet any problems.

[2022-11-28 13:41] GipHub123 commented on #4344
I've no longer the same problems / I can verify bug fix works.
Thanks for the quick fix

[2022-11-29 07:37] satanTime commented on #4344
Hey there, thanks for the feedback.

Feel free to report anything what you stumble over with the lib or angular testing.

Stay in touch.

[2022-11-29 08:49] serhiistotskyi opened #4367 "Feature Request: allow to mock only specific methods"
### Describe the feature or problem you'd like to solve

Sometimes I want to mock just one method and leave the rest of the service as is. So, it can run some domain specific logic (or side-effects)

### Proposed solution

Provide a function that has the same declaration as `MockProvider` but modifies service instead of creating a full mock:

[code]

Additionally would be nice to ignore `undefined

[2022-11-29 15:35] GipHub123 commented on #4344
@satanTime

Hi. I continued the migration and stumble across same kind of problem.

WebStorm successfully runs the test case but using `ng test` -> test fails.
Here error comes (MatRippleModule) from a mocked component.
Tested component doesn't have any Mat* -modules directly imported or use them in a HTML -template.

<img width="342" alt="webstorm" src="https://user-images.githubusercontent.com/1

[2022-11-29 16:14] satanTime commented on #4344
Hi @GipHub123, could you share a min example of the failing project?

[2022-11-29 16:35] GipHub123 commented on #4344
@satanTime.
Sure.  I'll try to create a simple test case for you.

[2022-11-29 20:20] GipHub123 commented on #4344
I tried to make simplified test case for you but unfortunately I haven't been able to reproduce the bug 😢

[2022-11-30 13:05] satanTime commented on #4344
Hey there.

I think it's a combination of two tests, there the first one breaks the second one.

I would suggest to delete a test by test in your project, and if the project stops to fail - restore the deleted one and continue deletion of others until you have 2 or 3 tests left.

That should be enough to create a min project with the issue.

[2022-11-30 14:34] GipHub123 commented on #4344
I updated project to the V15 since all 3rd parties had added support for v15.

[code]

Same problem exists here.
` Type CdkFixedSizeVirtualScroll is part of the declarations of 2 modules: MockOfScrollingModule and ScrollingModule! Please consider moving CdkFixedSizeVirtualScroll to a higher module that imports MockOfScrollingModule and ScrollingModule. `

Project is quite complicated.
I tried simi