[2018-02-22 19:54] workswithweb opened #1 "MockDirective does not support Angular Structural Directives"
MockDirective does not support Angular Structural Directives. Can you please add support

[2018-03-05 18:01] ike18t opened #2 "MockComponent needs to mock outputs from extended components"

[2018-03-07 16:23] ike18t commented on #2
fc46838b2797ba93a5928ad66364d7d56beb1505

[2018-03-07 16:23] #2 closed

[2018-03-20 19:25] getsaf opened #5 "Input's are sometimes not found on components when multiple decorators are in use."
[code]

`MockComponent` does not find the `labelSize` input seemingly because it is preceded by the `@HostBinding` decorator.

[2018-03-25 00:51] ike18t commented on #5
13874b9955d7182bc45f7eabfb19253fd6e12d9c

[2018-03-25 00:51] #5 closed

[2018-04-19 15:17] conor-mac-aoidh commented on #1
+1

I would also like this feature. Currently, I get this error using `MockModule` on a module that imports the `CommonModule`:

[code]

[2018-04-19 17:01] ike18t commented on #1
@conor-mac-aoidh What if, as an alternate solution to that problem, the real CommonModule gets provided so you can test angular behavior side-effects?

[2018-04-19 17:28] conor-mac-aoidh commented on #1
@ike18t I am importing `CommonModule` in my test. I think the problem arises because the module I am mocking using `MockModule` also imports `CommonModule`

[2018-04-19 19:59] ike18t commented on #1
@conor-mac-aoidh

Out of curiosity, are you re-exporting CommonModule by chance?  Currently MockModule is recursively iterating through the module's imports (which would include exports).  Now that I think about it...that is probably not what it should be doing, but iterating over the exports instead.

Thoughts?

[2018-04-26 13:14] conor-mac-aoidh commented on #1
@ike18t I am not re-exporting `CommonModule` in the module I am trying to mock, I am just importing it.

I agree with your assessment, only the exports of each module should be mocked. That should solve the issue of mocking a module that imports `CommonModule`, but it doesn't fix the structural directives issue in #1. Maybe I should open a new issue for this?

[2018-04-27 20:39] ike18t commented on #1
@conor-mac-aoidh That would be great.  Thanks!

[2018-05-14 18:54] dauledk opened #9 "Support Angular v6"
When using this awesome library with Angular v6, it gives:
[code]

Would be awesome with support for v6.

[2018-05-15 06:30] dauledk commented on #9
@ike18t that is insance! I like your library so much. I have no idea how I should have tested our Angular application (in a good way) without this library. Do you have some work I can help with, or maybe a small donation? I work at a startup so might be very small - but you know, just wan't to show some support for this library 😄

[2018-05-15 06:33] dauledk commented on #9
Btw - I just installed the new version of `ng-mocks@6.0.0`, and now I get this warning:

[code]

My Angular core and form is version `6.0.1`

[2018-05-15 13:00] ike18t commented on #9
OK.  I think npm's semantic versioning did not like 5.x-6.x for a range (for whatever reason).  I just cut a patch release.  Let me know how it goes.

Thank you for the feedback!  It definitely was painful writing unit tests prior to this (for me) with test fixtures getting stale with updates to components that were manually mocked.  If you like this lib you may also like https://www.npmjs.com/pac

[2018-05-15 15:29] dauledk commented on #9
The patch release worked - awesome.

Sure - I will give shallow-render a look. Looks really awesome. I honestly think your ng-mocks is so good it should be part of Angular core. If they really mean what they say with "testing matters" 😄

I am not super experienced with directives, but will be happy to take a look at some point.

Thanks again!

[2018-05-15 15:29] #9 closed

[2018-05-29 13:15] kenborge opened #10 "Mocked component and host decorator"
If you have 2 nested components like this
[code]
And the inner component uses a host decorator to inject the outer component in it's constructor
`constructor( @Host() public outer: OuterComponent ) { }`

When you want to test the inner component it does not seem like it's possible to mock outer component in the tests as the component declared in the TestBed `MockComponent(OuterComponent)` is not f

[2018-05-29 15:27] ike18t commented on #10
https://stackblitz.com/edit/bah?embed=1&file=app/hello.component.spec.ts

Here's an example I whipped up really quick.

The meat of it is:
      providers: [
        {
          provide: AppComponent,
          useClass: MockComponent(AppComponent)
        }
      ]

[2018-05-29 16:04] kenborge commented on #10
I didn't know you could provide components, that's cool. But i modified your code to be closer to mine and it still didn't work.
The main difference is my "hello" component is projected content. So i move it in the tests and made a testComponent in the spec file.
[code]
It seems like it might be when projection is involved that the problem arises?

Here is the modified one, i added a new spec file

[2018-05-30 11:13] kenborge commented on #10
@getsaf Creating a TestComponent does have some pretty valid use cases. Like if you want to test projected content. So you need to compile something like:
[code]

It does seem like this is possible with the viewProviders approach though. It doesn't work using normal provide but overriding viewProviders seems to be a solution.
https://stackblitz.com/edit/bah-yfg6d8?embed=1&file=app/hello.component.

[2018-05-31 14:47] ike18t commented on #10
@kenborge Did that solve your problem?  Is it cool if I close this issue?

[2018-06-04 21:54] ike18t commented on #1
Structural directive support:  050e70ca22d810b1f9a8a8e2ff38253808eb42a6

[2018-06-04 21:54] #1 closed

[2018-06-04 21:56] ike18t commented on #10
Closing unless there is a reason not to.  Feel free to reopen if this is still an issue.

[2018-06-04 21:56] #10 closed

[2018-07-01 03:03] vespertilian opened #11 "Update mock component to allow setting values on a parent reactive form via the component"
Hi, Nice Library!

Would you be open to updating your mock component to allow Reactive Form values to be propagated out. I like to drive the reactive form, via the form element component, when I am testing so that I know that it is bound correctly.

Something like this:

#### Sample Class
[code]

#### Use in your test like this:

[code]

Maybe use `__propagatesChange` or some type prefix so as not

[2018-07-02 18:37] getsaf commented on #11
Thanks for the request, I have a *little* experience with Reactive Forms but I'm not following your question. Do you mind setting up a quick StackBlitz project to describe the issue? Don't worry about creating test in the StackBlitz, just a component that is representative of this issue so I can follow along with this feature request.

Thanks!

[2018-07-04 11:33] vespertilian commented on #11
Here it is

https://stackblitz.com/github/vespertilian/testing-reactive-forms-third-party-components

Might be easier to pull it and run it from the CLI

https://github.com/vespertilian/testing-reactive-forms-third-party-components

[code]

Basically when testing forms I prefer to drive the form not just use for formController instance in the component controller as that does not tell you if you h

[2018-07-18 15:25] ike18t opened #12 "StackBlitz"

[2018-08-03 03:58] vespertilian commented on #11
@getsaf Just checking in, you are probably busy, which is fine. If there is anything else I can do to help move this issue along please let me know.

[2018-08-03 14:02] ike18t commented on #11
@vespertilian What do you think about writeValue triggering the change callback? Would that solve your problem?

[2018-08-07 23:37] vespertilian commented on #11
Hey @ike18t, sorry for the late reply this slipped by me.

I had thought that as well initially, it's just as write value is normally used to set the value on the custom form control, I was concerned this will lead to unexpected behaviour, or hard to discover bugs.

I think this would work when you just grab the custom form control from the debug element and call writeValue.

However say you, or s

[2018-08-08 19:11] ike18t commented on #11
@vespertilian Fair enough. I don't have that much experience dealing with reactive forms so I'm going to have to lean on your experience.  Feel free to submit a PR.

[2018-08-09 00:47] vespertilian commented on #11
@ike18t Will do! Hopefully I can find some time this weekend.

[2018-08-13 00:40] vespertilian commented on #11
@ike18t No internet this weekend, it will have to be some time next week!

[2018-08-13 13:29] ike18t commented on #11
@vespertilian A weekend w/o internet?  Are you OK?  Did you survive?

[2018-08-14 23:17] vespertilian commented on #11
Yeah I had a great weekend, I was actually at a JavaScript camp. https://ix.campjs.com. So I figured it would be a good place to get the work done but every-time I tried to go to Github the 100+ other devs were also trying to download something, so I just gave up on the third timeout attempt.

I could have tried harder, but there were also waterfall walks and mountain vistas to checkout.

https://

[2018-08-16 07:25] frot-io opened #13 "Log-Messages from ComponentMock() on console when testing with Karma"
When I run `ng test --watch`, I get strange Log-Messages in the console:
[code]

These strange logs appear on every component in our project. The spec file is just:
[code]

Is there a chance to get rid of them? The tests obviously run nevertheless.

[2018-08-16 14:13] ike18t commented on #13
Hi @frot-io ,

First off, thanks for using ng-mocks.  Unfortunately this appears to be an issue with phantomJS: https://github.com/ariya/phantomjs/issues/13895.  I've tried to reproduce the issue with the ng-mocks tests by using the karma-phantom-launcher and including es6 polyfills, but I ended up getting stuck with some issue with zone.js's usage of Object.isFrozen.  I'd recommend using chrome h

[2018-08-16 14:34] ike18t commented on #11
Wow!  That is awesome!

[2018-08-20 15:05] frot-io commented on #13
Thank you @ike18t for answering and also for maintaining this project! I will file a bug report in our system and see, when someon has spare time to test it with headless chrome :)

[2018-08-21 00:27] jaadus commented on #13
I also get these logs when I try running tests using a MockComponent (Karma + PhantomJS)

[2018-08-22 14:15] ike18t commented on #13
@jaadus Yeah, it is kind of a bummer. You can see the explanation in my response to @frot-io . You are more than welcome to try to reproduce the issue with the ng-mocks tests. Then either I can take a look or if you are up to creating a PR to resolve the issue that would be awesome as well.

[2018-08-30 02:08] ike18t commented on #11
fe547af8d357a477774a161c0dcda7dd417ca7bb

[2018-08-30 02:08] #11 closed

[2018-08-30 13:23] Taquita opened #16 "Is there any way to mock the service, example MockService."
Sorry, I'm a beginner with tests on the Angular and on Jasmine, I figured out a way to perform the Mock of an angular service.

class MockSalesReportService extends SalesReportService {
  public getSalesForPeriod(initial: Date, final: Date) {
    return  null;
  }

beforeEach(async(() => {
    TestBed.configureTestingModule({
      declarations: [ SalesReportComponent ],
      imports: [ MockModul

[2018-08-30 14:05] ike18t commented on #16
Hi @Taquita !

This was pretty easy to understand so Google Translate did a good job. Hopefully it translates this back just as well.

Technically with MockModule providers are getting setup in the testbed with empty objects because I don't want to make assumptions on how the provider will be used and don't want to mask issues by having everything noop. What I typically do is setup a provider in a

[2018-08-30 17:53] Taquita commented on #16
@ike18t Thanks

Google translator helped yes, thank you very much, I will test the libraries.

[2018-09-04 12:51] ike18t commented on #16
Hey @Taquita ,

How'd it go? Did you get past your blocker?

[2018-09-04 13:05] Taquita commented on #16
Hey, @ike18t ,

yes, I'm with other doubts, but referring to something else now, if you can give me a tip. :)!

but it runs away from this topic, and its library.

[2018-09-04 13:20] ike18t commented on #16
@Taquita

Sure, what are you running into now?

[2018-09-04 13:41] ike18t commented on #16
Are the builders necessary? Do your tests require that much preconfigured state? Or can you get away with just stubbing out the state that you actually care about?

If you do need the builders, the standard I typically see is to have a "spec-helpers" directory and have builders be a sub-directory of that. Then you can create a path alias in your tsconfig (https://www.typescriptlang.org/docs/handbo

[2018-09-04 14:14] Taquita commented on #16
@ike18t

Thank you, it seems like a great solution,
:)

[2018-09-04 14:16] ike18t commented on #16
If you don't mind, I'm going to go ahead and close this issue.

[2018-09-04 14:17] Taquita commented on #16
OK! you can close.

[2018-09-04 14:17] #16 closed

[2018-10-02 05:10] rafehi opened #17 "MockComponent does not work with ViewChild"
Very neat library that's helping us find errors that were being hidden by `NO_ERRORS_SCHEMA`.

However, I've found that we're unable to use `MockComponent` with `ViewChild`:

[code]

It would be great if we could:
1. Use `MockComponent` in conjunction with `ViewChild`
2. Spy on component functions  through `MockComponent`

[2018-10-02 08:19] kekel87 opened #18 "MockComponents typescript signature"
Hello,
I have an issue when i trie to use `MockComponents` function.

[code]
I get :
[code]

I think the signature is not correct but I can not find anything to propose.

To workaround, i write `MockComponents<any>(MapComponent, ViewComponent, LoaderComponent)` but it's dirty.

Thank you for your help.

[2018-10-02 08:50] kekel87 opened #19 "MockModule no Directive annotation found"
Hello,
I try to mock a entire module using `MockModule(MyModule)` function.

But I get :
[code]

I think CommonModule is missing somewhere. This may be a link to issue #1.
Thank you for your help.

[2018-10-02 09:54] rafehi commented on #17
I've created a PR to implement the above:
#20

[2018-10-02 14:34] ike18t commented on #19
I went ahead and updated MockModule to never mock CommonModule.

Fixed with release of 6.2.2
cea5055b8194c12a7ca6ecd31182d9454941c8ed

[2018-10-02 14:34] #19 closed

[2018-10-02 14:34] ike18t commented on #17
Your PR was released in version 6.2.2
cea5055

[2018-10-02 14:34] #17 closed

[2018-10-02 14:36] ike18t commented on #18
I was not able to reproduce this issue and I'm even using MockComponents in my own spec: https://github.com/ike18t/ng-mocks/blob/master/lib/mock-component/mock-component.spec.ts#L46

What version of @angular & typescript are you using?

[2018-10-02 14:41] ike18t opened #21 "Error being thrown when using @angular v6.1.8 & v6.1.9"
Failed: Can't resolve all parameters for ApplicationModule: (?).
	Error: Can't resolve all parameters for ApplicationModule: (?).
	    at syntaxError (/tmp/karma-typescript-bundle-5704DW9kFrAmtZ6Z.js:18194:21)
	    at CompileMetadataResolver._getDependenciesMetadata (/tmp/karma-typescript-bundle-5704DW9kFrAmtZ6Z.js:28083:39)
	    at CompileMetadataResolver._getTypeMetadata (/tmp/karma-typescript-b

[2018-10-02 14:49] kekel87 commented on #18
Yeah, I do not reproduce with your project.

My project versions :
[code]

The only difference is that your components are not in a NgModule (according to WebStrom).

[2018-10-02 14:50] ike18t commented on #21
Looks like this is a known issue:
https://github.com/angular/angular/issues/26128

The fix is to include the following in your test shim:
[code]

[2018-10-02 14:50] #21 closed

[2018-10-02 17:39] ike18t commented on #18
It appears to have been an issue where the compiler would only check against the first item in the array. I was able to reproduce the issue and had to make the type any. 😞

New version has been released 69ebb9c36e85c77ccfe2cb7816f0f58ddd7d9cbf.  Let me know if you still run into the issue.

[2018-10-02 17:39] #18 closed

[2018-10-02 17:41] ike18t commented on #13
I'm going to close this issue since it is more of an issue with using PhantomJS which doesn't support ES6.

[2018-10-02 17:41] #13 closed

[2018-10-19 18:07] DanielHabenicht opened #23 "Update peer Dependencies to support Angular 7 without warnings"
Currently when installed with Angular 7 npm produces three warnings:
[code]

I did not encounter any problems when using the current version (6.2.1) with Angular 7

[2018-10-19 18:57] DanielHabenicht commented on #23
Nevermind, my packages were still outdated...

[2018-10-26 01:39] ike18t commented on #23
Fixed with release 7.0.0

[2018-10-26 01:39] #23 closed

[2018-10-31 15:28] Michael-Gusev opened #27 "Currently there's no way to access passed data as @ContentChild in mocked component."
Hey.

I use `@ContentChild` in my components and found if I want to mock it, then I can't inspect how passed blocks were rendered. There's support for `ng-content`, but nothing for `template`.

In test you can find an example of what I mean.
Please review changes there: https://github.com/ike18t/ng-mocks/pull/26.

[2018-11-01 00:54] ike18t commented on #27
Thanks for contributing! I have just released your changes.

[2018-11-01 00:54] #27 closed

[2018-11-01 12:28] kekel87 opened #28 "MockModule: template parse errors"
Hello, I have just updated library in version 7.1.0.

I mocked MatDialogModule by this way `imports: [MockModule(MatDialogModule)]`,
But have got this error :
[code]

I think, it comes from the MatDialogContainer template, as mentioned in error message.

I do not have this error if I only mock what I need:
[code]

[2018-11-01 12:47] kekel87 commented on #28
Ok i have another issue with `imports: [MockModule(MatListModule)]`.

I have try to rollback to the 6.3.0 and this works.
I try 7.0.1 and and this works great !

I conclude this caused by this commit : 9cee2471dcee0459e0cdd3ea1e4331a6073b45cd

[2018-11-01 13:49] Michael-Gusev commented on #27
Thanks!

[2018-11-02 14:04] Michael-Gusev commented on #28
Yeah: sorry about that, it's because of `@ViewChild` uses the same queries as `@ContextChild`. Please review fix there: https://github.com/ike18t/ng-mocks/pull/29.
All `@ViewChild` will be ignored, because they are related to mockedComponent and only `@ContextChild` will be rendered.

[2018-11-06 08:36] Michael-Gusev commented on #28
Hey @ike18t,

might you take a look to the fix?

[2018-11-06 09:56] Michael-Gusev commented on #28
Sorry again guys. Now it’s fixed and I also wait for the merge.

[2018-11-06 16:47] ike18t commented on #28
Sorry about that, I was out of town and left my computer at home. :-)

I have merged the PR and I'll try to get a new version released when I get home from work.

[2018-11-06 22:03] ike18t commented on #28
Just made a patch release.

[2018-11-07 09:47] Michael-Gusev commented on #28
Works well for me! Thanks!

[2018-11-09 13:30] ike18t commented on #28
@kekel87 Have you gotten a chance to see if your problem is resolved? If so would you mind closing this issue?

[2018-11-10 09:25] #28 closed, assigned to nobody

[2018-11-27 14:06] michaeljota opened #32 "An additional element is being created for ng-container"
Seems like an issue introduced with #26. In `v6.2.3` when I mocked an element that had `ng-container` elements, that element was not being render, but as `v7.1.1`, that element is creating a `div[data-key="ng-content"]` before the content of the container.

This is making my template test fail, because the template now have this additional element that is actually not available in runtime, so is a

[2018-11-28 13:46] ike18t commented on #32
I agree that those elements are unnecessary. It should be pretty easy to remove them and update the tests if you're interested in submitting a PR.

[2018-11-28 13:48] ike18t commented on #32
@Michael-Gusev Is there any reason that you can see not remove this?

[2018-11-28 14:09] Michael-Gusev commented on #32
Hi everybody.
The thing is that we can pass not only content, but also predefined templates.
Example how it can be passed: https://github.com/ike18t/ng-mocks/blob/master/lib/mock-component/mock-component.spec.ts#L27-L32
Example how it can be rendered: https://github.com/ike18t/ng-mocks/blob/master/lib/mock-component/test-components/template-outlet.component.ts#L6-L9

In my tests I usually assert t

[2018-11-28 14:13] Michael-Gusev commented on #32
I would recommend to update assertions to use result of `debugElement(By.css("app-some-mocked-component[data-key='ng-content']"))`, instead of debugElement(By.css("app-some-mocked-component")).

[2018-11-28 14:36] michaeljota commented on #32
@Michael-Gusev I'm using Jest, and `toMatchSnapshot`. You can read more here [Snapshot Testing](https://jestjs.io/docs/en/snapshot-testing)

[2018-11-28 14:40] Michael-Gusev commented on #32
@michaeljota, thanks for the info. Could you give me an example of test which fails? For example on https://stackblitz.com.

[2018-11-28 14:57] Michael-Gusev commented on #32
I think I found way how to don't add wrapper on empty ng-content or template.
PR will be done this week, hope today.

[2018-11-28 15:02] michaeljota commented on #32
@Michael-Gusev https://stackblitz.com/edit/jest-angula-div-report?file=src/app/app.component.html

All the `ng-container`s a being replaced with that div.

[2018-11-28 15:04] Michael-Gusev commented on #32
but it's mocked component, why do you expect it to be rendered as you original component?

[2018-11-28 15:13] michaeljota commented on #32
That's a good questing. I'm mocking some of the components that my component needs, but I'm not actually mocking the component that I'm having trouble with.

I can't reproduce my original file here, but I'll try to make something that resembles it.

[code]

[2018-11-28 15:19] Michael-Gusev commented on #32
Aha, so in our case mocked component doesn't accept any nested html as `ng-content` or `ng-template`.

As an option I can add logic if there's no injected `ContentChild` templates - then to render `ng-content` without any wrapper, because we can fetch it as `By.css('my-a')`.
It should solve the issue.
But once we have some `ContentChild`, then everything will be rendered inside of wrapper.
I'll tr

[2018-11-28 15:20] Michael-Gusev commented on #32
also `expect(wrapperEl).toBeNull()` has to fail anyway. It's mocked component which has own rules of render.

[2018-11-28 15:38] michaeljota commented on #32
@Michael-Gusev

I wasn't being created before, so I don't think it should be created now.

[2018-11-28 17:16] Michael-Gusev commented on #32
@michaeljota, might you try https://github.com/ike18t/ng-mocks/pull/33 and let us know how it works for you?

Thanks.

[2018-11-28 17:20] Michael-Gusev commented on #32
because before ng-mocks didn't support mock of ContentChild properties.

[2018-11-30 14:34] ike18t commented on #32
@michaeljota Did you get a chance to checkout the PR that @Michael-Gusev made?

[2018-11-30 17:11] ike18t commented on #32
No worries. @Michael-Gusev How confident are you that this resolves @michaeljota 's problem?

[2018-11-30 18:48] Michael-Gusev commented on #32
:) very good question. I would say if he doesn’t use Child decorator it should solve the issue. If he does, then it’s not possible to fix it due to wrappers we need to separate Ng-content from injected Ng-templates.

[2018-11-30 20:52] michaeljota commented on #32
I think I'm not. 👍

[2018-12-05 00:46] ike18t commented on #32
Hey @michaeljota , I'm going to go ahead and close this card but feel free to reopen it if you continue to experience the issue.

[2018-12-05 00:46] #32 closed

[2018-12-12 17:07] rwpino commented on #19
I m having this issue with MockDirective method

[code]

this issue is coming when I compile for production

[2018-12-15 15:28] ike18t opened #36 "Figure out a way to test a mocked structural directives input"

[2018-12-15 16:04] ike18t commented on #36
Maybe throw something on the directive host?

[2018-12-18 20:48] ike18t commented on #36
Hey @satanTime

I've been messing around with this trying to come up with a solution and nothing I've tried has worked out for me.  Do you happen to have any ideas on how this could be accomplished?

[2018-12-18 21:06] satanTime commented on #36
Hi. Very good question.

I've never written any structural directive. But if it's true as docs explain: https://angular.io/guide/structural-directives#inside-ngfor (they're syntax sugar), I think your library already has almost everything, except a way to pass `context` to `ng-template` override values in `let-...` syntax.

The same thing I use in some my templates with `let-` and had idea one day

[2018-12-18 21:13] ike18t commented on #36
It does have support for structural directives but the problem is that these directives aren't available on the host element's injector, unlike normal attribute directives. This makes getting the directive back out of the debug element in the test to assert on inputs challenging (if possible).

At this point I'd settle with throwing a data attribute on the host with the directive name and inputs b

[2018-12-18 21:19] satanTime commented on #36
Aha :) good to know. Let me dive inside one day to check how it works. Is there any branch where I could check what you'd tried before?

[2018-12-18 21:41] ike18t commented on #36
Good luck! https://github.com/ike18t/ng-mocks/tree/structural

[2018-12-18 21:46] satanTime commented on #36
☣

[2018-12-24 12:30] satanTime commented on #36
Hi @ike18t, how do you do?

Might you review possible solution? https://github.com/ike18t/ng-mocks/pull/40
Please don't merge it, I want to find a way how to select related directive in more easier way as you have in your example: `const debugElement = fixture.debugElement.query(By.css('#example-structural-directive'));`, instead of iterating through everything.

[2018-12-31 11:49] satanTime commented on #36
I've implemented helper function which works together with attribute and structural directives:

[code]

[2019-01-25 13:57] BuddyLReno opened #42 "Issue with Animations Library"
I'm building a project using Ionic v3 and I'm trying to write tests for some code in my Tabs page.  To do this I have to mock the page components.

[code]

When I do this, I started getting the error: `Cannot find module '@angular/animations'`.  I don't even use that but all my googling suggested I needed to import it. I did that and now when I run my test, I get this issue:

`TypeError: Cannot re

[2019-01-25 16:11] satanTime commented on #42
I’ll take a look on week. Seems caused by my changes.

[2019-01-28 22:43] #36 closed

[2019-01-31 13:33] satanTime commented on #42
Hi @BuddyLReno, could you try latest version of the package?

[2019-02-02 15:07] ike18t opened #44 "Allow mocking an internal vs external module"
My thought around this was that there would be two types of modules:

Internal module:
The module where your declaration lives.  In this case we don't really care about exports, we primarily care about imports.  The goal is to be able to provide a list of declarations to not mock to give it a quick mocked ecosystem. Internal module imports would all be made up of external module mocks.

External m

[2019-02-14 10:53] satanTime commented on #44
Hi @ike18t,

I hope you're doing well.
I was thinking about the solution and came to the next idea.

TestBed creates TestModule based on definition we provide, so in our case everything what we have in declarations is part of TestModule, and if the same declaration is used in another module - we receive conflict about double usage.

So if we have Module1 which has Component1 and Component2 and we

[2019-02-14 20:47] getsaf commented on #44
Hey guys, we have a pretty flexible solution for this in `shallow-render`. Basically, you configure your module mocks before creating the module like so:

[code]

I don't mind one bit if you want to pull my module mocking out and use it in `ng-mocks`. If it's fully compatible, I'll remove it from `shallow-render` and use the one provided by `ng-mocks` instead.

Could be something like:
[code]
You

[2019-02-15 09:38] satanTime commented on #44
Hi @getsaf, thanks for the suggestion I'll check your implementation.

In case of ng-mocks, there's no reason to replace neither RouterModule or AnimationsModule, they're mocked correctly, but if you want to use Test and Noop instead - no problem to do so too.

Last time when checked shallow-render I found that it uses different approach how to mock directives and, unfortunately, it doesn't cover

[2019-02-24 01:50] ike18t commented on #44
I've been toying with the concept of a MockModuleBuilder similar to the approach @getsaf mentioned. I think that we may be able to leverage the pre-existing cache logic that is used by the mock functions to thread in some overrides. If and when I get a functional POC I'll open a PR for you guys to check out.

[2019-02-24 06:37] satanTime commented on #44
as I understand goal of builder is to override some modules / components / declarations instead of mock. It can be done with `TestBed` itself without any builder: https://angular.io/api/core/testing/TestBed, there're `override*` methods which allow you to override any module / component / declaration in `TestBed` as you want.

If there're any other cases, which `TestBed` doesn't cover - let's disc

[2019-02-24 11:36] ike18t commented on #44
The use case that I was testing was a scenario when I wanted to override a
pipe that returns a mutated version of the transform argument. This
scenario is common on my team for verifying the translation key is correct
in our template by adding a prefix of "translated." to the pipe arg. From
what I could tell the override helper only allows updating of metadata so I
wasn't able to update the pipe t

[2019-02-25 20:22] satanTime commented on #44
Nice test case, checking.

[2019-02-26 01:11] ike18t commented on #44
I actually pulled in shallow-render into my team's application today. It really did simplify all of the boiler plate involved with getting TestBed up and running by just specifying the parent module and the component under test. The finders are also really nice since they return typed components so that I don't have to cast the resulting query component instance. It also allowed me to create a glo

[2019-02-26 01:12] ike18t commented on #42
I'm going to go ahead and close this issue since we haven't heard back. @BuddyLReno feel free to reopen it if your issue is not resolved.

[2019-02-26 01:12] #42 closed

[2019-02-26 06:23] satanTime commented on #44
Glad to hear! I also like its idea, the problem for me was only missed mocking feature for `ng-template`. In rest it has all required things.

Back to `ng-mocks`. In my todo list it was last task: to minimize usage of `TestBed` to provide only some declaration to test and mock whole `AppModule`. Very similar to this task.
Currently declaration from `TestBed` and declaration from `AppModule` has co

[2019-03-08 01:27] ike18t commented on #44
I think I'd choose the 2nd approach, primarily because it requires less boiler plate and is more about mocking a module.

[2019-03-08 14:42] satanTime commented on #44
Great, thanks for the feedback, next weeks I'll prepare PR.

[2019-03-13 07:43] ivi-hamiti opened #46 "Creating component wrappers"
When testing onpush component to simulate change detection you need to wrap the component with another one and most of the cases have the same input/outputs. So i propose to provide a method, called WrapComponent which mocks a component with the same inputs and outputs of the original one and also wire up the outputs. The template should contain the component we want to wrap and would bind all pro

[2019-03-13 07:46] satanTime commented on #46
Hi,

it's here, please check `MockRender`:
[code]
also you can always subscribe to outputs directly, behavior will stay the same as you do that in template.

[2019-03-13 08:22] ivi-hamiti commented on #46
yes this makes sense, but effort wise it will be the same effort as to create a component as a class

[code]

and the wrapped component template would be something like

`<item [prop1]="prop1" [prop2]="prop2"></item>`

where all these prop can be accessed like

wrapper.componentInstance.prop1....
wrapper.componentInstance.prop2....

as the wrapper will be `ComponentFixture<ItemComponent>` even tho

[2019-03-13 08:29] satanTime commented on #46
Exact case of what fixture of MockRender returns, actually it’s default behavior of TestBed itself. Not sure why you need one more wrapper around mocked component, you can access its inputs and outputs as you have on your example.

[2019-03-13 08:37] ivi-hamiti commented on #46
In the MockRender case you have to maintain the template rendered manually, if the component inputs or outputs change, the dev will have to change all the things and not always it is type safe.

Also to clarify the wrapper will wrap the original component, it should not be mocked as i am supposed to test the OnPush behaviour. In the previous example i am testing the `ItemComponent `and i am mockin

[2019-03-13 08:53] satanTime commented on #46
I can't see `OnPush` in your template example.
I guess you're doing something wrong here. if You want to test that `item.OnPush` is fired, you can assert it directly as:
[code]

[2019-03-13 09:00] ivi-hamiti commented on #46
To be clear as i may omitted the change detection strategy when describing the case, the ItemComponent has this declaration:
[code]

[2019-03-13 09:02] satanTime commented on #46
I see, could you create test env and share it here? I'll take a look for possible solution.

[2019-03-13 09:37] ivi-hamiti commented on #46
so the test case is as following

[code]

and the desired output would be

[code]

[2019-03-13 09:47] satanTime commented on #46
Thanks! I'll check this week.

[2019-03-14 21:21] satanTime commented on #46
So, now I see the problem.

Current solution is to use `MockRender` like that:
[code]
Also I'll try add new feature to pass Component directly to MockRender to add auto-mock.

[2019-03-14 22:24] satanTime commented on #46
Please review: https://github.com/ike18t/ng-mocks/pull/47
and here example of how to wrap: https://github.com/ike18t/ng-mocks/blob/114c3276b5bf5fd2d702b63c91f726beaaebce54/e2e/on-push/on-push.spec.ts#L65-L100

[2019-03-15 08:38] ivi-hamiti commented on #46
The approach is what i was ecpected but with only one change, i would expect the template to render all input and output bindings even if they are not defined in the params

[code]

this will be handy when you update the source component and change the bindings (add/remove/rename), add extra stuff, etc, which will reflect the changes directly to the MockRenderer template. As maintaining this will

[2019-03-15 08:49] satanTime commented on #46
Hi @ivi-hamiti, unfortunately, it won't work and your requirements here are nice example.
In your case you expect input to be an array in the component, we have to inject an array as input in parent component, but parent component can't guess automatically about types of properties. In case if we inject undefined, it will throw an error due to wrong type.
That's why we have to pass value for prope

[2019-03-15 08:51] satanTime commented on #46
you can try to render your component as
[code]
to reproduce the issue. Components also can expect variables of complex types too and only user knows how to provide them.

[2019-03-15 09:00] ivi-hamiti commented on #46
my idea was to reflect to the mock type the inputs/output properties of the source component and the generated template would have been bound to the prop

[code]

[2019-03-15 10:25] satanTime commented on #46
Right. How can wrapper understand that ‘items‘ should be an array?

[2019-03-18 07:48] ivi-hamiti commented on #46
As for the types, the wrapper should not care directly.

So i was going through your code changes for MockRenderer, as i see, it is doing what expected what expected, as even we do not provide any `params`, the template is being generated correctly (which i thought will not work). One thing to clarify is that the outputs which are being listened too but are not propagated to the mock component, so

[2019-03-18 07:53] satanTime commented on #46
Hi @ivi-hamiti, outputs work the same way as inputs.
[code]
generates and renders next template
[code]
old signature is valid in case if you pass there template itself. Then you're free to define properties. When we pass component itself we should respect component's interface.
I'll double check with outputs signature.
Anyway I don't see reason to generate outputs automatically because we also don

[2019-03-18 07:55] ivi-hamiti commented on #46
for the outputs thew thing with the spy makes sense

[2019-03-18 15:00] satanTime commented on #46
Just checked, and yes, you can pass any callback to wrapper with the same name as output name from injected component.

I think the issue can be closed. Please let me know if you need anything else.

[2019-03-18 15:49] ivi-hamiti commented on #46
Everything seems fine 👍, could you check the signature of the method? If that is fine you can close the issue

[2019-03-18 16:16] satanTime commented on #46
Just checked, we can still pass any properties as inputs and outputs, due to custom naming for inputs and outputs like `@Input('something') other: string;` we can't predict them and anything can be passed.

[2019-03-18 16:55] ivi-hamiti commented on #46
Yes but if you do not pass anything or you want to take advantage of intellisence the params can be anything which is not convenient as when something changes in the input params for ex. renamed, the method signature will not be able to reflect that.

[2019-03-18 17:01] ivi-hamiti commented on #46
Also you are right too, but providing overloads would give a better experience

[2019-03-18 17:02] ivi-hamiti commented on #46
But again if the binding you generate is based on the property name in the component, it will be safer and type safe too

[2019-03-18 17:03] satanTime commented on #46
That's what I meant above, we can't specify types.
In the case of `@Input('something') other: string` component's interface says only about `other`, but actually you need to pass `something: string`.
Also all `@Output`s by signature are `EventEmitters`, but users pass there callbacks, not `EventEmitter`s, but with type check it will be an error too due to component's interface which expects `Event

[2019-03-18 17:06] ivi-hamiti commented on #46
Totally correct. By package point of view the implementation is there, so if i would need something specific i can wrap this method by my needs, so we can close the issue

[2019-03-18 22:26] #46 closed

[2019-03-21 14:23] fsz opened #48 "MockComponent does not include attributes and methods of extended class"
I'm using MockComponent to mock a component that extends another class. In the mocked component are only the attributes and methods of the main class included but not the ones of the base class.

[2019-03-21 15:23] fsz commented on #48
Sure:

[code]

[2019-03-22 02:25] ike18t commented on #48
In order for those attributes and methods to be defined they would need to make assumptions as to the default value/implementation which is out of the scope of this lib and could result in some unexpected side-effects in your tests. You can always use a typescript mocking lib to extend one of the ng-mock objects if you need further behavior in a type-safe manner. I have an example of how to do so

[2019-03-22 02:31] ike18t commented on #48
Uggh I forgot to sign in to stackblitz so my changes weren't saved. Will redo them.

[2019-03-22 02:50] ike18t commented on #48
Updated the stackblitz and it saved this time:
https://stackblitz.com/edit/ng-mocks-examples?file=app%2Fapp.component.spec.ts

[2019-03-22 08:27] fsz commented on #48
In my particular case a method was called on a component that I accessed via ViewChild. That's why I included the last test scenario to make clear why it would be useful to not only have access to the inputs and ouputs on the mock but also to all other public attributes and methods.

But I see your point. I've just mocked the called method by myself as you recommended.
Thanks.

[2019-03-22 08:27] #48 closed

[2019-04-23 22:15] ike18t opened #49 "MockPipe cache is preventing tests from overriding implementation"
First MockPipe is always winning. About to push a change that will remove the cache for pipes.

[2019-04-23 23:00] ike18t commented on #49
058d66e9e9c102b1654263be95faedb89c243c4d

[2019-04-23 23:05] ike18t commented on #49
https://github.com/ike18t/ng-mocks/tree/v7.7.1

[2019-04-23 23:05] ike18t commented on #49
Released: https://github.com/ike18t/ng-mocks/tree/v7.7.1

[2019-04-23 23:05] #49 closed

[2019-04-26 07:28] sinedied opened #50 "Mocking Angular Material modules do not work"
I'm trying to mock Angular Material modules to avoid using NO_ERRORS_SCHEMA when doing shallow components testing, but it's not working for me.

At first, I tried mocking my `material.module.ts` which is just a module that re-exports all material individual modules, and it's not working at all as I get "unknown element <mat-card" and such.

Then I tried mocking all material modules individually wi

[2019-04-26 07:29] satanTime commented on #50
Hi @sinedied,

thanks for for the report. Could you create simple project and share its code to demonstrate the error?

[2019-04-26 08:13] sinedied commented on #50
Sure! Is a stackblitz project ok for you?

[2019-04-26 08:13] satanTime commented on #50
it's perfect

[2019-04-26 09:14] sinedied commented on #50
It was hard to reproduce, but here it is: https://stackblitz.com/edit/ng-mock-material-issue?file=src%2Fapp%2Fshared.module.mock.ts

Seems it's somehow related to the `mat-side-nav` module, as if you comment this part from `app.component.html` it's working.

[2019-04-26 09:23] satanTime commented on #50
Thanks I'll check next days and prepare fix.

[2019-04-26 09:39] sinedied commented on #50
I have pinpointed the issue to the `MatSliderModule`: if I exclude only this one from the mocks, it's working -> https://stackblitz.com/edit/ng-mock-material-issue-7ecjrd?file=src%2Fapp%2Fshared.module.mock.ts

[2019-04-26 12:49] getsaf commented on #50
This is an issue with auto-mocking the `HAMMER_GESTURE_CONFIG`. You will want to use the "real" version of that provider. MockModule auto-mocks the config which causes HammerJS to crap out when it tries to access a property on the config.

I would recommend enhancing `MockModule` in a way that allows you to specify which items in the module you would like to avoid mocking.

As a hack, you can re-p

[2019-04-26 14:16] getsaf commented on #50
Wanted to follow up that @satanTime has enhancements planned for `MockModule` that should address this in the future.

See [his comment](https://github.com/ike18t/ng-mocks/issues/44#issuecomment-467311697) about it on another issue.

[2019-05-13 11:11] IlCallo opened #51 "Mocking modules with entry components"
I'm trying to mock a Module which contains an entry component (used for a `MatDialog`), but `MockModule` seems to erase in some way the original `entryComponents` definition.
Is it intended behaviour?

[code]

I get `No component factory found for MyComponent. Did you add it to @NgModule.entryComponents?`

[2019-05-13 11:21] askarby opened #52 "[Enhancement] Provide explicit meta-data"
First things first, love the framework... great job!

Next...

I'm currently in a situation where I need to mock Ionic 4's Components, which are based on [StencilJs](https://stenciljs.com/). Since these are not Angular Components, but web components, it seems like ng-mocks is not able to generate EventEmitters from `@Output`-annotated properties.

So, I'm basically requesting a feature where inste

[2019-05-13 12:51] NetanelBasal commented on #51
@IlCallo Angular doesn't support `entryComponents` out of the box. In Spectator, we do the job for you.

[2019-05-13 13:21] IlCallo commented on #51
I see... From https://stackoverflow.com/questions/41483841/providing-entrycomponents-for-a-testbed there seems to be some kind of workaround.

Still, if it's technically feasible in some way (and I don't know if it is), shouldn't entry components mocking be in the scope of this package?

[2019-05-14 11:15] ike18t commented on #51
Hey @IlCallo ,

I added entryComponents to mocked modules and it was released in https://github.com/ike18t/ng-mocks/releases/tag/v7.8.0

[2019-05-29 13:09] askarby commented on #52
I've provided a PR for solving this issue: https://github.com/ike18t/ng-mocks/pull/53

[2019-06-03 21:45] #52 closed

[2019-06-10 16:38] IlCallo commented on #51
Hey @ike18t, we are having some troubles when testing `MatDialog` and mocking the component, possibly related to how you provide the mocked component.
Could you jump in into https://github.com/NetanelBasal/spectator/issues/106 and help us when you have time?

[2019-06-10 19:42] ike18t commented on #51
@IlCallo Not sure if you saw my response in that issue (which is now closed):

I don't have any experience using Angular Material but I do see that I can get the component's providers via the MockDirectiveResolver...that may be a slippery slope of needing to know what providers to mock vs what not to mock though.

[2019-06-11 09:42] IlCallo commented on #51
Many "popup" stuff in Angular Material is created using portals, which are some kind of slots where you can render dynamic content, obtained via Dependency Injection.

If those components aren't used anywhere else in a static way, Angular static compiler won't create a the required component factory function (which contains the metadata telling Angular how to render a component, which will probabl

[2019-06-28 19:55] privettoli opened #56 "Add value to MockComponent"
Expected behaviour:
Values written into MockComponent using `writeValue` should be stored inside custom components for verification of binding in unit tests.

[2019-06-29 10:07] satanTime commented on #56
Hi,

are you sure you shouldn't assert call of writeValue with proper arguments?

[2019-06-29 14:08] apapenko commented on #56
@satanTime, this was written as a state test, I don't see value in checking writeValue call because the end result is what I'm interested in, not how it's achieved. Feel free to add any other asserts or tests if that's part of the pattern you follow. I just want it to be in release so that tests from parent component that verify custom components value from form is possible (check formControl bind

[2019-06-29 14:10] privettoli commented on #56
@satanTime, this was written as a state test, I don't see value in checking writeValue call because the end result is what I'm interested in, not how it's achieved. Feel free to add any other asserts or tests if that's part of the pattern you follow. I just want it to be in release so that tests from parent component that verify custom components value from form is possible (check formControl bind

[2019-06-29 14:23] satanTime commented on #56
Could you provide code of exact test case you try to solve?

[2019-06-29 15:03] privettoli commented on #56
@satanTime, it's the one that's in the PR

[2019-06-29 17:08] satanTime commented on #56
then there's no reason to change code in the library, you can assert value by `expect(component.writeValue).toHaveBeenCalledWith(expectedValue)`. The idea of mocks is to isolate the behavior of the object you want to replace the other objects by mocks that simulate the behavior of the real objects. And how to simulate the behavior should be defined by developer, not by library. So if you want to s

[2019-06-29 17:21] privettoli commented on #56
Really, that makes perfect sense. :)
Consider the issue to be closed then.

[2019-06-29 17:21] #56 closed

[2019-07-09 08:31] dabbid opened #58 "getters mocked as simple function"
Hello,

I've encountered problem while mocking some angular material module (`MatAutocompleteModule` in my case). In my component that implements autocomplete, I have to check if panel is opened, and if so I close it. `MaAutocompleteTrigger` directive has a `panelOpen` property that returns panel's opened status, if we look at [source code](https://github.com/angular/components/blob/master/src/mat

[2019-07-17 08:48] daniel-sc opened #59 "New npm release"
Hi there,

https://github.com/ike18t/ng-mocks/pull/55 fixes an important bug/problem. Can you please cut a new (bugfix-) release?

Many thanks and keep up this gread lib!

[2019-07-17 13:37] undsoft opened #60 "Mocking internal package components"
Hi,

This may be two issues, but I'm trying to solve 1 problem.
Out project is split into several repos and they all consume modules from a core repo, which is build as an Angular package.

The problem is that this core repo only exposes modules, but not components.
Therefore I cannot do MockComponent(SomeComponent).

When I try to mock the whole module, I get weird errors like this:

	TypeError:

[2019-07-17 15:58] ike18t commented on #59
Standard version auto bumped minor for some reason but 8.1.0 is released.

[2019-07-17 15:58] #59 closed

[2019-08-13 13:43] ivarvh opened #61 "Mockcomponent cannot be used as an entry component."
I am using the ng-inline-svg library, whose module I import in my shared module. Now when I do MockModule(SharedModule), I get this error message:

`Error: MockOfInlineSVGComponent cannot be used as an entry component.`

I saw in a different issue, that entry components were added to version 7.8.0, and I am on version 8.1.0.

Any idea what's wrong here or how I can solve this?

[2019-08-27 23:34] evan-jehl opened #62 "@ContentChild wrapping fails with selectors that contain hyphens"
When mocking a component that has @ContentChild/@ContentChildren, if the selector for the content child contains a hyphen, which is part of standard kebab casing for Angular components, running tests with this mock component will cause an error similar to the following: Object({ ngSyntaxError: true, ngParseErrors: [ "-" is not allowed in reference names ("v *ngIf="mockRender_some-component" data-k

[2019-08-28 06:21] satanTime commented on #62
Hi @evan-jehl, thanks for the info, might you provide working code sample how to reproduce the issue?

[2019-08-28 06:22] satanTime commented on #62
or is it enough to make it `#some-component`?

[2019-09-13 10:32] iranicus opened #63 "Angular 4: Could not load summary for directive"
Heys, so currently we are unfortunately stuck on Angular 4 for awhile so not sure if its due to the version of Angular we are using but when running a test for a custom form control component that contains child components we seem to be getting the common error:

Error: Illegal state: Could not load the summary for directive ColourComponent.error properties: Object({ ngSyntaxError: true })

We are

[2019-09-14 17:24] ike18t commented on #63
Nothing obvious comes to mind when looking at your example. What version of ng-mocks are you currently using with your Angular 4 app? If you are on v8 I'd recommend downgrading to v7 but I'm not exactly sure if that is your problem or not. Do you mind trying to reproduce the issue in stackblitz or somewhere I have access?

[2019-09-14 17:56] iranicus commented on #63
Yeah sure, will sort out a stackblitz now, see if I can replicate it.

[2019-09-16 10:18] iranicus commented on #63
Hello again, managed to replicate the issue in a stackblitz,:
https://stackblitz.com/edit/angular-testing-dfdy1u

I updated the package.json to include the versions we are using with angular, jasmine, karma, typescript & of course ng-mocks (7.8.0). BTW a change, in that we use ng-bullet with our testbed build which is wrapped in the configureTestSuite() instead of the usual BeforeEach(async()). I

[2019-10-09 09:23] toshi38 opened #64 "Mocking @Input() set functions"
Somewhat related to #58

Sometimes you want to have a some code in a component that you will mock like:

[code]

Currently ng-mocks seems to mock these as an anonymous function, for testing it would probably be better to mock them as:

[code]

Then you could at least test something like:

[code]

This seems easier to solve then #58

... although perhaps #58  that can be solved with something simil

[2019-10-10 19:41] ike18t commented on #64
Hi @toshi38 ,

Currently the inputs that are on the component to be mocked are set through the angular component metadata and there is no explicit setup of the input's property. This means that by default input values on a mocked component will be undefined until something actually sets the value.

https://github.com/ike18t/ng-mocks/blob/master/lib/mock-component/mock-component.ts#L77

[2019-10-22 12:28] xandar commented on #61
Do you have any update on this situation ?

[2019-10-25 20:18] ike18t commented on #63
Hi @iranicus

Sorry for the much delayed response. You are correct that ng-mocks doesn't support Angular 5...I totally forgot about that. I believe that the old 0.7.0 version of mock-component has angular 4 support. For some reason stack blitz isn't allowing me to install deps so I was not able to try it out for myself.

[2019-10-26 08:26] iranicus commented on #63
Hello there @ike18t
For the moment I have manually created my own mock components which do the job, we are planning on updgrading to Angular 8 however early next year. When that happens we will likely switch over to ng-mocks after I've trial ran it again when the time comes. Thanks now.
Richard

[2019-10-26 08:26] #63 closed

[2019-11-01 11:38] giampierobono commented on #61
same issue here :(

[2019-11-01 12:18] giampierobono commented on #61
we use jest and I solved this issue by mocking the ng-inline-svg module.

1) add a root folder __mocks__
2) create a file ng-inline-svg
3) mock the module

[code]

I hope it can help ;)

[2019-11-18 16:44] kekel87 opened #67 "MockRender fixture.detectChanges() call"
Hey, we encounter an issue when we using MockRender.
We want to check stuff in `ngAfterViewInit` of tested child component.
But in [MockRender](https://github.com/ike18t/ng-mocks/blob/452818b52ce19d60bbe200fdddb8a14a84303f15/lib/mock-render/mock-render.ts#L60) you call `fixture.detectChanges();`, it's impossible to spy what's going on inside.

It's possible to remove this or make it parametrizable

[2019-11-20 12:08] joebell1329 opened #68 "@ContentChild mocking fails with html attribute selection"
When mocking a component that has `@ContentChild` projection, the generated mock will be invalid if the `@ContentChild` uses an HTML attribute selector.

e.g. `@ContentChild('[projectedContent]'...` with `<div projectedContent>This is not mockable</div>`

This does not appear to be an issue when using Angular template reference selection

e.g. `@ContentChild('projectedContent'...` with `<div #proj

[2019-12-17 21:08] rmcc13 opened #69 "Add support for mocking inherited members"
It looks like the `MockComponent` method does not setup methods from inherited methods. The code for setting up mock methods for both [MockDirective](https://github.com/ike18t/ng-mocks/blob/master/lib/mock-directive/mock-directive.ts#L73) and [MockComponent](https://github.com/ike18t/ng-mocks/blob/master/lib/mock-component/mock-component.ts#L96) only gets methods from the class's prototype but doe

[2020-01-03 18:00] shaungrady commented on #61
I'm facing this issue with the Bootstrap library:

The `shallow-render` lib gets around this by providing [dontMock] and [neverMock] methods, telling the library not to mock the passed-in tokens.

[neverMock]: https://github.com/getsaf/shallow-render/wiki/Mocking#skip-mocking-globally-with-nevermock
[dontMock]: https://github.com/getsaf/shallow-render/wiki/Mocking#skip-mocking-with-dontmock

[2020-01-04 10:40] giampierobono commented on #61
You mean to avoid mocking `NgTooltipModule`?

[2020-01-05 09:39] aymeric-duchein commented on #67
Hi! I have a similar problem. I'm trying to spy something done inside the constructor of my component.
The issue here is that spies are reset by the `TestBed.configureTestingModule` call. But to achieve what we want, we have to add our spies before the `TestBed.createComponent` call.

A solution to this problem would be to change the mockRender function signature to something like
(the name of the

[2020-01-05 21:13] shaungrady commented on #61
@giampierobono correct. So you can still mock a module, and at the same time avoid mocking predefined components/directives/services/submodules, and that no-mock blacklisting can be configured ahead of time in the test setup phase.

[2020-01-09 17:21] scote commented on #51
I am facing the same issue. Is there any update on that?

[2020-01-10 11:29] DaSchTour opened #70 "MockModule creates mocks for imported modules which then creates conflicts"
If you have a test for Component A which imports a module B as a mock an module C as a non mock module C is not allowed to be part of module B because then a mock for module C is generated which then creates conflicting components.

[2020-01-22 02:43] ike18t commented on #67
I added an arg to MockRender to allow more control of when detect changes fires by allowing the user to tell it not to fire. This will allow the user to trigger it themselves. Let me know what you think.

[2020-01-23 11:19] Lonli-Lokli opened #72 "Cannot mock child component's DI services"
Currently it's not possible to automock services inside childs as they are ignored
Steps:

Clone https://github.com/Lonli-Lokli/spectator_bug_child

Install dependencies and run
yarn test
All works
Change app.component.spec.ts:
from
ChildComponent
// MockComponent(ChildComponent)
to
// ChildComponent
MockComponent(ChildComponent)
and run yarn test
Test failed:
AppComponent › should create the app

[2020-01-23 13:56] ike18t commented on #72
The main question I have is why would you want to? It seems like this request stems from a deeper issue of the parent component having too much context on what is going on under the hood of the child component.

For something like a provider where it is a singleton, it would make more sense to DI it into the parent and use the provider that way which would cut out the middle-man of the child compo

[2020-01-23 14:19] Lonli-Lokli commented on #72
In our case Child is a Grid and Parent is a View. Service inside Child is not a Singleton, it's a instance-related and provided with bunch of other services via providers for Child component declaration.
EG we have DaatsourceService and displaying somewhere in Parent number of loaded rows.

[2020-01-23 14:53] ike18t commented on #72
Gotcha.

MockedComponents are intended to be shallow and only consist of inputs and outputs. When I've encountered similar issues to this in the past where I need the mocked component to have additional implementation detail I typically query for the component and extend it (via a mocking lib or just assignment) prior to the behavior that has the expectation of the additional implementation existi

[2020-01-23 22:15] ike18t commented on #69
Neither MockComponent or MockDirective have any methods from the class's prototype. The mocked entities consist of strictly inputs & outputs. If you need further implementation detail in your mock then in your test you can query for the mocked entity and extend the instance using either a mocking framework or by plain old assignment.

[2020-01-29 13:57] kekel87 opened #73 "Allow __simulateChange to MockedDirective"
Hello,

In my team we try to find the best way to test mocked MatInput directive in FormGroup.
We think the best way should be :

[code]
Could you please implement __simulateChange to directive or indicate us the best way to achieve this.
Thank in advance.

[2020-02-05 09:41] kekel87 commented on #67
Hi, thank you for your responsiveness. I left you a comment on PR.

[2020-02-05 09:42] kekel87 commented on #67
I think it would be better if it was false by default.

[2020-02-19 20:08] satanTime commented on #50
Hi guys, sorry for the long delay, work, you know. Checking the thing.

[2020-02-19 21:28] satanTime commented on #50
So, I was trying to reproduce the issue with angular 9, but no luck. The stackblitz.com sample is too old and I can't run it easily on node 12, it requires node 10.

[2020-02-20 19:48] satanTime commented on #51
At leat for Angular 9 there's no issue anymore: they say `entryComponents` `* @deprecated Since 9.0.0. With Ivy, this property is no longer necessary.` but it requires this PR https://github.com/ike18t/ng-mocks/pull/80.
With Angular 8 I was able to reproduce `Failed: Cannot read property 'indexOf' of undefined`. Working on fix.

[2020-02-20 19:59] satanTime commented on #51
Added fix to the same PR, it requires to avoid mock of the 'InjectionToken HammerGestureConfig' provider.

[2020-02-20 20:50] satanTime commented on #58
There's the fix for your issue: https://github.com/ike18t/ng-mocks/pull/81

[2020-02-20 21:06] satanTime commented on #60
Hi @undsoft, might you provide more info, or maybe a code sample of the issue?
I think next setup should work for you:
[code]

[2020-02-20 22:08] satanTime commented on #61
Hi, there's fix to mock `InlineSVGComponent` correctly https://github.com/ike18t/ng-mocks/pull/82

[2020-02-20 22:43] satanTime commented on #62
Currently angular says #foo-bar `'-' is not allowed in reference names`. I would say nothing should be changed.

[2020-02-20 22:55] satanTime commented on #70
Hi @DaSchTour, you are right, unfortunately, that's a current limitation. Also for the proper correct testing whole environment should be mocked, except testing component.

If you need to avoid a dependency from mocking, I would suggest - declare it right in the `declarations` beside testing component.

Your issue can be closed as a duplicate of https://github.com/ike18t/ng-mocks/issues/44. Once i

[2020-02-20 22:57] satanTime commented on #50
Should be fixed by https://github.com/ike18t/ng-mocks/pull/80

[2020-02-20 23:10] satanTime commented on #68
Hi, I'll take a look during next days. Current implementation supports only ids, but I'll check if it's possible to extend it to support not only id but also any selectors.

[2020-02-21 18:03] satanTime commented on #68
I've checked your case and if you run your code - you can't see anything. Neither "This is mockable" nor "This is not mockable". Because `@ContentChild` works with `ng-template`.
To make your code working we need to replace `div` with `ng-template` then you can see that actually only the first component (with id) works and the second with attribute still doesn't render anything.
I would recommend

[2020-02-21 18:11] satanTime commented on #73
Hi @ike18t, looks like directives and components have too many things in common. Should we combine them together while mocking through a shared base class?

[2020-02-21 19:00] ike18t commented on #73
That makes sense to me.

[2020-02-22 22:09] satanTime commented on #73
Hi @kekel87, could you check if https://github.com/ike18t/ng-mocks/pull/86/files works for you?

[2020-02-26 20:24] satanTime opened #87 "Add support to inject a library-related service mocker"
The idea is to provide support `ts-mockery` as peerDependency and to allow user to mock everything `ng-mocks` mock with a specified library.

For example adding in a setup script of karma or testing framework
[code]
or
[code]

and in that case we use specified library to mock methods instead of setting `() => {}` everywhere.

[2020-02-26 21:56] satanTime commented on #72
Hi everybody, possible fix https://github.com/ike18t/ng-mocks/pull/88
@Lonli-Lokli, could you check whether it solves your issue?
There's no spy on it, but at least it shouldn't fail.

[2020-02-28 07:03] satanTime opened #89 "Add a sample test to examples"
We need to add a real test based on this change: https://github.com/ike18t/ng-mocks/commit/d07b78de0985e6496d6725f8087aeb3d4ea06e7c

[2020-02-29 16:25] satanTime commented on #44
Currently I'm preparing PR. Please let me know your ideas about it.

[code]

[2020-02-29 17:31] satanTime opened #90 "Get rid of tests in production build"

[2020-03-02 21:42] satanTime opened #92 "Add support for Directive selector whether mocked or not for ContentChild in Components"
I think if to play with the code we can add its support.
The key in could be directive name, for example `__mockView_MyDirective` (and we need to respect mocked directives too).

[2020-03-03 22:03] satanTime commented on #44
Tomorrow I'll updated docs. The PR is ready for a review.

[2020-03-09 19:40] satanTime commented on #89
Already exists in `lib/mock-component/mock-component.spec.ts`

[2020-03-09 19:40] #89 closed

[2020-03-12 22:41] satanTime commented on #69
Hi @rmcc13, could you check if related PR works for you?

[2020-03-21 00:38] #73 closed

[2020-03-21 00:53] #72 closed

[2020-03-21 08:48] #61 closed

[2020-03-21 08:49] #58 closed

[2020-03-21 08:49] #51 closed

[2020-03-21 08:49] #50 closed

[2020-03-22 11:02] satanTime opened #96 "Cache break of MockComponent"
Unfortunately, there's an issue with cached component because cache doesn't respect 2nd argument of MockComponent and we have the same problem as MockPipe has when we pass there different transformers.

https://github.com/ike18t/ng-mocks/commit/df563344f2da6f725e82b3279793c7b8a1043c18

A possible solution is to redo this feature in a proper way.
* It can be redone with the MockBuilder as configura

[2020-03-28 12:35] #90 closed

[2020-03-28 13:09] #69 closed

[2020-03-28 14:47] satanTime commented on #60
Hi @undsoft,

might you test the issue on 10.0.0-alpha.0 with the MockBuilder https://www.npmjs.com/package/ng-mocks/v/10.0.0-alpha.0#mockbuilder ?

[2020-03-28 14:47] satanTime commented on #70
Hi @DaSchTour,

might you test the issue on 10.0.0-alpha.0 with the MockBuilder https://www.npmjs.com/package/ng-mocks/v/10.0.0-alpha.0#mockbuilder ?

[2020-03-28 21:46] satanTime opened #101 "CHANGELOG.md has duplicates"
Hi @ike18t,

if you check the file you can find that it has a lot of repetitions. Looks like very time the logs is generated it is adding the whole history instead of the diff.

Unfortunately, I'm not familiar with the tool generating it and can't be helpful here.

[2020-04-03 17:37] satanTime commented on #96
Hi @ike18t,

I hope you are fine.

I was thinking about https://github.com/ike18t/ng-mocks/commit/df563344f2da6f725e82b3279793c7b8a1043c18 and, being honest, can't find a way how to reimplement it with the correct cache support.

Because
[code]
and
[code]
and
[code]
simply don't work all together.

We can implement `createMockComponent()`,  `createMockDirective()` etc. as a replacement of the requ

[2020-04-06 08:50] satanTime opened #102 "Support mock of component's level providers"
The info is here: https://angular.io/guide/providers#limiting-provider-scope-with-components.
* we want to replace the service
* we want to mock the service
* check how it works with `ng-content`, do they get a service from the parent component?

for example the `DOCUMENT` token, we can't override it with normal providers because it will break the test render, we have to override it only on the co

[2020-04-06 10:50] satanTime opened #103 "better spy on getters / setters"
with `MockService` we need to set spy on getters and setters correctly because if there is a readonly property it is tough to set its value in the test.

[2020-04-16 12:02] omnibrain opened #108 "Documentation / Example for MockService"
I'm trying to figure out how to use `MockService` but I don't get it. An example would be very helpful, as done for the other mocking functions.

Very useful library BTW! Shame Angular doesn't provide something like that out of the box.

[2020-04-16 12:06] satanTime commented on #108
Hi,

at current point `MockService` is more internal thing and used in `MockModule` to mock providers.
Although you can use it too, simply pass into it a class or an object. result will be a mocked instance that has the same methods as the passed class, or an object that has function as original one. All properties / keys that aren't functions will be omitted.
The purpose of the `MockService` is t

[2020-04-17 06:15] omnibrain commented on #108
Ok, that makes sense, thanks a lot for the explanation! I'm closing this issue.

The auto mock feature looks awesome, that's exactly what I was hoping for. Any idea if / when this will be merged?

[2020-04-17 06:15] #108 closed

[2020-04-17 06:24] satanTime commented on #108
I think it will be released this or next weekend. You can subscribe to the notifications in the top bar "Watch - Releases Only"

[2020-04-17 08:06] twjacobsen opened #109 "Rendering mocked component ContentChildren broken after upgrade to ng9"
I have a number of component tests in my project, that rely on mocking dependant components. Many of them also rely on rendering outlets in these mocked components.

Before upgrading to ng9, everything worked just fine. But now, the outlets aren't rendered anymore. I've tried debugging, and I've found that in this line https://github.com/ike18t/ng-mocks/blob/master/lib/mock-component/mock-componen

[2020-04-17 08:09] satanTime commented on #109
Hi @twjacobsen, thanks for the report. Might you share `@ContentChild`, `@ContentChildren`  you have in the failing component? I'll try to reproduce it locally.

[2020-04-17 08:16] twjacobsen commented on #109
Here's the source of the component I mock (template and ts):

[code]
[code]

[2020-04-17 08:17] satanTime commented on #109
Awesome! Thanks! I'll check next days.

[2020-04-18 10:00] satanTime commented on #109
I was able to reproduce the issue, working on fix.

[2020-04-18 14:13] satanTime commented on #109
Hi @twjacobsen, could you verify the fix?
you need to download: https://github.com/satanTime/ng-mocks/archive/issues/109.zip
[code]
you should get `dist` directory. Simply  replace `node_module/ng-mocks/dist` with it and execute `npm run test` in your project.

[2020-04-18 15:00] twjacobsen commented on #109
Thanks, I'll verify if I get time this weekend, otherwise I'll check it Monday 👍

[2020-04-18 17:13] twjacobsen commented on #109
On first sight, it looks very promising. I still have a few failing tests, but I'll have to verify if they're related to ng-mocks or some other Ivy related change - I'll do this monday :)

[2020-04-23 07:03] twjacobsen commented on #109
@satanTime My co-worker has just verified, that your fix is working as it should 👍 Sorry for the delay!

[2020-04-24 12:47] satanTime commented on #109
Ha, I was writing a test with mock of ContentChild in a new angular9 project and got the issue too.

[2020-04-24 13:03] satanTime commented on #109
Hi @ike18t, let's release a new version this weekend if you don't mind. I need this fix for beta version.

[2020-04-29 11:42] satanTime opened #111 "MockBuilder: keep all dependencies for kept modules"
If we want to keep a module then we need to keep all its dependencies too until user says he really wants to replace / mock some.

Otherwise because of priority their dependencies can be mocked too, an example is `RoutingModule` or `ApplicationModule` and its tokens.

[2020-05-09 17:23] #87 closed

[2020-05-09 17:23] #103 closed

[2020-05-09 17:54] #102 closed

[2020-05-09 18:55] satanTime commented on #101
Aha - this one comes because of releases between different branches - the release lib adds changelog over and over again on merge commits.

[2020-05-09 18:56] satanTime commented on #70
Hi @DaSchTour, any update? You can try improved 10.0.0-alpha.3

[2020-05-09 18:57] satanTime commented on #68
Hi @mattwilson1024 and @joebell1329, have you solved the issue or you need any assistance?

[2020-05-09 18:58] satanTime commented on #67
The fix has been merged and will be released tomorrow.

[2020-05-09 18:59] satanTime commented on #62
Closed as expected behaviour

[2020-05-09 18:59] #62 closed

[2020-05-09 19:00] satanTime commented on #60
Hi @undsoft, have you tried beta version? 10.0.0-alpha.3 is the latest now.
Please let me know your feedback.

[2020-05-10 12:53] satanTime commented on #101
I removed all redundant logs, a possible solution - to use `npm run release` only for master branch. For beta and other - do it manually without touching CHANGELOG

[2020-05-10 12:53] #101 closed

[2020-05-10 12:53] #67 closed

[2020-05-10 12:53] satanTime commented on #67
Please check 9.3.0

[2020-05-10 12:55] satanTime commented on #109
Hi @twjacobsen, 9.3.0 has been released, please let me know if you meet any issues.

[2020-05-10 13:38] twjacobsen commented on #109
We will install the updated version later next week and let you know about the results

[2020-05-11 05:16] sheikalthaf opened #117 "@Untildestroy decorators breaks the mock component"
Hi,

I'm using the [@ngneat/until-destroy](https://github.com/ngneat/until-destroy) library. If i try to mock the component. Then I'm getting error like `TypeError: Cannot read property 'get' of undefined`. How to solve this?

Thanks for this awesome library

[2020-05-11 06:44] satanTime commented on #117
Hi @sheikalthaf,

thanks for the report, might you provide a simple example how a component and a test that reproduce the issue?

I'll take a look later this week.

[2020-05-11 06:51] DaSchTour commented on #70
Hey, I'll have to check and find my example. Lot of work and lot of refactoring later I can't currently find it. Will need to rebuild it probably. Sorry. Hope I'll find some time for that soon.

[2020-05-11 06:54] satanTime commented on #70
Totally agree, if you don't mind I would suggest to close the issue and feel free to reopen it or to submit a new one. Quite sure the issue has been fixed, because I met the same problem before.

[2020-05-11 18:54] satanTime commented on #117
I wasn't able to reproduce the issue:

`app.component.ts`
[code]

and its test `app.component.spec.ts`
[code]

`app.module.ts`
[code]

[2020-05-11 19:23] sheikalthaf commented on #117
@satanTime Thanks for detailed response. I'm using `jest` for testing and also I'm using `MockComponents`. Maybe it is the problem?

[2020-05-11 19:25] satanTime commented on #117
I see, might you provide an example how to reproduce the issue? Stackbiz or a zip archive.

[2020-05-11 19:38] sheikalthaf commented on #117
@satanTime will create a repo and share with you.

[2020-05-12 14:56] #70 closed

[2020-05-15 06:43] twjacobsen commented on #109
@satanTime I finally got around to upgrading last night, and most of our tests are running now - but some, that used to run are now broken.

From what I can tell, decorated methods are omitted from the mocked component...does that make sense to you?

Specifically, I have a test that is creating a spy on a method from a mocked component, but it fails because the method is not found. I've compared t

[2020-05-15 07:52] satanTime commented on #109
@twjacobsen, thanks for the update, a very interesting turn :)

Might you share how you decorate the missed methods?

Recently we added code that mocks all methods, but I guess it was in the code base when you met the issue: https://github.com/ike18t/ng-mocks/commit/b119547292312ffb5d4bf87d839195da78bcb8aa

Also as an option you can try auto spy: https://github.com/ike18t/ng-mocks#auto-spy
And the

[2020-05-15 08:24] twjacobsen commented on #109
I've just re-run the tests on `ng-mocks@10.0.0-alpha.5` and the error is the same.

The methods in question simply have the `@Memoize` decorator from `lodash-decorators@4.5.0` - nothing fancy.

Also, using auto-spy does not work either - the method is still not defined on the mock object.

One (maybe important) detail is, that the mocked component is referenced in the tested component from `@ViewC

[2020-05-15 08:38] satanTime commented on #109
Thanks! I'll check next days. Might you confirm `TestBed`?

[code]

[2020-05-15 08:41] twjacobsen commented on #109
Yup, that's how it's set up.

[2020-05-15 16:29] satanTime commented on #109
Aha, I was able to reproduce the issue. Working on the fix.

[2020-05-15 17:09] twjacobsen commented on #109
Ah, but AFAIK that's pretty common for decorators to do, right? I hope you can figure something out - I'm pretty much a novice when it comes to how angular components work under the hood, otherwise I'd love to help out

[2020-05-15 17:40] satanTime commented on #109
I found a way, finalising changes.

[2020-05-15 19:07] satanTime commented on #109
Hi @twjacobsen, might you verify that changes in https://github.com/satanTime/ng-mocks/tree/issues/109 work for you?

That's the test I've used
[code]

[2020-05-15 19:49] twjacobsen commented on #109
Yes, using your branch works, if I also use `MockHelper` before creating the spy. 👍

[2020-05-15 19:50] satanTime commented on #109
Awesome, I'll release a new version on Sunday.

[2020-05-17 09:16] #109 closed

[2020-05-17 09:35] satanTime commented on #109
Hi @twjacobsen, 9.4.0 has been published. Please let me know how it works for you and happy coding!

[2020-05-17 09:50] satanTime commented on #117
Hi @sheikalthaf, I think something similar was discovered in issue #109 with other decorators. Might you update to 9.4.0 and verify if the issue is still here?

I assume that `.get` comes from a property of a component, before 9.4.0 ng-mocks  was ignoring mocking of properties, now it mocks them.

There is more info about that [MockHelper.mockService](https://github.com/ike18t/ng-mocks#mockhelper)

[2020-05-17 11:04] satanTime commented on #60
I'm closing the issue due to no feedback, feel free to reopen it if you meet any issues.

[2020-05-17 11:04] #60 closed

[2020-05-17 11:05] satanTime commented on #68
I'm closing the issue due to no feedback, feel free to reopen it if you meet any issues.

[2020-05-17 11:05] #68 closed

[2020-05-17 11:07] satanTime commented on #111
The issue was caused by TOKENs only because they are used with `multi` flag to provide additional configuration, https://github.com/ike18t/ng-mocks/pull/118 doesn't add them anymore if they weren't explicitly specified during building process.

[2020-05-17 11:07] #111 closed

[2020-05-17 13:24] sheikalthaf commented on #117
I solved this problem by running my test with ivy enabled. Still I will give it a try with latest version.

Thanks for this library which reduce my lots of boiler plate code in testcases

[2020-05-17 13:54] satanTime commented on #117
Aha, ivy - that's nice :) then definitely please give a try 9.4.0, quite sure it won't have the issue. If it does I would like to ask you to find some time some day and create an example of the issue. Perhaps it's possible to invite me to the repo for the investigation.

[2020-05-18 10:50] satanTime opened #121 "Write tests for MockBuilder w/ and w/o tokens"
We need to investigate `multi` key of providers deeper to ensure whether we can mock some of them, for example in case of `multi: false` we can mock tokens otherwise we should skip them.

The idea is to write a module with a token and a component that injects the token. When we use `MockBuilder(component, module)` and then `MockRender(component)` it shouldn't fail due to missed token and shouldn't

[2020-05-18 12:26] satanTime opened #122 "Add a helper function to MockService to accept overloads"
instead of
[code]

to have an option like
[code]

ensure that it supports readonly properties and methods too.

[2020-05-22 10:46] everkin opened #126 "Allow to get control value from MockControlValueAccessor"
When testing angular components, we use the Page Object pattern to simulate the user experience and access the form field not through the component, but through view. Thus, we check the correctness of the bindings in the template and abstract from the internal implementation. In this case, we can change the Reactive Forms to Template-Driven Forms without changing the tests. So, I would like to ref

[2020-05-22 10:49] satanTime commented on #126
I think in this test you need to assert that `this.loginControl.setValue` has been called with `login` because there's no dependency on the login input inside of `ngOnInit`

[2020-05-22 10:55] vladiag commented on #126
@satanTime In your version you will work with controller of component, in our case we are trying to abstract of realisation and write test on component as Black Box. We have template and mocking of data and out tests writing as Controller not exists, in my opinion it's better, than i will assert that i have formControl, than i will test that i call method on FormControl, after 2 weeks i decide to

[2020-05-22 11:05] satanTime commented on #126
That's exactly the reason to test right things. Because if after 2 weeks you decide to use in the test a real component instead of the mocked one the test will fail due to missed `__value` in the real comment, when normally it shouldn't happen.

[2020-05-22 11:12] everkin commented on #126
But this is unit tests, they should mocking not only services, but also components.
If you consciously change the environment of a unit test, then the tests themselves can change
__simulateChange is not present in real components either

[2020-05-22 11:18] vladiag commented on #126
Alse can add, that ControlValueAccessor - it input and outputs what you are writing in your post, we don't want about realisation (NgModel, FormControl, FormControlDirective, etc.), we only know about ControlValueAccessor with their contract

[2020-05-22 11:24] vladiag commented on #126
Additionaly, we can overthink current vision and Inject NgControl in current mocked component and make it public, i think that will more more flexible, because
1. we can delete __simulateChange, __simulateTouched,
2. can test validity, touched, dirty and other property of control
3. still don't know about realisation

[2020-05-22 11:28] satanTime commented on #126
if you test the component as black box then it means that `loginControl` and `loginService` are parts of its public interface, we pretend we don't know how it's used inside.
From our business requirements we know if we call `loginService.getLogin()` it should affect `loginControl.setValue` and this part should be covered.

Another black box part is the component's template and how it used `loginCo

[2020-05-22 11:33] satanTime commented on #126
2: @vladiag, about removal of `__simulateChange` and `__simulateTouched`, it makes sense, but I think first we need to deprecate them with a proper example.

What about a spy on `writeValue` call?

it('If login comes in, then it is put in the form field', () => {
    // arrange
    spyOn(pageObject.loginInput, 'writeValue');
    when(loginServiceMock.getLogin()).thenReturn('login');

    // act

[2020-05-22 11:42] satanTime commented on #126
I think `__simulateChange` and `__simulateTouched` confuse people with how to work with mocked `ControlValueAccessor` and should be deprecated. The right way should be a usage of spies on them or something else, this part requires a proper investigation first.

Please let me know what you think.

[2020-05-22 11:43] vladiag commented on #126
We will stop on spies, that cover out request) thx @satanTime

[2020-05-22 11:45] satanTime commented on #126
Great, I like this way too. If you want you can update the PR with better readme on how to work with `ControlValueAccessor` and spies.

[2020-05-22 11:45] vladiag commented on #126
But i think it's not right that when i change form `[formControl]="loginControl"` to `[ngModel]="loginControl.value" (ngModeChangel)="loginControl.setValue($event)"` i should rewrite tests (with spies i will not rewrite, it's just for record)

[2020-05-22 11:47] satanTime commented on #126
The thing about `formControl` and `ngModel` is that they should be mocked as all other dependencies in unit tests too, therefore there won't be code that calls `writeValue` and therefore we can't rely on assertions of `writeValue`, we can only check that we passed proper inputs / outputs and believe that real directives work as expected.

[2020-05-22 12:19] satanTime opened #127 "deprecate __simulateChange and __simulateTouched"
because `__simulateChange` and `__simulateTouched` spoil interface of a mocked component / directive that don't implement them we need to find a better solution.

For example to use Spies, how was discussed here: https://github.com/ike18t/ng-mocks/issues/126.

The goal is to still provide an easy way to touch and change such declarations, perhaps as internal injections and via `MockHelper`, but in

[2020-05-22 19:25] satanTime commented on #127
After an investigation I found that it's the best way to do the logic and there's no reason to change it.

Angular does touch and change like that:

[code]

and
[code]

[2020-05-23 08:07] #122 closed

[2020-05-23 08:08] #127 closed

[2020-05-23 08:08] #121 closed

[2020-05-23 08:08] #117 closed

[2020-05-23 08:09] #126 closed

[2020-05-23 10:16] satanTime opened #129 "Add helpers to get inputs and outputs of an element"
The goal is to avoid complexity of detecting directives / components classes also knowing original names of aliased properties.

[2020-05-23 11:33] satanTime opened #131 "deprecate MockHelper in favor of ngMocks"
to avoid long typing of `MockHelper` let's have a copy of it as `ngMocks`.

Also I found that almost always I use `OrFail`, and I would like to change some functions to give them a 3rd argument that means a default value, if it isn't present then an error should be thrown instead.

[code]

Any advice is welcome

[2020-05-27 13:27] #129 closed

[2020-05-27 13:28] #131 closed

[2020-05-27 20:41] norato opened #133 "[Bug] No Directive annotation found on e"
This error occurs when I export some methods from ng-mocks beside other application files.

[code]

Steps to reproduce:

Create an `index.ts` file exporting some services or components and exports in the same file any component mock

Example:
[code]

We are using:
[code]

[2020-05-27 20:52] satanTime commented on #133
Hi @norato,

thank you for the report.

Might you add also an example how you import it and how you run the app to get the error?

[2020-05-27 21:04] norato commented on #133
Hey @satanTime,

Following the steps to reproduce it will rise the error, but missing one thing.

This does not raise errors on ng server, but on serving the production build.
That index file needs to be used in any part of the application.

So you can import that exported service in the AppComponent from the index file.

Run the production build
And serve the dist files using lite-server, for exa

[2020-05-27 21:12] satanTime commented on #133
Just my curiosity, what is the reason to include `ng-mocks` in production build?

[2020-05-27 21:19] norato commented on #133
I did not include that for real... this was really a side effect.
That was just because I exported it in the index.ts from a utils folder in the shared module.

Just to make that imports easy

[2020-05-28 15:38] satanTime commented on #133
Works for me without any issue: [ng-mocks-a9.zip](https://github.com/ike18t/ng-mocks/files/4696662/ng-mocks-a9.zip)

[2020-05-28 18:58] norato commented on #133
@satanTime it works, you do not import the index.ts anywhere.

Here, I import a fake service from index.ts inside app.component and it fails.
[ng-mocks-a9 2.zip failing](https://github.com/ike18t/ng-mocks/files/4697642/ng-mocks-a9.2.zip)

![image](https://user-images.githubusercontent.com/395588/83181666-97120f00-a0fb-11ea-9b6e-235b4c653b7f.png)

![image](https://user-images.githubusercontent.com/

[2020-05-28 18:59] satanTime commented on #133
It's imported in the app module: https://take.ms/C2Wwg

[2020-05-29 06:43] satanTime commented on #133
After some time I would say there's no an easy way to provide mocks without testing env, the errors comes exactly because of missed test env.

Would it be expected for you if it failed with a more readable exception asking to remove ng-mocks from production build?

[2020-05-31 08:33] #133 closed

[2020-05-31 10:06] satanTime commented on #133
Please check 9.5.0, it provides a readable error now.

[2020-06-07 16:54] #44 closed

[2020-06-10 08:44] satanTime opened #137 "MockRender: clone interface"
if no bindings were passed the interface of the middle component should be the same as passed component.

[2020-06-11 17:17] #137 closed

[2020-06-12 12:27] appienvanveen opened #139 "Bug: Does it work in an Angular project with libraries"
Hi,

I'm figuring out this library, since I really like the idea to provide the mocks of your component in stead of just acceptating everything.

Currently I'm trying to mock a component in an Angular application with a angular library. Like this

projects
 --- app1
      --- componentX which uses ComponentY <-- i don't get this test working
--- lib1
 -------ComponentY

I got an error like this:

[2020-06-12 12:38] satanTime commented on #139
Hi,

thank you for the report. Might you share how the test, the componentX's class and its template look like too?

[2020-06-12 22:10] kennethversaw opened #140 "Incorrect examples?"
I am currently using ng-mocks version 9.5.0 and it seems as if your examples are incorrect. When I attempt to import ngMocks or MockBuilder I get an "ng-mocks has no exported member 'MockBuilder'" and "ng-mocks has no exported member 'ngMocks'". Have these imports changed and the documentation not been updated?

![image](https://user-images.githubusercontent.com/4662609/84550235-aaae9f80-accf-11ea

[2020-06-12 22:15] satanTime commented on #140
Hi, you are right, this version will be released on Sunday, current API is present on NPM https://www.npmjs.com/package/ng-mocks, it doesn't include `MockBuilder`.

[2020-06-12 22:18] kennethversaw commented on #140
Thanks for the reply! That example still seems to include ngMocks which is also not exported. Is that also coming in the Sunday release?

[2020-06-12 22:34] satanTime commented on #140
It should be present in 9.5.0 already, I'll double check it tomorrow and it will be fixed in the release on Sunday.

[2020-06-13 09:31] satanTime commented on #140
I've tried with 9.5.0 on angular 9 and was able to import and use `ngMocks `. Perhaps the version you have is older.

[2020-06-14 09:53] satanTime commented on #140
Hi there, 9.6.0 has been released. I'm going to close the issue, feel free to reopen it if something doesn't work for you.

[2020-06-14 09:53] #140 closed

[2020-06-14 09:53] satanTime commented on #139
Hi @appienvanveen, I hope this finds you well, do you have any update on my previous comment?

[2020-06-14 11:16] appienvanveen commented on #139
I will try to reproduce it tomorrow. I tried Friday but then it worked
somehow

Op zo 14 jun. 2020 11:53 schreef MG. <notifications@github.com>:

[2020-06-15 07:43] appienvanveen commented on #139
I've tried it again and it works now. Dunno what exactly was wrong; probably my mind was already weekend :)

[2020-06-15 07:43] #139 closed

[2020-06-15 09:00] satanTime commented on #139
Ah, awesome :)

[2020-06-18 13:43] vokeit-gschuster opened #142 "9.6.1 breaks tests with ngrx"
We upgraded ng-mocks to 9.6.1 today and several (about 10 of ~700) tests break because of ngrx missing injection tokens:
[code]
These now failing tests work absolutely fine with 9.5.0, @ngrx/effects 9.2.0 and @ngrx/store 9.2.0.
I see that the Module mock has been totally refactored and as far as I can tell it now seems to sometimes miss the given imports of StoreModule.forRoot(), StoreModule.forFe

[2020-06-18 13:50] satanTime commented on #142
Hi,

thank you for the report.
might you provide an example of a failing test and how ng-mocks is used there?

I have tests with `StoreModule.forRoot()`, `StoreModule.forFeature()`, `EffectsModule.forRoot()` and `EffectsModule.forFeature()` and, unfortunately, they don't show the issue.

[2020-06-18 14:06] vokeit-gschuster commented on #142
I'll see if I can extract such a test.

[2020-06-18 14:08] satanTime commented on #142
Thanks, I think if you should how TestBed is setup and how module imports / declarations looks like it should be enough. Perhaps I'm missing something in my setup.

[2020-06-18 14:17] vokeit-gschuster commented on #142
Test for MyComponent (in MyModule) fails with mocked "MyOtherModule" that has ngrx integrated.

[code]

[2020-06-18 19:56] satanTime commented on #142
Thanks, I was able to reproduce the issue, working on the fix.

[2020-06-18 21:26] satanTime commented on #142
Hi, again, might you verify the fix? Simply unpack it and put under `node_modules`.
[ng-mocks.zip](https://github.com/ike18t/ng-mocks/files/4801265/ng-mocks.zip)

[2020-06-19 08:04] vokeit-gschuster commented on #142
Yes, fixed these problems.
I only have one test left that doesn't work because a form click on a radio box is not registered, don't know if that has something to do with ng-mocks.
If I find that it is caused by ng-mocks I'll open a new ticket.

Thanks for your quick fix!

[2020-06-19 08:30] satanTime commented on #142
Cool, the fix will be released on Sunday. About the form - might you share the test and the template of its component?

[2020-06-20 08:45] #142 closed

[2020-06-21 17:27] satanTime commented on #142
Hi there, 9.6.2 has been released. Please let me know how it works for you.

[2020-06-22 14:47] cdupetit opened #145 "Error: More than one custom value accessor matches form control with unspecified name attribute"
Hello @ike18t,
With ng-mocks 9.6, I have an error in _@angular/forms_ when I use **ReactiveFormsModule** and _@angular/material_ **mat-input** directive with **cdkTextareaAutosize** directive in a html **text-area** tag.
You can see the error in [Stackblitz](https://stackblitz.com/edit/angular-ngmocks-form-error).
The code works fine in production.
Thanks in advance.
Best regards.
Cyril

[2020-06-22 14:51] satanTime commented on #145
Hi @cdupetit,

thanks for the report, I'll take a look tonight.

[2020-06-22 15:01] cdupetit commented on #145
The same error can be reproduced with **mat-input** and **matAutocomplete**.

[2020-06-22 15:02] satanTime commented on #145
was it working correctly on 9.5.0?

[2020-06-22 15:10] cdupetit commented on #145
Yes

[2020-06-22 15:33] satanTime commented on #145
Thanks,

that's how it works for me at the moment, nevertheless fixing the issue.
[code]

[2020-06-22 16:10] cdupetit commented on #145
Thank you very much.

[2020-06-22 18:01] satanTime commented on #145
Hi again,

Might you verify the fix? [ng-mocks.zip](https://github.com/ike18t/ng-mocks/files/4814833/ng-mocks.zip)
simply replace `ng-mocks` in `node_modules` with its content.

`MockBuilder` is a new feature that facilitates configuration of the TestBed and has many improvements under the hood compare to direct usage of `Mock*` functions.

Starting 9.6.0 I would say that `MockBuilder` should be u

[2020-06-23 06:29] cdupetit commented on #145
Hi,
Sorry for the wait. You fixed the bug.
Thank you very much for your quick response.

[2020-06-23 06:53] satanTime commented on #145
Great, thanks for the feedback, I'll release the update later this week.

[2020-06-23 14:49] #145 closed

[2020-06-23 15:05] satanTime commented on #145
Hi again, 9.6.3 has been released, please let me know how it works for you.

[2020-06-23 15:34] cdupetit commented on #145
The version 9.6.3 fix the bug.
Thank you very much.

[2020-06-25 07:43] cdupetit opened #147 "MockBuilder: Testing HttpInterceptor in conjunction of HttpClientInMemoryWebApiModule replace HttpClientTestingBackend by HttpBackend"
Hello @ike18t,
I use MockBuilder with ng-mocks 9.6.3.
When I try to test an **HttpInterceptor** in conjunction with a **HttpClientInMemoryWebApiModule**, the second one is not correctly mocked. The **HttpClientTestingBackend** is replaced by **HttpBackend** (see the second test in StackBlitz).
I don't know how to remove **HttpClientInMemoryWebApiModule** from test or how to mock correctly **HttpCl

[2020-06-25 07:49] satanTime commented on #147
Hi again.

Thanks for the report. I’ll take a look at the beginning of the next week.

Do you use .replace with testing for the http module?

[2020-06-25 07:51] satanTime commented on #147
Aha. I see. Great. Once I’m back to work I’ll check it as the first thing.

[2020-06-25 09:31] garrappachc opened #148 "Angular 10 support"
After upgrading to Angular 10 and attempting to run tests, I met the following error:
[code]

I believe it's due to the new `ModuleWithProviders` requirements.

[2020-06-25 09:35] Ksisu commented on #148
Here is the related migration docs:
https://angular.io/guide/migration-module-with-providers

[2020-06-26 11:49] cdupetit opened #150 "Mockbuilder: looking for a special example. (this is not an issue)"
Hi again,
It's not an issue but I'm looking for an equivalent to :
[code]
with MockBuilder.
My purpose is to test the module **MyModule**.
Thank you in advance.
Best regards.
Cyril

[2020-06-26 13:35] cdupetit opened #151 "MockBuilder: RouterModule imported in an AppRoutingModule"
Hi again,
When I use **MockBuilder** to test an **AppComponent** and that the **RouterModule** is imported from an **AppRoutingModule**.
I get this error :

`Error: Unexpected value 'undefined' exported by the module 'MockOfAppRoutingModule'`

You can see the error in [StackBlitz](https://stackblitz.com/edit/angular-mockbuilder-routing-module).
The code works fine in production.

Thanks in advance

[2020-06-29 12:35] cdupetit opened #152 "MockBuilder: Testing a Router Resolve Service declared in a lazy loading module"
Hi @satanTime,
When I use `MockBuilder` to test a Router Resolve Service declared in a lazy loading module.
I get this error :

`Error: Component XXXComponent is not part of any NgModule or the module has not been imported into your module`

I've tried to use  `RouterTestingModule.withRoutes`, without success.
You can see the error in [StackBlitz](https://stackblitz.com/edit/angular-mockbuilder-re

[2020-06-29 13:44] dtomaszewski commented on #148
There is also problem with MockComponent usage after upgrade to ng10 :

`  An error was thrown in afterAll
  Uncaught ReferenceError: exports is not defined
  ReferenceError: exports is not defined
      at Module.../../node_modules/ng-mocks/dist/lib/common/Mock.js (http://localhost:9876/_karma_webpack_/vendor.js:528361:23)
      at __webpack_require__ (http://localhost:9876/_karma_webpack_/main.j

[2020-06-29 14:15] vytautas-petrikas commented on #148
@dtomaszewski can you create a small reproduction of this bug on stackblitz?

[2020-06-29 16:40] dtomaszewski commented on #148
It seems that I solved it,

I had to change

`
...
"module": "es2020"
...
`

in my tsconfig.base.json (which caused more other issues btw :D )

[2020-06-29 17:14] satanTime commented on #148
Hi. Which target did you have before?

[2020-06-29 17:15] dtomaszewski commented on #148
@satanTime

`... "module": "esnext", "target": "es5", ...`

[2020-06-29 17:16] satanTime commented on #148
Thanks. I’m almost back and will be able to check the issue soon.

[2020-06-29 17:59] dtomaszewski commented on #148
thanks, setting module to es2020 for .spec file helped in my case but it'd be nice to look at it either way.

[2020-06-30 06:32] satanTime commented on #148
Yesterday I checked the things and found that for TS 3.9 a big part of ng-mocks interfaces should be changed to fix issues caused by TS2339.
I'll be working on it this week and I hope that a new version will have been released by the coming weekend.

[2020-06-30 19:11] satanTime commented on #147
After investigation I found that because you want to use `HttpClientTestingModule` and `RouterTestingModule` you need to keep the original modules too, then it works as expected:

[code]

[2020-06-30 19:38] satanTime commented on #150
Hi there,

depends what you want to achieve. If you want to test how `MyModule.forRoot()` works - then you don't need neither TestBed nor MockBuilder.

If you want to mock / keep it in an imported module you can use `.keep` or `.mock`, it affects providers too.

[code]

[2020-06-30 20:56] satanTime commented on #151
Hi, thanks for the report.

I found the issue and fixed it but met another issue, because HelloComponent is mocked, but RouterModule isn't - there's a conflict: original HelloComponent isn't find from router config what is expected.

Might you explain a bit the purpose to keep RouterModule as it is?

[2020-06-30 21:07] satanTime commented on #152
Hi again, might you explain the purpose of `.replace(RouterModule, RouterTestingModule)` in your test?

[2020-07-01 08:08] cdupetit commented on #151
Hi,
I've followed the [angular tutorial](https://angular.io/tutorial/toh-pt5#final-code-review).
I thought that was a best practice.
Best Regards.
Cyril

[2020-07-01 08:11] cdupetit commented on #152
Hi again,
I use a router in the resolver to redirect the user in case of not found value.
Best Regards.
Cyril

[2020-07-01 08:17] satanTime commented on #151
yes, you can use RoutingModule, but why do you want to keep it not mocked in the test?
usually everything should be mocked except the testing thing.

[2020-07-01 08:21] satanTime commented on #152
I see, but do you need for that RouterModule, RouterTestingModule? I think it's enough to check that it was imported and called.

Might you add a test to StackBlitz without ng-mocks and with RouterTestingModule?
It should help me with better understanding of your case.

[2020-07-01 08:36] cdupetit commented on #152
Done on same [StackBlitz](https://stackblitz.com/edit/angular-mockbuilder-resolver).

[2020-07-01 08:37] satanTime commented on #152
Thanks, I'll take a look this evening.

[2020-07-01 08:47] cdupetit commented on #151
There is two test suite one with _keep AppRoutingModule_ and one with _mocked AppRoutingModule_.
The both failed.
The test suite _keep AppRoutingModule_ is just for study case.
I want to mock everything as possible.

[2020-07-01 08:56] aishwaryasharma14 opened #155 "Compatibilty with Angular 10"
Hi @satanTime @askarby

After upgrading to Angular 10, the unit tests are failing with error - `ERROR in node_modules/ng-mocks/dist/lib/common/lib.d.ts:12:57 - error TS2314: Generic type 'ModuleWithProviders<T>' requires 1 type argument(s).`

After making the below change on that line, it works fine -
`export interface NgModuleWithProviders<T = any> extends ModuleWithProviders<T> {}`

Are we plann

[2020-07-01 08:57] satanTime commented on #155
Thanks for the report, it's already in the issue list #148

[2020-07-01 08:57] #155 closed

[2020-07-01 16:24] #147 closed

[2020-07-01 16:33] satanTime commented on #152
Based on the provided code MockBuilder should be used like that:

[code]

[2020-07-01 17:18] cdupetit commented on #152
Thank you very much.

[2020-07-01 17:18] #152 closed

[2020-07-01 18:13] #150 closed

[2020-07-01 20:50] satanTime commented on #148
Hi @dtomaszewski, after investigation I found that A10 doesn't respect `es5` anymore and loads all mode_modules as es2015 if they provide builds for both es5 and es2015.
Currently I don't see a way how to tell A10 to use es5 version instead of es2015.
Please let me know if you know a solution or have advice.
Looks like we should move to es2015 and forget IE hell.

[2020-07-04 13:24] dtomaszewski commented on #148
@satanTime yes, my workaround was just to differentiate spec and app tsconfig files. I'm not a huge fan of this solution because I use nx and I need to change it in every library (and remember to include it to each new lib generated) :/

[2020-07-05 12:59] #148 closed

[2020-07-08 10:00] benelliott commented on #148
Hi @satanTime, this workaround didn't work for me, as when I tried to change my `tesconfig.base.json` I got the following error:

[code]

Any combination of `module` values in my `tsconfig.spec.json` or `tsconfig.base.json` still seems to produce the `Uncaught ReferenceError: exports is not defined` error.

Thankfully, this is in a project that doesn't make extensive use of `ng-mocks` so I have be

[2020-07-08 11:38] satanTime commented on #148
Hi @benelliott,

might you try to use `es2015` in the base, and uncomment IE11 in .browserlistrc? I didn't try it yet, but as I understand in this case 2 bundles will be build and IE11 should get es5 version.

[2020-07-08 13:07] benelliott commented on #148
Sorry, that was actually my bad, I think you meant that you need to put `es5` for the `target` in `tsconfig.base.json` (I was trying to set it for `module`, which is invalid).

Setting

[code]

in `tsconfig.base.json` and/or `tsconfig.spec.json` with IE11 enabled in `.browserslistrc` doesn't fix the error for me.

[2020-07-09 06:53] cdupetit commented on #151
Hi @satanTime,
I still have an error on this configuration (**AppRoutingModule**) with _ng-mocks v9_ and _ng-mocks v10_.

`Error: Component HelloComponent is not part of any NgModule or the module has not been imported into your module.`

You can see the error in [StackBlitz](https://stackblitz.com/edit/angular-mockbuilder-routing-module).
The code works fine in production.

Thanks in advance.
Bes

[2020-07-09 06:55] satanTime commented on #151
Hi again, yeah, I guess, I have some ideas and try to fix it on the coming weekend.

Thanks for the code example.

[2020-07-09 08:26] Volcomix opened #157 "No value accessor for form control when mocking MatSelectModule"
Hi,

When trying to mock the `mat-select` component from Angular Material 9, the following error appears: `Error: No value accessor for form control with name: 'toppings'`.

The error occurs only when calling `fixture.detectChanges()` in the test.

Here is a repo with the minimal setup to reproduce this issue: https://github.com/volcomix/ng-mocks-mat-select-issue

[code]

[code]

[code]

Error det

[2020-07-10 05:30] icorne opened #158 "ES5 target support + Angular 10 Support"
Hello,

This is the only library I encountered thus far that does not support ES5 target anymore..
Could it be because in https://github.com/satanTime/ng-mocks/blob/83debd26ac89ed5ae5efb3c9be8ce7ad91ad6c64/e2e/a10es2015ivy/.browserslistrc you excluded IE11?

Can we try and revisit this?

[2020-07-10 06:17] satanTime commented on #158
Hi,

the lib does support es5, but angular 10 doesn't support it and always uses es2015 version of an imported lib.

I spent around 2 weeks to determine a solution and failed with every idea.

Feel free to try to fix it yourself, perhaps you'll find a working solution.

[2020-07-10 06:24] icorne commented on #158
I can have a look when I find some time.
Where did you find that angular 10 does not support ES5 target?
We've got a pretty extensive app (hybrid with angularjs even) and everything is working except my tests which use ng-mocks.

[2020-07-10 06:33] satanTime commented on #158
During investigation, starting from angular 10 it ignores es5 build even it has been provided: https://github.com/ike18t/ng-mocks/blob/master/package.json#L5-L8.

I think in your app dependencies don't extend code base built by es5 and es2015, in case of ng-mocks if a component was built as es2015 and ng-mocks was built as es5 then it throws an error that an instance can't be created without using

[2020-07-10 08:17] satanTime commented on #158
Note: As an option to try: eval with detection of es6 classes.

[2020-07-10 15:01] Volcomix commented on #157
For anyone who is experiencing the same issue, here is a workaround by stubbing manually `mat-select` without `ng-mocks`:

[code]

[2020-07-10 18:56] satanTime commented on #151
Hi,

might you check https://github.com/ike18t/ng-mocks/pull/159/files#diff-a97222c4901dada70a979186c3df7ec5 and let me know if it works for your tests?

[2020-07-10 20:18] satanTime commented on #157
Thank you for the report, I was able to reproduce the issue and working on the fix.

[2020-07-10 21:12] satanTime commented on #157
Hi, might you verify that https://github.com/ike18t/ng-mocks/pull/160 works for you?

[2020-07-10 21:55] Volcomix commented on #157
Hi, I've pulled the fix and tried with it: it works 👍
Good job, thanks!

[2020-07-10 23:30] satanTime commented on #158
Hi, might you check that https://github.com/ike18t/ng-mocks/pull/161 works for you on es5?

[2020-07-11 12:17] cdupetit commented on #151
Hi @satanTime,
I don't know how to merge your changes.
Best regards.

[2020-07-11 12:18] satanTime commented on #151
Good, let's try like before: [ng-mocks.zip](https://github.com/ike18t/ng-mocks/files/4906746/ng-mocks.zip)

[2020-07-11 13:14] cdupetit commented on #151
The test are done but I've this error message in the console :

[code]

[2020-07-11 13:16] satanTime commented on #151
ouch :) do you get it with the same stackblitz?

[2020-07-11 13:19] cdupetit commented on #151
I don't know how to import your zip in stackblitz

[2020-07-11 13:26] satanTime commented on #151
Usually I download a project from stackblitz and run it locally. Later today I'll check if I can get the error.

[2020-07-11 13:58] satanTime commented on #151
Looks like the issue isn't much related to ng-mocks: https://github.com/angular/angular/issues/17013

[2020-07-11 14:15] cdupetit commented on #151
The test are good but same console error. But it's not due to the patch. It give the same result with the regular version 10.0.0

[code]

[2020-07-11 14:22] satanTime commented on #151
Might you create a min project and attach it as a zip here?
I think it can be even a new issue.

[2020-07-11 17:26] cdupetit commented on #151
min project: [ng-routing-test](https://github.com/ike18t/ng-mocks/files/4907316/ng-routing-test.zip)

[2020-07-11 18:23] satanTime commented on #151
Thanks! I'll take a look today / tomorrow

[2020-07-11 21:20] satanTime opened #162 "lCleanup[useCaptureOrSubIdx] is not a function / view.disposables[i] is not a function"
There's an interesting case that throws an error.

min project: [ng-routing-test](https://github.com/ike18t/ng-mocks/files/4907316/ng-routing-test.zip)

The structure of the project should be like in the code sample above.

[2020-07-11 21:21] satanTime commented on #151
I've created a new issue for that: https://github.com/ike18t/ng-mocks/issues/162

[2020-07-11 21:36] satanTime commented on #162
The issue is caused by `(click)="..."` in `app.component.html`, if to remove all of them there's no the issue.
For now I would assume that the problem is in angular itself, but still deeper investigation is required.

[2020-07-11 21:38] satanTime commented on #162
[app.zip](https://github.com/ike18t/ng-mocks/files/4907642/app.zip)

[2020-07-11 21:44] satanTime commented on #162
The error is thrown only on 2+ execution of beforeEach, looks like there's a new cache inside of `TestBed` that should be reset in `ngMocks.flushTestBed()`.

[2020-07-12 08:21] #151 closed

[2020-07-12 08:21] #157 closed

[2020-07-12 08:22] #158 closed

[2020-07-12 08:51] satanTime commented on #162
The min test to reproduce the issue:

[code]

[2020-07-12 10:27] satanTime commented on #162
The problem is caused by mocked version of `EventManager.addEventListener` from `BrowserModule`.

[2020-07-12 11:31] satanTime commented on #151
Good news, I found the issue and fixed it. Next hours I'll release a new version with the fix.

[2020-07-12 13:37] #162 closed

[2020-07-12 18:46] satanTime commented on #148
Hi guys, might you check the latest version? it should work correctly both es5 and es2015

[2020-07-13 10:37] appienvanveen opened #164 "ControlContainer not injected"
Hi,

First my compliments to your library. All looks super easy and until so far everything worked perfectly :)

However I dont understand why my test below fails. Please note its pseudo code.

**Code**
[code]
**Test**

[code]

[2020-07-13 10:43] satanTime commented on #164
Hi,

thanks for the report,

`component.controlContainer` points to a middle component for render.
If you want to access `XComponent` you need to do it via `component.point.controlContainer`, that should solve the issue.
But this requires a proper type declaration: `let fixture: MockedComponentFixture<XComponent>`.

The problem is that properties aren't proxied to the middle component due to their

[2020-07-13 10:51] appienvanveen commented on #164
Perfect! I've should have read the docs better.

Thanks for the quick response :)

[2020-07-13 10:51] #164 closed

[2020-07-13 10:53] satanTime commented on #164
Feel free to ask any questions, I also updated my comment to point to `.componentInstance` instead of `.controlContainer`.

[2020-07-14 07:26] icorne commented on #148
Hello,

I'm testing. it seems to be working. I have other issues though, unrelated
to ng-mocks.

Kind regards,

Ian Corne

On Sun, 12 Jul 2020 at 20:46, MG. <notifications@github.com> wrote:

[2020-07-15 11:29] coyoteecd opened #166 "Generic type constraint for ngMocks.stub tedious to write"
If I understand it correctly, to stub a service MyService and provide some stubbed implementations, I should be using something like this:

[code]

Problem is, the type definition of stub is too relaxed:
[code]
This means `overrides` parameter has no relation with type I. Consequently, if I rename serviceMethod later, the test still compiles, which is something I do not like. Most common case is t

[2020-07-15 11:30] satanTime commented on #166
Hi, it provides instances.

In your case it should be like that:
[code]

[2020-07-15 11:31] coyoteecd commented on #166
Yeah you're right, I will edit the comment. Read along, the point is about typings

[2020-07-15 11:37] satanTime commented on #166
Might you share the test you have for better understanding of MyService structure and its role in the test.

[2020-07-15 11:44] coyoteecd commented on #166
I have a component test and I'm stubbing the service.
Some of the services' methods are returning Observables, for which MockService defaults to undefined.
Now, the component under test is trying to subscribe to those observables and it breaks because of the undefined, so I am overriding them to return a default value. It works fine, except for the lack of type safety. Something like this:

[code]

[2020-07-15 11:46] satanTime commented on #166
Thanks, got it, I'll take a look on this / next weekend to find a proper solution with the idea to ensure it works correctly with spies and mocks from jasmine and jest.

[2020-07-15 11:49] coyoteecd commented on #166
Maybe the difference is that I am setting up spies separately for each test and use `stub` only to provide a default implementation.

[2020-07-15 11:53] satanTime commented on #166
If you set them separately I think you can leave `MockService(MyService)` only.

`.stub` derived from an ability to manage methods and properties that are hard to access to, for example private or even undeclared.

[2020-07-15 12:19] coyoteecd commented on #166
I am setting spies separately, but not for all the methods in all the tests. To be precise, I mock the service and provide empty responses for all the observables, so that whatever a component is doing, won't crash because of .subscribe to undefined. Then:

- test 1 spies on method1, maybe provide some relevant test data
- test 2 spies on method2
- test 3 might spy on both
etc. (to keep tests smal

[2020-07-15 12:31] satanTime commented on #166
Are they methods or properties? if they are methods it should be like `onSuccessSet$: () => of(''),`

[2020-07-15 13:36] coyoteecd commented on #166
In this particular example they're just fields. But in other cases they can be methods or properties.

Thus option B, provide a variant that is more constrained...
As mentioned above, I can get around it by specifying the type arguments, but it's just noisy and verbose. And I'd rather not fork a copy just for a slight convenience.

[2020-07-15 16:28] michael-hein opened #167 "Circular dep error for custom form control when mocking with MockComponent"
Hi,

I ran into an issue during the upgrade to Angular v10 where some tests are failing when mocking a custom form control component when the the form is implementing ControlValueAccessor and Validator.
Then it fails in the component which mocks the custom-control with: ```Error: Circular dep for MockOfMyFormControlComponent```.

Here is a repo with minimal setup to reproduce this issue: https://g

[2020-07-15 19:05] satanTime commented on #167
In your case you need to change beforeEach to
[code]

It solves the issue, anyway I'm checking the original case.

[2020-07-15 20:12] satanTime commented on #167
found a possible solution

[2020-07-17 07:56] satanTime commented on #167
Add a test for a component with NG_VALIDATORS only.

[2020-07-17 08:56] michael-hein commented on #167
Hi,
thanks for your quick reply :)
In the meantime I tried it with the Mockbuilder.

For this scenario it works fine, but in some special cases I ran here into the same issue.

In a case where we want to test that the current data is shown in the form fields. (My special case: The form gets patched from the ngrx store with values and these values should be shown to the user).

Maybe I'm wrong, but

[2020-07-17 08:57] satanTime commented on #167
Hi, thanks, might you try the fix from PR? I think it fixes everything.

[2020-07-17 09:23] satanTime commented on #167
thanks for the verification, I'll add the case with NG_VALIDATORS only to ensure it doesn't cause any issues and release a new version on Sunday.

[2020-07-17 14:49] RobertasM opened #170 "MockComponent ViewChild Service"
Is there possibility to mock ViewChild component injected services? Currently my parent component has ViewChild component and it tries to call exposed public service method of this child component. Now it fails because the service of ViewChild is undefined.

https://stackblitz.com/edit/ng-mocks-examples-tybub8?file=app%2Fapp.component.spec.ts

[2020-07-17 14:58] satanTime commented on #170
Hi,

thanks for the request.

I've checked the test and I'll try to figure out how a mocked component might be extended next days.

[2020-07-18 08:48] #167 closed

[2020-07-18 14:27] satanTime commented on #170
Hi again,

might you check that `MockInstance` solves the issue for you?

Simply replace `node_modules/ng-mocks` with the content from [ng-mocks.zip](https://github.com/ike18t/ng-mocks/files/4941811/ng-mocks.zip).

Docs you can find here:
https://github.com/satanTime/ng-mocks/tree/issues/170#mockinstance

A test example: https://github.com/satanTime/ng-mocks/blob/issues/170/tests/issue-170/test.sp

[2020-07-19 10:51] satanTime opened #172 "Allow to mock providers of a component without mocking the component itself"
The idea is to provide a way to test a component with its mocked dependencies from providers.

A possible solution is to use the same approach as MockModule does, when it checks all declarations and extends an original class if it shouldn't be mocked but one of its dependencies should.

[2020-07-19 11:28] #170 closed

[2020-07-20 06:28] RobertasM commented on #170
Hi,

Yes it works, thanks.

[2020-07-20 06:32] satanTime commented on #170
Thanks! Feel free to report again if you're facing any issues.

[2020-07-20 08:37] cdupetit opened #173 "Error with MockBuilder and @angular/cdk DragDropModule"
Hi @satanTime,
When I use **MockBuilder** to test an application with **DragDropModule** from **@angular/cdk**.
I get this error :

`Error: Unexpected value '[object Object]' exported by the module 'MockOfDragDropModule'`

The test run correctly if I use _keep(DragDropModule)_.
You can see the error in [StackBlitz](https://stackblitz.com/edit/angular-mockbuilder-dndmodule).
The code works fine in

[2020-07-20 08:44] satanTime commented on #173
Hi again :)

Thanks for the report, I'll take a look tonight and I'll try to provide a fix today or later this week.

[2020-07-20 18:40] satanTime commented on #173
Min test:

[code]

[code]

[2020-07-20 19:19] satanTime commented on #173
Hi @cdupetit,

might you verify that the new build [ng-mocks.zip](https://github.com/ike18t/ng-mocks/files/4949645/ng-mocks.zip) runs on your tests as expected?

[2020-07-21 07:29] cdupetit commented on #173
Hi @satanTime,
This version fix the error and runs tests as expected.
Thanks.
Best regards.

[2020-07-21 07:29] satanTime commented on #173
Thanks!

[2020-07-21 07:30] #173 closed

[2020-07-24 06:27] satanTime opened #175 "Add `.exclude` feature to MockBuilder"
the idea is to get rid of some declarations during the building process.

[2020-07-30 13:24] JesseZomer opened #176 "Class attribute directive is ignored on rendered mock directive"
I have the following HTML:
[code]
I'm trying to unit test if the extra-class gets added to the div when `someCondition` is true. However for this test i've changed it to: `[class.extra-class]="true"`

the test looks like this:
[code]
I get the following error:
[code]

I expected it to have the `extra-class` class. Am I correct in my assumption that this class attribute directive is ignored when re

[2020-07-30 13:29] satanTime commented on #176
Hi @JesseZomer,

thanks for the report, might you provide a min test? I'll take a look tonight.

[2020-07-30 14:05] JesseZomer commented on #176
Sure, I've made a repo here: https://github.com/JesseZomer/ngmocksIssue176
If you run `ng test` the test described above will fail

[2020-07-31 10:40] satanTime commented on #176
Hi @JesseZomer,

after changing things that cause template change you need to call detect changes:
[code]

[2020-07-31 10:47] JesseZomer commented on #176
Hello @satanTime, thanks for the reply.

I've tried it with `fixture.detectChanges()` but that makes no difference.
I thought because the query obviously finds an element the fixture.detectChanges makes no difference, so I removed it again.

[2020-07-31 10:48] satanTime commented on #176
when I added it in https://github.com/JesseZomer/ngmocksIssue176 there's no failing test anymore. Might you improve the example to show the failure with `fixture.detectChanges()`?

[2020-07-31 11:38] JesseZomer commented on #176
That's weird. That made me look at the differences between the reproduction test and the real testcase.
In the real situation the component has a changedetectionStrategy of OnPush. Because I wasn't changing any @input fields, the class directive probably never gets reapplied.

When I add
[code]
it works 🎉

I probably didn't think of this, because something did get rendered so the HTML had changed.

[2020-07-31 11:38] #176 closed

[2020-07-31 11:44] satanTime commented on #176
Glad to hear!

[2020-08-04 19:56] JoshuaEN opened #177 "Mock get/set properties when mocking classes"
Hello,

For classes, `MockService` appears to only mock methods, deferring get/set properties to the original class's prototype.

At least for my use-case, it would be preferable if get/set properties were also mocked to prevent a unit test from accidentally using the actual implementation of a dependency.

Example of Current + Desired behavior (the test passing is desired):
[code]
[Example in a r

[2020-08-05 07:59] satanTime commented on #177
Hi,

thanks for the report.

that's the tricky part because not all get / set properties are visible via getOwnPropertyDescriptor, what can be extracted - they are mocked.

these properties are defined in js constructor like `this.hardCodedGet  = ` and when we mock the constructor we lose these declarations, an example is by the link below (TS 3.7).

as an option you can try to do next:

if you us

[2020-08-05 20:54] JoshuaEN commented on #177
Thank you for looking into this.

Maybe I'm misunderstanding, but the issue I am experiencing is, when using `MockService(Class)`, `get`/`set` properties defined on the class's prototype (visible to `getOwnPropertyDescriptor`) are not mocked:

[code]

---

Sorry if my original post was not clear; my issue is not regarding fields , but rather `get`/`set` properties defined on the prototype.

[2020-08-07 09:29] cdupetit opened #178 "MockBuikder: RouterModule.forChild and multiple components"
Hi @satanTime,
When I use **MockBuilder** to test a _XComponent_ included in a **RouterModule.forChild** route with a _YComponent_.
I get this error :

`Error: Component YComponent is not part of any NgModule or the module has not been imported into your module.`

To remove error, I should mock the _YComponent_ manually.
You can see the error in [StackBlitz](https://stackblitz.com/edit/angular-moc

[2020-08-07 09:31] satanTime commented on #178
Hi again,

I hope you are doing great.

Thanks for the report. I'll take a look this weekend and release an update on Sunday.

[2020-08-07 09:38] cdupetit commented on #178
I'm on vacation for two weeks starting tonight. So I could not test before my return.

[2020-08-07 09:40] satanTime commented on #178
No worries, take your time and have fun!

[2020-08-07 09:50] cdupetit commented on #178
Thanks

[2020-08-08 12:10] satanTime commented on #177
Hi @JoshuaEN,

please excuse for the delay, might you check if the fix works for you:
[ng-mocks.zip](https://github.com/ike18t/ng-mocks/files/5045223/ng-mocks.zip)
?

[2020-08-09 05:58] #177 closed

[2020-08-09 05:59] #178 closed

[2020-08-10 15:14] JoshuaEN commented on #177
Hi @satanTime,

This fix works perfectly, thank you!

[2020-08-24 09:45] appienvanveen opened #181 "Bug? Cannot combine @Input decorators with query decorators"
Hi,

im using your lib version 10.1.2 with angular 9.1.2 in combination with the Syncfusion angular framework.

I'm getting the following error when I run my tests:
`

	Error: Cannot combine @Input decorators with query decorators
	    at http://localhost:9876/_karma_webpack_/D:/Work/Java
`

Code looks like follows:

[code]

I'm not sure if this is caused by the mock framework or by the syncfusion

[2020-08-24 09:49] satanTime commented on #181
Hi again,

might you share code of XComponent, or create a min code sample with the failing test?

[2020-08-24 11:47] appienvanveen commented on #181
[example-bug.zip](https://github.com/ike18t/ng-mocks/files/5117533/example-bug.zip)

Please find a sample project attached :)

[2020-08-27 11:18] appienvanveen commented on #181
Any idea yet? @satanTime :)

[2020-08-27 11:20] satanTime commented on #181
Hi, unfortunately, didn't check it yet. I'll do that latest on Sunday evening. Sorry for the delay.

[2020-08-27 11:21] appienvanveen commented on #181
No problem, take your time :)

[2020-08-28 13:24] viniciostorres opened #182 "Failed: ng-mocks is not in JIT mode and cannot resolve declarations"
I'm using Angular 9 and I'm receiving this message on Karma report. Is there a solution?

[2020-09-02 08:36] appienvanveen commented on #181
Any update yet? :)

[2020-09-02 16:02] satanTime commented on #181
Checking :)

[2020-09-03 07:43] satanTime commented on #181
Hi, I'm investigating it deeper, I have a fix, but I want to find the cause.

[2020-09-03 08:12] appienvanveen commented on #181
Ah cool. I was thinking it was caused by the syncfusion library, but since it only occurse during testing/mocking I doubted this.

[2020-09-03 08:32] satanTime commented on #181
Yep, the way they are creating components and directives in the lib causes the issue, they use decorators in an interesting manner, but if I do a copy for testing it doesn't fail anymore. So I'll try to dig deeper for understanding of the exact cause.

[2020-09-04 07:53] appienvanveen commented on #181
Hi, it appears that when i disable ivy for the test in my tsconfig, the tests run fine.

[2020-09-04 08:19] satanTime commented on #181
Ah, that's an awesome hint! Thanks, I'll try this way.

[2020-09-05 13:29] satanTime commented on #182
Hi, thanks for the report.

Might you provide an example with the reproduction of the failure?

[2020-09-05 13:59] satanTime commented on #181
Hi again, might you check if it solves your issue?
[ng-mocks.zip](https://github.com/ike18t/ng-mocks/files/5178179/ng-mocks.zip)

[2020-09-08 06:30] appienvanveen commented on #181
Works like a charm!

[2020-09-08 07:52] #181 closed

[2020-09-08 07:53] satanTime commented on #181
Thanks for checking, I'll release the changes this week.

[2020-09-08 07:53] satanTime commented on #182
Hi @viniciostorres, any update on this?

[2020-09-09 23:48] JoshuaEN opened #186 "Providers mocked via MockModule are persisted across tests"
Hello,

Providers that are part of a Module, when mocked via `MockModule`, appear to use the same instance across all tests.

For example:
[code]
*[Full Example](https://github.com/JoshuaEN/ng-mocks-mock-module-provider-mocking-issue/blob/master/src/app/MockModule.spec.ts)*

I would think the expected behavior is that each test would get a new mocked instance of the provider so that one test could

[2020-09-10 07:54] satanTime commented on #186
Hi,

thanks for the report. You need to use `beforeEach(() => MockBuilder(ExampleModule))` instead.

[2020-09-10 16:15] JoshuaEN commented on #186
Hi,

Thank you for the quick reply!

Using `MockBuilder` appears to work, but calling `ngMocks.flushTestBed()` does not ([here's the change I tried](https://github.com/JoshuaEN/ng-mocks-mock-module-provider-mocking-issue/commit/796efbadee1dfe1060b0e37786e9be39c07e9759)).

Is using `MockBuilder` the recommended approach to mocking?

[2020-09-10 16:17] satanTime commented on #186
Hi again,

yes, `MockBuilder` is the recommended approach.

I'll check the code example next days / weeks the issue for improving ng-mocks lib.

[2020-09-12 10:42] satanTime commented on #186
Hi, I've tested it further and it doesn't work without mocking either:

[code]

I would suggest to close this one, feel free to reopen it or to post a new one.

[2020-09-13 01:24] JoshuaEN commented on #186
Hi, thank you for looking into this.

Removing the mocking appears to work correctly for me. Here's what I tried: https://github.com/JoshuaEN/ng-mocks-mock-module-provider-mocking-issue/commit/38e4c022d32892d0c19bcdae6005a95e11f1d08a#diff-807a50de61c19b7d9a595c1e9cec0c05

As a note, the tests were originally falling for me after removing the mocking, but for an unrelated reason: Without mocking, t

[2020-09-13 10:49] satanTime commented on #186
aha, now I was able to reproduce the issue and checking for a possible solution.

Thanks!

[2020-09-13 11:25] satanTime commented on #186
Hi again, I think I've found the issue and fixed it. Might you verify that it works well for you?
[ng-mocks.zip](https://github.com/ike18t/ng-mocks/files/5213989/ng-mocks.zip)

[2020-09-13 11:38] satanTime commented on #182
I'll close the issue, feel free to reopen it with more details.

[2020-09-13 14:31] JoshuaEN commented on #186
Hi, thanks for the quick reply! It works as expected with this fix.

[2020-09-13 16:51] #186 closed

[2020-09-13 17:36] satanTime commented on #186
A new version has been released. Thanks for the report.

[2020-09-13 17:37] satanTime commented on #181
A new version has been released. Thanks for the report.

[2020-09-13 19:20] JoshuaEN commented on #186
Thank you!

[2020-09-26 12:11] satanTime commented on #166
Hi again,

might you check if this behavior fits your expecations, you can use `ngMocks.stub`?
[ng-mocks.zip](https://github.com/ike18t/ng-mocks/files/5286635/ng-mocks.zip)

[2020-09-26 15:50] satanTime commented on #96
Hi @askarby,

might you provide an example how you use it? Unfortunately, otherwise I need to deprecate it and remove in v11.

[2020-09-27 07:43] #172 closed

[2020-09-30 07:53] #166 closed

[2020-09-30 10:12] #175 closed

[2020-09-30 16:37] #96 closed

[2020-10-06 08:51] kekel87 opened #196 "Testing setter for mocked directive"
Hello !

We had a bit of delay for the switch to Angular 10, so here is the first problem we encounter 😄

We usually test RouterLinks like this:

`MyComponent` template to test :
[code]

`MyComponent` tests init :
[code]

`MyComponent` routerLink test :
[code]

Following the Angular 10 transition this no longer works: `Error: Expected undefined to equal ['/my-route'].`

Looking at the Angular team

[2020-10-06 08:56] satanTime commented on #196
Hi again.

I think you are trying to do the same as we show here: https://github.com/ike18t/ng-mocks#extensive-example-of-mocks-in-angular-tests

I would suggest something like
[code]

[2020-10-06 09:20] satanTime commented on #196
About skipping mocks of getters and setters - it has been fixed and now they are properly mocked with respect of assigned values despite a missed getter / setter in the original implementation: https://github.com/ike18t/ng-mocks/commit/5a0ac7c44d4c73d33ab4dad9ad583e31ad28ec5d

[2020-10-06 09:59] kekel87 commented on #196
Oh yes, I hadn't seen that ! It works perfectly !

Thank you very much !

[2020-10-06 09:59] #196 closed

[2020-10-06 10:06] satanTime commented on #196
You are welcome, feel free to ask any questions.

[2020-10-08 08:42] kekel87 opened #197 "MockBuilder add import"
Hello again !

First of all, do you have a Gitter or a Discord to ask this kind of question and avoid creating issues every time ?

We are trying to use `MockBuilder`, it looks great!

But, we are unable to import unmocked modules that are not part of the component module.

Here the original `TestBed`:
[code]

Here the equivalent with `MockBuilder`:
[code]

Can you help me on that ?

[2020-10-08 08:57] satanTime commented on #197
Hi again,

unfortunately, `NgModuleWithProviders` isn't supported yet.

What you can try to do something like that currently:

[code]

Please let me know whether it works for you, and also, please, don't close the ticket, I'll try to find a solution on the weekend.

[2020-10-08 09:01] satanTime commented on #197
about `Gitter` or `Discord`, unfortunately, not. This project is supported on enthusiasm and the way via github issues is the best for now.

[2020-10-08 09:19] kekel87 commented on #197
OK great, thank you.

I tested your solution it works perfectly!

[code]

Thank you for your responsiveness !

[2020-10-08 09:25] satanTime commented on #197
Glad to hear, you are welcome.

One question if you don't mind.
`StoreModule` - if it's imported, how do you use it in tests? Do you mock it or keep it?

I'm looking for all possible options of usage of `NgModuleWithProviders` and how people would like to tune it in their tests.

[2020-10-08 09:33] kekel87 commented on #197
In accordance with what [ngrx recommends](https://ngrx.io/guide/store/testing), we test once in a purely unit fashion by completely mocking `StoreModule` with `provideMockStore` (provide by ngrx).

And it works great with MockBuilder:
[code]

And another time, integrate `StoreModule` without mocking it as requested in this issue.

[2020-10-08 09:37] gituser3000 opened #198 "Mocking private service in component"
Hello! Thank you for the great library :)
The question is how to modify the mock of service in the tested component.
I have tried to use MockInstance, but looks like it only works for mocked components.
Example:
[code]

What I have tried:
[code]

[2020-10-08 09:38] satanTime commented on #197
Aha, good to know. but why `StoreModule.forRoot` is needed in the original test? isn't provideMockStore enough for tests?

[2020-10-08 09:39] satanTime commented on #198
Hi,

you were quite close :)

I guess what you are looking for is:
[code]

[2020-10-08 09:41] satanTime commented on #198
Please leave the issue open, I'll update docs for a better example.

[2020-10-08 09:45] gituser3000 commented on #198
`Property 'treeItems$' does not exist on type 'ComponentToTest'.`
This property is inside _configLocal.

[2020-10-08 09:46] satanTime commented on #198
ah, true sorry,

[code]

[2020-10-08 09:52] kekel87 commented on #197
Historically we tested with `StoreModule.forRoot`, now we try to do as ngrx [recommends](https://ngrx.io/guide/store/testing#integration-testing).

But we must continue to test with `StoreModule.forRoot` to test the correct integration.

[2020-10-08 09:53] satanTime commented on #197
Thanks, I think I have a better picture now and can work on improvements of the lib.

[2020-10-08 10:25] gituser3000 commented on #198
Wow, this was unexpected 👍
Additional info:
TmConfigLocalService is not provided in componentToTest module, but is global. So I had error
`No provider for TmConfigLocalService!`
In order to handle it i was using provide:
`  .provide({provide: TmConfigLocalService, useValue: MockService(TmConfigLocalService)})`

but mockInstance above gave no impact, until I used:
`.mock(TmConfigLocalService)`
inst

[2020-10-08 10:35] satanTime commented on #198
That's right,

if you use `useValue` - then ngMocks doesn't touch provided value.

if you use `.mock(TmConfigLocalService)` - it's a bit more intelligent than `MockService(TmConfigLocalService)` and causes a call of `MockInstance` on initialisation of `TmConfigLocalService`. Because it uses a factory https://github.com/ike18t/ng-mocks/blob/master/lib/mock-service/mock-service.ts#L336-L343, `config

[2020-10-08 10:37] gituser3000 commented on #198
Thank you!

[2020-10-08 10:38] satanTime commented on #198
update my comment.

[2020-10-08 10:49] gituser3000 commented on #198
items in mock are 'any'. Is it by design?

[2020-10-08 10:51] satanTime commented on #198
It tended to be like that, but we can reconsider being `Partial<T>`. Might you provide your example why `any` is a problem / issue here?

[2020-10-08 10:57] gituser3000 commented on #198
Probably not an issue, but a thing to improve?
1) More type-friendly (improved ide experience)
2) Will show errors if an attribute was deleted (and a test was broken?)
3) Will work the same way, as MockInstance do

[2020-10-08 11:00] satanTime commented on #198
Original plan was if people want to mock private things, but I guess it doesn't make sense and `Partial<T>` would be a good fit. I'll update it on the weekend too.

[2020-10-08 11:05] gituser3000 commented on #198
`mock?: Partial<T> & {[key: string]: any}` <- will not break mocks of private properties and will help IDE )

[2020-10-08 11:07] satanTime commented on #198
thanks, I play with it on the weekend and release an update on.

[2020-10-08 12:10] gituser3000 commented on #197
Probably 1 more case:
[code]
Testing that routing works as planned

[2020-10-09 09:15] kekel87 commented on #197
Hi

It would also be good if the `MockBuilder().mock()` function supports abstract classes such as `DomSanitizer` or `Renderer2`.

![image](https://user-images.githubusercontent.com/22544289/95565570-b06b8600-0a20-11eb-93c8-622d693711a6.png)

Thanks!

[2020-10-09 09:19] kekel87 commented on #197
No wait, it's work like this: `provide({ provide: DomSanitizer, useValue: domSanitizer })`

[2020-10-09 09:33] satanTime commented on #197
It's a good case - I'll add it too.

[2020-10-09 15:00] satanTime commented on #197
Hi @kekel87,

might you verify that both of the issues are properly solved here: [ng-mocks.zip](https://github.com/ike18t/ng-mocks/files/5355787/ng-mocks.zip)?

now you can keep and mock modules with providers and pass anywhere abstract classes like DoSanitizer.

[2020-10-09 15:36] coyoteecd commented on #166
Sorry for the late reply. I checked your modification (now included in master) and it's not doing what I needed. Type definition currently is:

[code]

This constrains overrides a little, but not to the extent that specifying the generic type arguments does. Case in point:

[code]
compiles just fine, even though serializeUrl1 is not defined in Router, whereas:
[code]
gives a compile-time error. In

[2020-10-09 16:34] satanTime commented on #166
Hi again,

that's fine, might you try changes in https://github.com/ike18t/ng-mocks/pull/203?

[2020-10-09 20:44] coyoteecd commented on #166
Yup, those changes are doing exactly what I need.

[2020-10-09 21:11] #198 closed

[2020-10-09 21:47] satanTime commented on #166
great, will be released on Sunday.

[2020-10-10 07:01] #197 closed

[2020-10-10 15:47] satanTime commented on #92
The selector returns directive itself instead of its node and there is no way to render it, therefore the issue doesn't exist and can be closed.

[2020-10-10 15:47] #92 closed

[2020-10-10 19:05] satanTime commented on #12
Here we go: https://github.com/ike18t/ng-mocks/commit/3b37dfb68c13929b676110fc9baf47d8ccd1d2cf

[2020-10-10 19:05] #12 closed

[2020-10-15 09:58] kekel87 commented on #197
Sorry for late response ! It's work perfectly, thanks a lot !

[2020-10-25 18:55] satanTime opened #218 "Supporting pipes in providers"

[2020-11-02 21:11] michael-hein opened #222 "Keeping the MatCheckboxModule with the MockBuilder"
Hi,

I ran into an issue when I wanted to keep the MatCheckboxModule with the MockBuilder.
When I use this
[code]
then it fails with
[code]

when I use it without keeping the MatCheckboxModule the it works
[code]

using without the MockBuilder works too
[code]
Is there a way to keep "MatCheckboxModule" with the MockBuilder without failing?

It worked with ng-mocks v10.3.0 and starting to fail with

[2020-11-02 21:25] satanTime commented on #222
Hi @michael-hein, thank you for the report. A nice finding. I'll fix it soon and release a fix.

[2020-11-02 21:27] satanTime commented on #222
I think if you install 1.5.0 it should work.

[2020-11-02 22:07] michael-hein commented on #222
hi @satanTime thanks for your quick reply.
I tried it with ng-mocks 10.5.0 and 10.5.1 and still getting the same error.

[2020-11-02 22:56] satanTime commented on #222
Thanks for the update, I found the issue and fixed it.
I think that on `1.5.0` you need to add `.keep(BrowserModule)` too.

I'll update documentation tomorrow, and in the evening or the following day, release a new version.

[2020-11-03 09:06] satanTime commented on #222
Hi @michael-hein,

might you verify that the fix works for your project? [ng-mocks.zip](https://github.com/ike18t/ng-mocks/files/5480226/ng-mocks.zip)

Also, might I ask you why you want to keep `MatCheckboxModule` in a test?

[2020-11-03 14:15] michael-hein commented on #222
Hi @satanTime,

thank you for the fix.
In the test-project it works pretty well but for the real one I run into some other errors related to other Angular-Material Components which were keept in the test.

Why we want to keep them was just the reason we wanted to test when I'm clicking on a checkbox and afterwards the save button that this save action gets dispatched with the right values. So that

[2020-11-03 14:25] satanTime commented on #222
Ah, about the declaration thing - my bad, it is `exportAll` flag I added last release, I'll disable it by default in the fix for this ticket.

About the test, the scenario sounds more like an integration testing, and here `ngMocks` cannot do much, only to mock other dependencies :)

[2020-11-03 15:30] satanTime commented on #222
About the issue with

The problem here is that `MatCheckboxModule` and `MatFormFieldModule` import the same modules, but for the `check` we want to keep them, whereas for the `form` we want to mock them due to rules of `AppModule`.

I think the right way would be to respect `keep` over `mock`. Because `mock` is mostly about declarations of the module itself, not its imports.
So if I declare a comp

[2020-11-03 16:57] satanTime commented on #222
Good news, at least for this issue I found a solution and it doesn't throw the error anymore.

[2020-11-03 17:18] satanTime commented on #222
Hi again, @michael-hein, might you check the new fix? [ng-mocks.zip](https://github.com/ike18t/ng-mocks/files/5482919/ng-mocks.zip)

Please let me know how it works for you.

[2020-11-03 18:33] michael-hein commented on #222
I'm glad to hear that :)

At first sight I would see it like you, respect `keep` over `mock`.
Sorry, but I had some troubles to follow your cases in my mind.
But I think as long as the user has the possibility to explicit mock sth. and the explicit mock then wins, then it should be fine.

With the new fix the

error is fixed.

Sadly when I'm using `MatSlideToggleModule` or `MatSliderModule` like t

[2020-11-03 19:49] satanTime commented on #222
Thanks for the feedback, the implementation allows to change things inside of mocked / kept parent modules, let's see if it was sufficient.

Checking the new case, if you meet any other - just post it here. Looks like we are on a straight road to cover all Mat issues.

[2020-11-03 19:58] satanTime commented on #222
For the current code you can use `MockBuilder(AppComponent, AppModule).keep(MatSlideToggleModule).keep(FocusMonitor)`, checking why `FocusMonitor` is mocked despite the kept module.

[2020-11-03 20:18] satanTime commented on #222
Here we go again,
[ng-mocks.zip](https://github.com/ike18t/ng-mocks/files/5483837/ng-mocks.zip)

Looking forward to hearing a new issue from you :)

[2020-11-03 23:16] michael-hein commented on #222
Hi @satanTime,

with this fix, I couldn't find any new issues :)

thank you for your time and your fixes. I really appreciate that 👍

[2020-11-04 07:06] satanTime commented on #222
Glad to hear. Thanks for the reports and research. Feel free to report more if you find uncovered topics and things for the enhancements.

I'll release the fixes today.

[2020-11-04 07:06] #222 closed

[2020-11-04 07:10] satanTime commented on #222
10.5.2 has been released and contains a fix for the issue.
Feel free to reopen the issue or to submit a new one if you meet any problems.

[2020-11-05 10:14] Martinspire opened #226 "(better) support for RXJS subscriptions"
So when you mock a component or service that contains or has functions that return a subscription, it becomes difficult to easily test that with a mocked component.

Now I get that RXJS isn't a mandatory part of Angular, but seeing how many people use it now, I feel that the types/functions should be supported to mock the response or have a way to inject a value when the mocked component is set up

[2020-11-05 10:27] satanTime commented on #226
Hi @Martinspire,

thanks for the report. Might you provide an example of the code you want to test? Usually you might use `MockProvider`, `.mock` or `MockInstance` for that and provide an observable the code requires.

Unfortunately, return types exist only in typescript code. Therefore in javascript runtime we don't have them, and I don't know a solution to detect them. That's why angular uses de

[2020-11-05 10:40] satanTime commented on #226
From your suggestions, I can add a section in readme how to mock observables in constructors and lifecycle hooks.
If it helped.

[2020-11-05 17:36] satanTime commented on #226
Hi @Martinspire,

might you check whether the section fits your expectations? https://github.com/satanTime/ng-mocks/tree/issues/226#how-to-fix-typeerror-cannot-read-property-subscribe-of-undefined

[2020-11-05 17:49] satanTime commented on #226
A test example is here: https://github.com/satanTime/ng-mocks/blob/issues/226/examples/MockObservable/test.spec.ts

[2020-11-07 19:54] satanTime commented on #226
[v10.5.3](https://github.com/ike18t/ng-mocks/releases/tag/v10.5.3)
has been released and contains a fix for the issue.
Feel free to reopen the issue or to submit a new one if you meet any problems.

[2020-11-15 07:05] satanTime commented on #44
[v11.0.0](https://github.com/ike18t/ng-mocks/releases/tag/v11.0.0) has been released and contains a fix for the issue. Feel free to reopen the issue or to submit a new one if you meet any problems.

[2020-11-22 00:05] emailvenkatm opened #239 "Facing issue while trying to use MatCheckboxModule"
beforeEach(() => {
   return MockBuilder(component, AppModule)
   .keep(ReactiveFormsModule)
   .keep(MatCheckboxModule)
    .mock(...)
});

Getting the below error
TypeError: Cannot read property 'subscribe' of undefined
    at MatCheckbox.ngAfterViewInit (

I feel like using ngmocks without the material modules seems to be very cool. But if we want to keep material modules with ngmocks looks lik

[2020-11-22 05:55] satanTime commented on #239
Hi,

Thanks for the report. Might you provide a sample repo with the issue?

[2020-11-22 17:45] satanTime commented on #239
I've created a playground, but it doesn't fail https://codesandbox.io/s/zen-cohen-qbgur?file=/src/test.spec.ts

Are you on the latest version? I think around 10.5.2 there was a similar issue, and it was fixed in 10.5.3 or 10.5.4.

[2020-11-23 15:30] satanTime commented on #239
Hi @emailvenkatm, any update on this?

[2020-11-24 11:46] cl-ax commented on #182
I'm having this issue too, and I'm not using the mock in production; only in a Jest test suite.

[2020-11-24 11:47] satanTime commented on #182
Hi @cl-ax, great to hear! might you create a sandbox project that reproduces the issue?

[2020-11-24 11:56] cl-ax commented on #182
I'll try. It's a pretty heavy setup (legacy code of course) so I don't know how long before I get to it.

[2020-11-24 11:58] satanTime commented on #182
@cl-ax, thanks, I very appreciate it. if it worked for you or your company - you can invite me private to the repo, I promise to check only the issue and delete the code right after fixing it.

[2020-11-25 09:06] cl-ax commented on #182
Oh man I found the issue. It was my mistake... Under my `import` statements, I had a stray `jest.mock()` for that particular module. So by the time `MockModule` was getting the component, is was a Jest mock and not an Angular module anymore!

[2020-11-25 09:22] satanTime commented on #182
Ah, cool, thanks for the info. Should be a helpful finding in future for other developers.

I'll close the issue. Feel free to comment it any time.

[2020-11-25 09:22] #182 closed

[2020-11-27 17:16] satanTime commented on #239
Hi @emailvenkatm, feel free to reopen the issue when you have more details or time to discuss it. I'll close it for now.

[2020-11-27 17:16] #239 closed

[2020-11-30 08:20] parloti opened #240 "Support of impure pipes"
https://github.com/ike18t/ng-mocks/blob/2e8f5cf1cf57f202c726a07dcb45f3720e6a7644/lib/mock-pipe/mock-pipe.ts#L23

Whether a pipe is impure or not affects my tests, however `MockPipe` ignores this information.

It makes more sense to me that the line above is simply:

  `@Pipe(coreReflectPipeResolve(pipe))`

[2020-11-30 08:33] satanTime commented on #240
Hi!

thanks for the report! I've been always thinking about that part. might you give me an example when you need a mock pipe to be impure? Because I wasn't able to figure out it myself.

[2020-11-30 10:06] wvankoppen opened #241 "ngMocks.guts() does not create mocks for declarables exported from other modules"
ngMocks.guts() does not create mocks for declarables exported from other modules.

This happens when a module is imported that **exports** a declarable (a component, directive or pipe) that it does not **declare** in itself.

This leads to the following error:
_Error: Can't export pipe MockOfTranslatePipe from MockOfMyTranslateModule as it was neither declared nor imported!_

Reproduction steps:

[2020-11-30 10:08] satanTime commented on #241
Hi @wvankoppen,

thanks for the report, a good catch, its fix will be release with the next version.

[2020-11-30 10:58] parloti commented on #240
[code]

(*) As I already called `fixture.detectChanges`, this will have no effect because the pipe is pure, that is, angular will not call 'transform', because the `key` argument has not been changed. At the end textContent remain with the original value and the spy will not be called.

Ref: [PurePipe](https://angular.io/api/core/Pipe#pure)

[2020-11-30 11:06] satanTime commented on #240
Yep right, I just was wondering about the case, because the code looks like an attempt to set `pipe.transform` behavior, but it doesn't follow the intention of the issue :)

Just to confirm. In your test you want to assert that the `pipe.transform` has been called again despite the pipe's string hasn't been changed. Is that correct?

If it's so, I'll fix it with the next release.

Thanks.

[2020-11-30 12:44] parloti commented on #240
You are right! I am contaminated by the problem :).

Yes, and this is what always happens with an impure pipe, which is precisely the case I am working on now.
For issues beyond my reach, I need to verify that:
1 - 'transform' of the current instance was called with the specified argument.
2 - if the value returned by the pipe was associated with the specified element.

Using the second `MockPipe`

[2020-11-30 12:47] satanTime commented on #240
Got it, thanks for the info. I'll keep the flag when creating a mock copy, and also check how we might distinguish the same pipe but its different instances.

[2020-12-01 11:33] satanTime commented on #240
Hi @parloti,

I hope this finds you well.

Might you verify that the changes do what you want them to do? [ng-mocks.zip](https://github.com/ike18t/ng-mocks/files/5622253/ng-mocks.zip)

Besides that I extended `ngMocks.get` and `ngMocks.findInstance(s)` to detect pipes.
Now you can simply get them like:
[code]

[2020-12-01 17:42] satanTime commented on #241
Hi @wvankoppen,

I hope this finds you well.

might you verify the fix? [ng-mocks.zip](https://github.com/ike18t/ng-mocks/files/5624361/ng-mocks.zip)

Thanks in advance!

[2020-12-01 22:03] satanTime commented on #226
Hi @Martinspire,

I hope this finds you well.

I think I found a way to implement what you described: https://github.com/satanTime/ng-mocks/tree/features/default-mock#ngmocksdefaultmock

Might you check if this fits your expectations? [ng-mocks.zip](https://github.com/ike18t/ng-mocks/files/5625707/ng-mocks.zip)

Here you can find examples for tests: https://github.com/satanTime/ng-mocks/tree/featu

[2020-12-03 12:43] wvankoppen commented on #241
Hi @satanTime,

Thanks for your quick reply!
I'm happy to see that the fix works like a charm!
Please let me know when the new release is coming :)

Regards Wouter

[2020-12-03 12:45] satanTime commented on #241
Hi @vespertilian,

thanks for the feedback. It will be released on Saturday / Sunday.

[2020-12-03 12:45] #241 closed

[2020-12-03 12:52] wvankoppen commented on #241
Wonderful, thanks!

[2020-12-04 05:58] #226 closed

[2020-12-04 08:40] #240 closed

[2020-12-04 20:53] satanTime commented on #240
[v11.2.0](https://github.com/ike18t/ng-mocks/releases/tag/v11.2.0) has been released and contains a fix for the issue. Feel free to reopen the issue or to submit a new one if you meet any problems.

[2020-12-04 20:53] satanTime commented on #241
[v11.2.0](https://github.com/ike18t/ng-mocks/releases/tag/v11.2.0) has been released and contains a fix for the issue. Feel free to reopen the issue or to submit a new one if you meet any problems.

[2020-12-04 20:53] satanTime commented on #226
[v11.2.0](https://github.com/ike18t/ng-mocks/releases/tag/v11.2.0) has been released and contains a fix for the issue. Feel free to reopen the issue or to submit a new one if you meet any problems.

[2020-12-07 14:41] GerkinDev opened #246 "MockControlValueAccessor: auto spy `writeValue` if a mock function was registered"
Hi,

In the context of one of my tests, I have an input that is displayed only if a value is set on my host component, and bound with this value. That means I can't retrieve the input with `find` or other methods before defining the actual value, and thus, I can't spy on its `writeValue` method.

By looking around in the code of *ng-mocks*, I saw that the *jest* and *jasmine* registers function fo

[2020-12-07 14:52] satanTime commented on #246
Hi @GerkinDev,

might you share the template's code, or a simple stab CodeSandbox or an example on [codesandbox.io ](https://codesandbox.io/s/github/ng-mocks/examples?file=/src/test.spec.ts), simply fork it.

Please correct me if I'm wrong. You have a component with control value accessor that is rendered under some circumstances and and there's no direct access to it before the circumstances.

Cu

[2020-12-07 20:49] GerkinDev commented on #246
Wow, GG, sorry, it actually does exactly what I want.

And I've (mostly) RTFM. I just missed this part, which is pretty far in the README. So I guess I'd just call myself silly lazy bastard, and say that I think if would be easier to find. Such a big README is not that easy to know where to look for what.

[2020-12-07 20:49] #246 closed

[2020-12-07 20:51] GerkinDev commented on #246
In the meantime, for reference, RTFM: https://github.com/ike18t/ng-mocks#mockinstance

[2020-12-07 20:53] satanTime commented on #246
Yeah, agree, that's where I struggle too. Too many things to describe in documentation.

Might you describe how you read the documentation first time?
I think I can put a few words in one of the first paragraphs that grabs visitor's attention.

[2020-12-08 08:35] GerkinDev commented on #246
Well, I'm gonna be totally honest with you: seeing the size of the readme, I read mostly code samples, headings, links and what is put on emphasis. There's just too much text to keep the full attention on the whole README. So I didn't really read pretty much everything else.

I would have expected to see something talking about it in the *How to create a mock component* section, since a form contr

[2020-12-08 19:03] satanTime commented on #246
Hi @GerkinDev,

I totally agree with your feedback and thank you for being honest. Unfortunately, the biggest problem is available time for the project, that's why website has only simple examples and all docs are in the readme. It will be a wiki one day, the only question is when :)

The current intention was to attract people:
* to "Motivation and easy start", briefly explaining basic usage
* th

[2020-12-09 07:05] wvankoppen opened #248 "Cannot read property 'ngModule' of undefined"
I have the following setup: I like to test the ProfileOverviewComponent and create mocks for all declarables in its module, which is the ProfileOverviewLazyLoadedModule.

[code]

But now the test shows the following error: Failed: Cannot read property 'ngModule' of undefined
![image](https://user-images.githubusercontent.com/1695270/101596232-0050d400-39f5-11eb-9c47-8f67f10f23e1.png)

The ProfileO

[2020-12-09 07:19] satanTime commented on #248
Hi @wvankoppen,

thanks for the report.

I think I've caused that with latest changes because, ideally there shouldn't be `undefined` provided. But looks like it is :)
Maybe try for now 11.0.0 or 11.1.0, I assume that one of them doesn't have the issue.

I'll rollback changes this evening and provide you a package for the verification, if it works on the weekend it will be released.

[2020-12-09 07:25] satanTime commented on #248
Might you try if it solves the issue? [ng-mocks.zip](https://github.com/ike18t/ng-mocks/files/5664138/ng-mocks.zip)

[2020-12-09 09:34] wvankoppen commented on #248
Thanks for the quick reply!
Downgrading to 11.0.0 or 11.1.0 is unfortunately not an option, because I need [this ](https://github.com/ike18t/ng-mocks/issues/241)fix as well.

I'll try the zip file and let you know whether it works :)

[2020-12-09 09:47] wvankoppen commented on #248
The zip works, thanks! Could you release it?

[2020-12-09 09:49] satanTime commented on #248
@wvankoppen, thanks, glad to hear! I need to cover the fix with tests and will release it on the weekend.

[2020-12-09 21:42] #248 closed

[2020-12-10 07:44] satanTime commented on #246
Hi @GerkinDev, might you check the comment above?

[2020-12-10 14:39] GerkinDev commented on #246
Hi,

Changes are OK IMO :) and yes, I've seen the collapsibles that reduce a bit the size of the readme; great compromise I think, and easy enough to spot. But maybe using headings in the collapsible summaries would make them easier to spot (and list in a TOC).

Great job <3

[2020-12-10 14:40] satanTime commented on #246
HI @GerkinDev, thanks for the feedback, I'll try to implement it in near future.

[2020-12-10 16:14] satanTime commented on #248
[v11.2.3](https://github.com/ike18t/ng-mocks/releases/tag/v11.2.3) has been released and contains a fix for the issue. Feel free to reopen the issue or to submit a new one if you meet any problems.

[2020-12-10 16:15] satanTime commented on #246
[v11.2.3](https://github.com/ike18t/ng-mocks/releases/tag/v11.2.3) has been released and contains a fix for the issue. Feel free to reopen the issue or to submit a new one if you meet any problems.

[2020-12-15 09:41] Martinspire commented on #226
Sorry for the lack of activity. Just checked a few links and they were not found but I just looked at the 2 releases and it fixes my issue very nicely. Thanks for the help and explanation!

[2020-12-15 09:46] satanTime commented on #226
Hi @Martinspire,

glad to see you back :)
I'll fix the links for needs of other users.

Might you provide a feedback or drop a few words how `ngMocks.defaultMock` works for you, whether there are some obstacles you are facing, and if you wanted to improve something?

Thank you in advance!

[2020-12-19 12:34] satanTime commented on #16
Update: [mock services](https://github.com/ike18t/ng-mocks#how-to-create-a-mock-service) and [mock providers](https://github.com/ike18t/ng-mocks#how-to-create-a-mock-provider) are supported by `ng-mocks`.

[2020-12-23 13:55] Martinspire commented on #226
I've only done work on a few tests lately, but it seems to have fixed my issues and improved a few other things too. I do think I won't always use defaultMock as I still prefer to mock only what I need for my tests, but for some generic functions it seems to provide an easy interface. Thanks for the work and thanks for the feedback. Much appreciated!

[2020-12-29 22:45] GerkinDev opened #266 "Support selector-less components"
Hey there ! It's me again.

By fooling around with ng-mocks in my app's tests, I've found that ng-mocks does not correctly set the fixture's `point` property correctly if the tested component has no selector (like a page-only component).

Here is the failing test case:

[code]

I've found a way to go around this issue like so (this test works)

[code]

:beers: cheers !

[2020-12-30 06:19] satanTime commented on #266
Hi again!

Thanks for the report! I'll fix it during the next days.

Happy New Year and happy coding!

[2020-12-30 22:42] satanTime commented on #266
Hi @GerkinDev,

might you confirm it works as you expect? [ng-mocks.zip](https://github.com/ike18t/ng-mocks/files/5755925/ng-mocks.zip)

[2021-01-01 21:31] #266 closed

[2021-01-01 21:37] satanTime commented on #266
[v11.3.0](https://github.com/ike18t/ng-mocks/releases/tag/v11.3.0) has been released and contains a fix for the issue. Feel free to reopen the issue or to submit a new one if you meet any problems.

[2021-01-02 06:17] GerkinDev commented on #266
Hi, sorry for not answering earlier. I see you like this : ![https://tenor.com/ba5gS.gif](https://tenor.com/ba5gS.gif).
I'm working on something unrelated for a couple of days, and will be able to test this in situ soon, but not now. Sorry. But I totally trust you. Moreover, you have at least one test case, and the bug is pretty simple to check if resolved

Thanks again, and 🍻 cheers!

[2021-01-02 08:56] satanTime commented on #266
Ahaha, thanks :)

Sure, no rush here, I have the same feelings that the issue has been fixed. Just need an extra proof once you have time.

Thanks in advance and happy coding!

[2021-01-02 09:34] satanTime commented on #266
[v11.3.1](https://github.com/ike18t/ng-mocks/releases/tag/v11.3.1) has been released and contains a fix for the issue. Feel free to reopen the issue or to submit a new one if you meet any problems.

[2021-01-03 09:08] GerkinDev commented on #266
Hi again,

I can confirm this works in my real-life situation ! :tada:

Thank you so much, happy new year ! :tada::tada::tada:

[2021-01-05 10:20] krema opened #270 "MockService with ngMocks.stub vs. MockProvider overrides vs. MockInstance vs. ngMocks.defaultMock"
Hi,

Thank you for that handy library. I am trying to mock a service and make the properties and method configurable for each test.

The documentation gives us several ways to accomplish this. Unfortunately I am a little bit confused by all these possibilities. It took me some time to figure this out. Would it be useful if we add a section in the readme describing the different ways how to use the

[2021-01-05 10:24] satanTime commented on #270
Hi @krema,

thanks for the suggestion, I'll add a section to the readme about that.

[2021-01-05 11:52] satanTime opened #271 "a way to skip mocks for a particular definition globally"
similar to `defaultMock`, but should allow to specify what should be always kept / mocked with a way to change it later.

[2021-01-05 15:26] krema opened #272 "Since version 11.1.0 ngmocks.stub doesn't work after TestBed has initialized"
I tried to upgrade ng-mocks from version 11.0.0 to the latest version but my existing tests failed. I tracked it down to version 11.1.0 (https://github.com/ike18t/ng-mocks/compare/v11.0.0...v11.1.0).

The following test fails with version >= 11.1.0 because it doesn't allow me to override my stubs after the TestBed.get method has been called.

[code]

I think the reason is following change:

https:

[2021-01-05 15:28] satanTime commented on #272
Hi, might you share how AuthService looks like?

I think I know the issue, it might be caused by flags in define properties calls.

[2021-01-05 15:34] satanTime commented on #272
Ah, no, I think it's another issue.

Starting some version MockProvider extends the value, instead of using it. It was done to avoid huge calls on large services.

I think in your case you need to use `useValue` directly, because there is nothing to do for `MockProvider`.
[code]

[2021-01-05 15:34] krema commented on #272
AuthService is an example I created. In this example isLoggedIn$ is an Observable. My tests fail now because I do a lot (re)configuring/mocking properties and methods within the tests and for each test separately. Is there maybe other way to accomplish that?

[2021-01-05 15:36] satanTime commented on #272
There is an example: https://codesandbox.io/s/gifted-chebyshev-778cq?file=/src/test.spec.ts

[2021-01-05 15:44] satanTime commented on #272
But still... I don't get why it should work - if `MyService` depends on `AuthService` then change of the pointer to `isLoggedIn$` shouldn't have the effect anyways...

Might you provide a small test on codesandbox with the latest version of ng-mocks that fails due to the issue you have?

[2021-01-05 15:54] krema commented on #272
https://codesandbox.io/s/practical-moser-3x05x?file=/src/test.spec.ts

[2021-01-05 16:06] satanTime commented on #272
Yep, then right.

And sorry for the confusion and this breaking change, I hoped `MockProvider` wasn't used much when introduced it :)

Then, I think, nothing to do in this issue. Feel free to close it if nothing has left.

[2021-01-05 16:07] krema commented on #272
Thanks for your help!

[2021-01-05 16:07] #272 closed

[2021-01-08 17:31] satanTime commented on #270
Hi @krema,

I've rewritten the section. Looking forward to your feedback: https://github.com/satanTime/ng-mocks/tree/issues/270#how-to-mock-services

[2021-01-10 18:42] krema commented on #270
Hi @satanTime,

Thanks for the revision and clarification. It is clearer to me now.

When I look at my projects where I use ngMocks I mostly use it for mocking components, pipes and directives. Now for services I have different requirements. I have to stub/reconfigure the return values of the methods or properties of the mocked service differently for each test in a test suite. I thought it would

[2021-01-10 18:53] satanTime commented on #270
Hi @krema,

thanks for the detailed feedback, I'll investigate it later the next week and try to propose a solution.

About the last question.

The general difference between them is that:
- if you need to customize an instance of a component / directive / pipe / service / token - `MockInstance` should be the right choice, mostly right in `it`.
- If you need to get a mock object of a class such as

[2021-01-10 19:24] GerkinDev commented on #271
Would be super useful for global services or classes, like loggers, ErroHandler, Router, ActivatedRoute, etc etc. Totally into it ;)

The only problem I see is that it may be troublesome to have some implicit stuff happening. That's exactly why I never mock a component by providing its declaring module: I prefer this to be explicit, so I **MUST** keep track of dependencies & update my tests accord

[2021-01-10 20:03] satanTime commented on #271
Hi @GerkinDev,

totally agree, I would disallow all that stuff to keep tests' logic explicit, allowing only default mock behavior for observables.

Might you give me an example of `"Hey, I want the global mock from that token !"`? Not sure I got it correctly.

---

Back to the topic.

A guy in [gitter](https://gitter.im/ng-mocks/community) gave a different interesting case.

He uses `initTestEnvir

[2021-01-10 20:05] satanTime commented on #271
An example: https://github.com/satanTime/ng-mocks/blob/issues/271/tests/ng-mocks-default-keep/test.spec.ts

More are here:
https://github.com/satanTime/ng-mocks/blob/issues/271/tests/ng-mocks-default-exclude/test.spec.ts
https://github.com/satanTime/ng-mocks/tree/issues/271/tests/ng-mocks-default-replace

[2021-01-10 20:21] satanTime commented on #270
I think, what you are asking is doable without any adjustments.

[code]

[2021-01-10 20:24] satanTime commented on #270
In your case it might be like that:

[code]

[2021-01-14 06:31] #271 closed

[2021-01-14 06:34] #270 closed

[2021-01-15 10:40] parloti commented on #240
Sorry for the delay, I had to take a long vacation.
Thanks, this works exactly as expected.

[2021-01-15 10:49] satanTime commented on #240
Hi @parloti,

I hope you had a good one.

Thanks for the update.

[2021-01-17 19:28] satanTime commented on #246
Hi @GerkinDev,

I hope this finds you well and healthy!

I've created a separate website for documentation, might you check if it fits your expectations?
 https://ng-mocks.sudo.eu/

[2021-01-17 20:18] satanTime commented on #271
[v11.4.0](https://github.com/ike18t/ng-mocks/releases/tag/v11.4.0) has been released and contains a fix for the issue. Feel free to reopen the issue or to submit a new one if you meet any problems.

[2021-01-17 20:18] satanTime commented on #270
[v11.4.0](https://github.com/ike18t/ng-mocks/releases/tag/v11.4.0) has been released and contains a fix for the issue. Feel free to reopen the issue or to submit a new one if you meet any problems.

[2021-01-28 06:25] satanTime opened #281 "docs about internals vs externals"
We need to add a section to troubleshooting about how to tackle such cases https://github.com/ike18t/ng-mocks/issues/44

[2021-01-28 06:26] satanTime opened #282 "docs about migrations, version by version"
can be written based on braking changes from [CHANGELOG.md](https://github.com/ike18t/ng-mocks/blob/master/CHANGELOG.md).

[2021-01-30 08:48] satanTime opened #283 "An example with ViewChild and ViewChildren"

[2021-01-30 23:06] #281 closed

[2021-01-31 08:19] #282 closed

[2021-01-31 12:43] #283 closed

[2021-01-31 19:48] znaczek opened #288 "Support rendering templates selected with something else than only string `id`"
First of all - great library! 👍 Solves a lot of problems

I am using `mockComponent` functionality on dependant components and I am using `ng-templates` to customise it contents. Now I would like to test how this template renders.

In the [docs](https://ng-mocks.sudo.eu/api/MockComponent#advanced-example) we can find that on a mocked component we can use `__render` method. It accepts `contentChild

[2021-01-31 20:10] satanTime commented on #288
Hi @znaczek,

thanks for the report. I've been looking for a case, you provided.

Btw, do you use `read` property of the decorator? I'm curious, because I found it lately, and I was thinking that it is a good example, where a string for `__render` is not enough to render its template, but I have not been able to find a proper code sample which uses it.

[2021-01-31 20:23] satanTime commented on #288
I think the interface could be like that:

`component.__render(component.cell.el, ...)`, then it should solve all the issues and all the possible variety of providing templates.

[2021-01-31 20:43] satanTime commented on #288
Ah... it couldn't be so easy.... a mock `CellDirective` does not have `el` anymore. So the fix may take longer, but I'll found out a solution.

[2021-01-31 21:01] satanTime commented on #288
Hi @znaczek again,

your case can be tested like that without any adjustments.

[code]

The thing is like that:
`CellDirective` is a structural directive which contains a template.
Because `CellDirective` and `TableComponent` have been mocked - we should assert their interfaces, not their behavior (not to try to render the directive via the component).
Therefore we should render the template of th

[2021-02-01 19:16] znaczek commented on #288
Hi, @satanTime thanks for looking into this and extremely fast response!

So yes, I have tested it in my simplified example and it works indeed. And yes - we rather want to test what is inside of the `ng-template` that bears that directive rather then rendering in an already mocked component - otherwise why are we mocking that component?
So rendering the template directly seems a good approach her

[2021-02-02 07:55] satanTime commented on #288
That's great,

If you have time, I would like to ask you to post some code examples or links to libs which use this approach, especially which you want to use in your project.

I am working on enhancement and want to be sure that it will cover all possible cases.

Thank you in advance!

[2021-02-03 08:00] znaczek commented on #288
For example [ng-select](https://github.com/ng-select/ng-select).
Example class [here](https://github.com/ng-select/ng-select/blob/master/src/ng-select/lib/ng-select.component.ts)
They use a lot of `@ContentChild` with directive as a template

[2021-02-03 08:04] satanTime commented on #288
Cool, thanks, I'll write docs including this example. Besides that I'll include [mat-table](https://material.angular.io/components/table/overview) and [p-calendar](https://www.primefaces.org/primeng/showcase/#/calendar).

[2021-02-03 18:07] satanTime commented on #288
Hm... doesn't work for me with `ng-select`,

I was trying to fetch the directive like
[code]

but `NgLabelTemplateDirective` isn't exported and there is no way to do it.
I think I need to add something like

[code]

[2021-02-03 18:18] satanTime commented on #288
I've implemented rendering based on properties, what do you think, would it fit?

[code]

[2021-02-04 09:40] satanTime opened #289 "find ng-container"
add a `reveal` function which would find debug elements of `ng-container`.
also `reveal` and `find` should support look up in `ng-container` too, although it is a `comment` element.

- [x] `ngMocks.crawl(debugElement, callback(currentDebugElement, parentDebugElement?))`
- [x] `ngMocks.reveal` and `ngMocks.revealAll`
- [x] (**impossible**) extend `ngMocks.find` and `ngMocks.findAll` to support `ng-

[2021-02-04 09:41] satanTime opened #290 "find TemplateRef / ng-template"
the idea is to provide a function to find `TemplateRef`.

It derives from https://github.com/ike18t/ng-mocks/issues/288#issuecomment-772710403

[2021-02-04 09:42] satanTime opened #291 "render any TemplateRef"
it looks like a tough task, but at least we could start with something like described here: https://github.com/ike18t/ng-mocks/issues/288#issuecomment-772710403.

Maybe to create a global container / fixture to render it too.

[2021-02-04 16:30] znaczek commented on #288
I am not sure what's the implementation under the hood and if I understood your proposition correctly, but I would expect, that after:
[code]
I can just do something like this:
[code]

[2021-02-04 16:56] satanTime commented on #288
Almost right, and it will work like that.

The only thing is a dev should know that the `labelTemplate` property belongs to `<ng-template ng-label-tmp let-item="item">`.
In the same time, in Webstorm it is just a click on `ng-label-tmp`, not sure if VSC can the same.

[2021-02-04 17:33] znaczek commented on #288
Ok, that's true. So would that be a problem to so this:
[code]
I don't know the insights of the library implementation, but one thing led to another:
knowing the selector `[ng-label-tmp]` we could find the `NgLabelTemplateDirective` class. Then in the component on which `__render` method is called iterate through properties and find the one on which `@ContentChild` is set with `NgLabelTemplateDire

[2021-02-04 17:36] satanTime commented on #288
yeah, I think that's feasible.
nobody should care about invisible directives and properties.

so it will be like that:
[code]

[2021-02-04 18:03] satanTime opened #292 "render by selector"
a template should be rendered not only by id, but by a selector too:

[code]

[2021-02-04 18:04] satanTime commented on #288
I've created a separate issue to track this: https://github.com/ike18t/ng-mocks/issues/292

[2021-02-11 06:48] satanTime opened #293 "Configure Angular 12"

[2021-02-11 22:18] satanTime commented on #288
This weekend a new release will be published, it contains a temp fix which allows to test `ng-select`.

[2021-02-11 22:18] #288 closed

[2021-02-12 16:03] satanTime opened #296 "Cover ComponentFactoryResolver w/ ivy and w/o ivy"
the case should include no entryComponents

[code]

[2021-02-12 18:14] #296 closed

[2021-02-12 19:21] #293 closed

[2021-02-12 22:13] parloti opened #298 "ngMocks.findInstance returning false instance"
A situation like this:

[code]

Will give:
[code]

And with the function `ngMocks.findInstances`:

[code]

Will return:
[code]

**Flow of first instances:**

[mock-helper.find-instance.ts#L14:: mockHelperFindInstances](https://github.com/ike18t/ng-mocks/blob/e765db1c76846a9257fbb997b9264756747f567d/libs/ng-mocks/src/lib/mock-helper/mock-helper.find-instance.ts#L14)
[mock-helper.find-instances.ts#L

[2021-02-12 22:31] satanTime commented on #298
Hi, thank you for the report.

I'll try to investigate the issue.

[2021-02-12 22:34] satanTime commented on #298
what you describe, it actually the case when there is no `.p3` in the template, I think if you change queries to `.p4` you should be able to reproduce the issue.

I'll add a fix for it in the next release.

[2021-02-12 22:40] satanTime commented on #298
In your cause I would say check for a typo of English `p3` with something similar, for example russian `р3` (it is not `p3`).

[2021-02-13 15:40] #290 closed

[2021-02-13 16:15] parloti commented on #298
If I change to '.p4' I get **TypeError: Cannot read property 'debugElement' of null**

The flow of the last div on StackBlitz follows the same as locally, up to this point:
[func.get-from-node-ivy.ts#L23-L25:: if (!node || node._debugContext) { return;}](https://github.com/ike18t/ng-mocks/blob/e765db1c76846a9257fbb997b9264756747f567d/libs/ng-mocks/src/lib/mock-helper/func.get-from-node-ivy.ts#L23-

[2021-02-13 16:19] satanTime commented on #298
Good, thanks for the info. I'm working on fix and will provide a built in a few hours for testing.

[2021-02-13 16:52] satanTime commented on #298
On StackBlitz - click enable ivy and it fails, checking further.

[2021-02-13 19:15] satanTime commented on #298
Hi @parloti, good news. Seems like the fix is here.
Could you verify that it works on your project correctly?

[ng-mocks.zip](https://github.com/ike18t/ng-mocks/files/5976293/ng-mocks.zip)

[2021-02-13 19:21] satanTime commented on #298
ah, false alarm. Fixing the last part with an array of 3.

[2021-02-13 19:38] satanTime commented on #298
Here we go: [ng-mocks.zip](https://github.com/ike18t/ng-mocks/files/5976328/ng-mocks.zip)

[2021-02-13 20:05] parloti commented on #298
Thanks, it's working correctly.

[2021-02-13 20:05] satanTime commented on #298
Awesome, tomorrow it will be released.

[2021-02-13 20:45] #298 closed

[2021-02-14 08:55] satanTime commented on #290
[v11.6.0](https://github.com/ike18t/ng-mocks/releases/tag/v11.6.0) has been released and contains a fix for the issue. Feel free to reopen the issue or to submit a new one if you meet any problems.

[2021-02-14 08:55] satanTime commented on #296
[v11.6.0](https://github.com/ike18t/ng-mocks/releases/tag/v11.6.0) has been released and contains a fix for the issue. Feel free to reopen the issue or to submit a new one if you meet any problems.

[2021-02-14 08:55] satanTime commented on #293
[v11.6.0](https://github.com/ike18t/ng-mocks/releases/tag/v11.6.0) has been released and contains a fix for the issue. Feel free to reopen the issue or to submit a new one if you meet any problems.

[2021-02-14 08:56] satanTime commented on #283
[v11.6.0](https://github.com/ike18t/ng-mocks/releases/tag/v11.6.0) has been released and contains a fix for the issue. Feel free to reopen the issue or to submit a new one if you meet any problems.

[2021-02-14 08:56] satanTime commented on #282
[v11.6.0](https://github.com/ike18t/ng-mocks/releases/tag/v11.6.0) has been released and contains a fix for the issue. Feel free to reopen the issue or to submit a new one if you meet any problems.

[2021-02-14 08:56] satanTime commented on #281
[v11.6.0](https://github.com/ike18t/ng-mocks/releases/tag/v11.6.0) has been released and contains a fix for the issue. Feel free to reopen the issue or to submit a new one if you meet any problems.

[2021-02-14 08:56] satanTime commented on #298
[v11.6.0](https://github.com/ike18t/ng-mocks/releases/tag/v11.6.0) has been released and contains a fix for the issue. Feel free to reopen the issue or to submit a new one if you meet any problems.

[2021-02-14 09:33] satanTime commented on #288
Hi @znaczek,

the version has been released: 11.6.0.
Info how to test ng-select is here: https://ng-mocks.sudo.eu/guides/libraries/ng-select

Please let me know if it fits your expectations.
I'll leave a comment here, once there is a fix for a better approach.

Thank you in advance and happy coding!

[2021-02-16 06:33] satanTime commented on #292
Obsolete, can be done via https://github.com/ike18t/ng-mocks/issues/291 in combination with https://github.com/ike18t/ng-mocks/issues/290.

[2021-02-16 06:33] #292 closed

[2021-02-16 06:57] #291 closed

[2021-02-17 14:24] ma7moudat opened #302 "Mocking ReactiveFormsModule causes tests to fail"
# Sumary:

After updating ng-mocks from 11.5.0 to 11.6.0 tests that were running normally fail now, all with the same error.

Angular v11.2.0

# Reproduction:

[code]

# Result:

Upon running the test in reproduction above, the following error is thrown:

[code]

# Findings:

- The test finishes successfully only when I change `MockModule(ReactiveFormsModule)` to `ReactiveFormsModule` in the impor

[2021-02-17 14:27] satanTime commented on #302
Hi, thanks for the report.

The fix will be released on the weekend.

[2021-02-17 14:33] ma7moudat commented on #302
@satanTime nah, thank you for awesome library and the quick reply :D

[2021-02-17 20:25] satanTime commented on #302
Hi @ma7moudat,

could you verify that the fixed version works for you?

[ng-mocks.zip](https://github.com/ike18t/ng-mocks/files/5998403/ng-mocks.zip)

[2021-02-18 07:17] ma7moudat commented on #302
Hi @satanTime,
works like a charm :)

[2021-02-18 07:45] #302 closed

[2021-02-19 07:20] satanTime commented on #302
[v11.7.0](https://github.com/ike18t/ng-mocks/releases/tag/v11.7.0) has been released and contains a fix for the issue. Feel free to reopen the issue or to submit a new one if you meet any problems.

[2021-02-19 07:20] satanTime commented on #291
[v11.7.0](https://github.com/ike18t/ng-mocks/releases/tag/v11.7.0) has been released and contains a fix for the issue. Feel free to reopen the issue or to submit a new one if you meet any problems.

[2021-02-21 17:31] satanTime commented on #298
Hi @parloti,

I hope this finds you well and healthy.

Might you do me a favor?
I'm working on new features from #289, and it affects lookup functionality.
Could you check how the new version of `ng-mocks` works with your app?

Thank you in advance!

[ng-mocks.zip](https://github.com/ike18t/ng-mocks/files/6018156/ng-mocks.zip)

[2021-02-22 09:48] parloti commented on #298
Hi @satanTime,

I tested this version and it did not visibly affect my tests, they continue to work correctly.

[2021-02-22 09:49] satanTime commented on #298
Hi @parloti, thanks for the feedback!

[2021-02-23 07:30] znaczek commented on #288
Hi,
thanks for all, I have just downloaded the latest release and so far looks good.
Will let you know if find any other case.
Cheers

[2021-02-24 21:57] satanTime commented on #289
Fix todo links

[2021-02-25 13:36] #289 closed

[2021-02-25 18:30] satanTime commented on #289
[v11.8.0](https://github.com/ike18t/ng-mocks/releases/tag/v11.8.0) has been released and contains a fix for the issue. Feel free to reopen the issue or to submit a new one if you meet any problems.

[2021-02-25 19:42] satanTime commented on #288
Hi @znaczek,

some improvements have been released:
https://ng-mocks.sudo.eu/guides/libraries/ng-select
https://ng-mocks.sudo.eu/api/ngMocks/formatHtml
https://ng-mocks.sudo.eu/api/ngMocks/reveal
https://ng-mocks.sudo.eu/api/ngMocks/render

now `ng-mocks` should provide full set of tools to render templates. If you still experience a lack of tools - ping me or create an issue.

Happy coding!

[2021-02-26 11:32] jensweigele opened #305 "ControlValueAccessor Mock not working on MatInput"
When having an input element like that:
[code]
with a test setup like that:
[code]
I can get a MatInput Mock Instance with:
[code]

But this mock is not a "MockControlValueAccessor" (isMockControlValueAccessor is false). I also tried other approaches but did not find a way to get it working. Ticket #73 is about a fix for that, but maybe this fix got lost by the refactoring between the version!?

-

[2021-02-26 11:35] satanTime commented on #305
Hi, thanks for the report! I'll take a look today.

Might you share how matInput has been imported?

Also is it really `.find`? `ngMocks.find(['data-testid', 'inputControl'])`, I would assume that it should be `.reveal`.

[2021-02-26 11:40] satanTime commented on #305
Also is it on 11.7.0 or 11.8.0? there was a regression before: https://github.com/ike18t/ng-mocks/issues/302

[2021-02-26 11:41] jensweigele commented on #305
MatInput is imported in "MyModule" via imports: [MatInputModule] (so I think that should be mocked).
But I also tried to use:
[code]
(also with mock(MatInputModule)

Yes it's find. But it's interesting - the mock-helper.d.ts does not contain a reveal Method (11.7.0)
I just saw that you published a new version some hours again - let me doublecheck with that version.

[2021-02-26 11:43] satanTime commented on #305
Ah true :) I forgot that it will be transformed to `[data-testid="inputControl"]`, sorry :) a too fresh feature. Good, then I'll investigate how it works on 11.7.0 and 11.8.0. The fix should be here next days and released on the weekend.

[2021-02-26 12:14] jensweigele commented on #305
I've the same behavior with 11.8.0

[2021-02-26 12:25] satanTime commented on #305
thanks, then I'll investigate what did I break again.

[2021-02-26 17:45] satanTime commented on #305
So, the thing is that `MatInput` doesn't implement `ControlValueAccessor`.
Therefore, I would say that when `isMockControlValueAccessor` returns `false` it is expected.

What is the logic behind test?

Before all mock directives and components implemented `ControlValueAccessor`, but it was wrong, because it gives a false impression, how we can access real `ValueAccessor`. Therefore, to respect int

[2021-02-27 11:14] satanTime commented on #305
Ah, doesn't work in no-ivy. I think the best way would be to provide `ngMocks.touch(debugEl)` and `ngMocks.change(debugEl)`, so nobody needs to know what is under the hood and how control value accessor is set.

[2021-02-27 18:12] satanTime commented on #305
Fixed.

Instead of calling `ngMocks.get(ngMocks.find(['data-testid', 'inputControl']), MatInput)` you can use now the next syntax:

[code]

[2021-02-27 19:11] #305 closed

[2021-02-27 21:06] satanTime commented on #305
[v11.9.0](https://github.com/ike18t/ng-mocks/releases/tag/v11.9.0) has been released and contains a fix for the issue. Feel free to reopen the issue or to submit a new one if you meet any problems.

[2021-03-01 07:23] jensweigele commented on #305
Thanks! Will give it a try this week

[2021-03-10 09:12] kekel87 opened #310 "Add some basics helpers to ngMocks"
Hi, we've been using your lib since 2 years now and it's really changing our lives!

However, we need to use a small helper to perform very basic tasks during the tests.
We don't want to pull another lib just to get those basic helpers (like `ngneat/spectator`, etc).

It would be cool, if some of them could be integrated to your helper `ngMocks` (especially since there are already things in place)

[2021-03-10 09:22] satanTime commented on #310
Hi @kekel87, sure,

might you also add input and output to every example in order to demonstrate how data should be processed?

[2021-03-10 12:12] kekel87 commented on #310
Yep, here are some examples of usage :

- Get a text of element(s)
[code]
[code]

-  Trigger events
[code]
[code]

- Get value of input
[code]
[code]

- Write in input and correctly trigger `@angular/material`:
[code]
[code]

- Get component(s) or directive(s)
[code]
[code]

I can try to write the function signatures if you want.

[2021-03-11 06:04] satanTime commented on #310
Hi again, thanks for the details. I'll take a look deeper on the weekend and provide you feedback.

Usually for such things, I add own helper functions beside `test.ts`, I think you to do the same. Anyway, I'll take a look at the proposal and try to estimate how much it fits the lib.

[2021-03-13 10:01] satanTime commented on #310
Hi there,

I've checked proposed features.

Definitely, some of them make sense. The only this I would prefer to avoid personally is multiple responsibilities, in order to follow KISS and SOLID.

For example, to **find** an element, then **extract** its text and then **trim** every text node, sounds to me like 3 different function calls, whereas I understand how simple and useful it is to call 1 f

[2021-03-15 09:09] Carsten750 opened #311 "ng-mocks with Jest - coverage report"
Great tool! Works very well.

We use ng-mocks with Jest. Jest provides a lot of great possibilities: snapshot testing, many additional matchers etc.

But there is maybe one small imperfection. Mocked components show up in the coverage report. Is there any way to stop this?

That would be great!

Thanks a lot!
Carsten

[2021-03-15 09:18] satanTime commented on #311
Hi,

thanks for the report. Might you provide a simple repo with the issue?

Also might you explain the idea to hide them a bit deeper?

I would assume that this behavior is expected. If there are 2 components in an app, and tests have been written only for one of them, then the second one has 0 coverage because of zero own tests. In the same time, because there is the dependency between component

[2021-03-15 13:22] Carsten750 commented on #311
Test:
`
@Component({
  selector: 'my-panel-container',
  template: ` <layout-panel>Content</layout-panel> `
})
class MyTestComponent {}

describe('The LayoutPanel,', () => {
  let component: MyTestComponent;
  let fixture: ComponentFixture<MyTestComponent>;

  beforeEach(async(() => {
    TestBed.configureTestingModule({
      declarations: [
        LayoutPanel,
        MyTestComponent,
        .

[2021-03-15 21:10] satanTime commented on #311
Works for me correctly. When I run all tests I get 100%, when I run partially - I get partial coverage.

<img width="1290" alt="a11+%E2%80%93+layout-panel component spec ts+2021-03-15+22-08-30" src="https://user-images.githubusercontent.com/966305/111221724-292bcb00-85db-11eb-9175-41a7f22d1771.png">

[code]

[2021-03-17 07:29] kekel87 commented on #310
Hi,

I understand what you mean about the responsibilities and the fact that it is difficult to maintain.

All those little functions you suggest, we already do, but when we change projects/missions/clients often, it's hard to keep track of them. But `ng-mocks` are easy to follow, that's why I proposed to integrate them.

The idea was to identify the most useful helpers to avoid having to copy/pas

[2021-03-17 07:58] satanTime commented on #310
about `isMockControlValueAccessor`, there is a new feature [`ngMocks.change`](https://ng-mocks.sudo.eu/api/ngMocks/change) which is even simpler.

But I'm really curious and that `blur` call. Is it required for material design?

[2021-03-18 10:48] kekel87 opened #312 "exclude/keep/replace not working has expected"
Hi, it's me again 🙃 !

I have a component and a module with `StoreModule` (NGRX):
[code]

When I use `provide` and `provideMockStore` for unit test, it works perfectly 👌
[code]

But when I want to do an integration test (with true `StoreModule`), i have got an error:
[code]

In fact, the original `StoreModule.forFeature` is called 😱 .
And I've got an obscure error (ngrx/ivy/madness/wathever error)

[2021-03-18 12:51] satanTime commented on #312
Hi,

this is a complicated topic. The original idea for such cases is to mock a module which imports `.forRoot` and `.forFeature` and then simply to call `MockBuilder(ComponentToTest, AppModule).keep(StoreModule)`.

then `ng-mocks` will keep all imports of `.forRoot` and `.forFeature` in the provided module as it is.

Anyway I'll investigate the cases and try to fix related issues.

[2021-03-19 13:56] kekel87 commented on #310
I don't know if it's still in use. I think it dates back to the time when we didn't mock [material](https://github.com/angular/components/blob/master/src/material/input/input.ts#L345). To trigger the change of value and put the input in the same state as if we had done it manually.

[2021-03-19 20:28] satanTime opened #314 "formatText"
There is [`ngMocks.formatHtml`](https://ng-mocks.sudo.eu/api/ngMocks/formatHtml), and I've seen that in `jest` `innerText` doesn't work. At least, for me its value was always empty.

Therefore, to add a helper to get only formatted text makes sense.

But, responsibility how to find related `debugElements` and `debugNodes`, I would suggest to keep outside of this function.

Own helpers can be like

[2021-03-19 20:29] satanTime opened #315 "ngMocks.trigger ngMocks.click"
simpler versions of [`triggerEventHandler`](https://angular.io/api/core/DebugElement#triggerEventHandler).

click should provide the left button by default.

[2021-03-19 20:30] satanTime opened #316 "typeIn"
investigate how we can set values https://github.com/angular/components/blob/master/src/material/input/input.ts#L345 and cover it with UTs.

[2021-03-19 20:31] satanTime opened #317 "css selectors where they are possible"
all `ngMocks` functions should accept a string of css selector where it is possible. Under the hood it should use `.find` in this case.

[2021-03-19 20:32] satanTime commented on #310
I've created separate issues for every case. This issue will be closed, feel free to subscribe there and leave comments.

[2021-03-19 20:32] #310 closed

[2021-03-19 20:39] satanTime commented on #311
Hi @Carsten750,

any update on this?

[2021-03-21 20:57] #314 closed

[2021-03-22 06:12] #316 closed

[2021-03-22 08:34] satanTime opened #320 ".touch"
Should emit focus and blur on elements

[2021-03-22 09:09] satanTime opened #321 "add tags to the tweet"

[2021-03-22 09:09] satanTime opened #322 "update to latest doc version"

[2021-03-22 22:11] #320 closed

[2021-03-23 07:55] satanTime opened #324 "check trigger event subscribers"
the idea is to check whether it is possible to check the subscribers. If there are zero of them, then we can proceed to call the related method directly.

[2021-03-23 18:31] #321 closed

[2021-03-23 18:48] satanTime commented on #315
That's an interesting and suitable example: https://stackoverflow.com/questions/66744417/angular-how-to-mock-wrapper-component-with-jest-and-ngmocks?noredirect=1#comment118009963_66744417

[2021-03-23 19:40] #324 closed

[2021-03-23 20:17] #322 closed

[2021-03-25 06:14] satanTime opened #328 "migrate to github actions"

[2021-03-25 13:55] ngfx opened #329 "MockModule does not work for MatSelectModule in 9.6.4"
ng-mocks version: 9.6.4.
angular material version: 9.2.4

When mocking the **mat-select** component in unit test, I did **MockModule(MatSelectModule)**, and it causes the unit tests to fail with error "**No value accessor for from control with name 'xxx'**".

The component template was like:
`
<mat-form-field>
    <mat-select formControlName="xxx">...</mat-select>
</mat-form-field>
`

The behavior

[2021-03-25 13:56] satanTime commented on #329
Hi, thanks for the report.

could you try the latest version?

[2021-03-25 14:17] ngfx commented on #329
For my project, I am still using Angular 9, so I tried with your latest 9.x.x version. Even if the latest 11.x.x version had fixed it, I am not going to upgrade in a while before the upgrade of Angular. So I do hope you can have a fix release for the version 9 if you confirm this issue. Thanks.

[2021-03-25 14:21] satanTime commented on #329
There is no link between angular and ng-mocks version. You can use any on any.

[2021-03-25 14:23] ngfx commented on #329
ok good to know it, thanks. I will have a try with the latest version 11.

[2021-03-25 14:34] ngfx commented on #329
The latest version 11 seems to be Good! Thanks. Although still don't know the cause of this issue in the early version.

[2021-03-25 14:43] satanTime commented on #329
I'm quite sure, I broke something that time. There were many changes regarding control value accessor lately.

Then I'll close the issue for now. Feel free to reopen it if something is still wrong.

Happy coding!

[2021-03-25 14:44] #329 closed

[2021-03-27 15:35] #328 closed

[2021-03-27 15:48] satanTime commented on #311
Hi @Carsten750,

I'm going to close the issue. I think, the case you need is covered in my previous comment.
Feel free, to drop a comment if we should discuss it further.

Happy coding!

[2021-03-27 15:48] #311 closed

[2021-03-29 12:17] satanTime opened #333 "always register components with entryComponents"
[code]

[2021-03-29 19:44] #315 closed

[2021-04-01 11:33] DzmVasileusky opened #354 "ng-mocks is not in JIT mode and cannot resolve declarations"
`ng-mocks is not in JIT mode and cannot resolve declarations`

I'm getting this error after did some refactoring on moving some code to external libraries.
What does this error mean and how to fix it?

[2021-04-01 11:48] satanTime commented on #354
Hi @DzmVasileusky,

usually this happens when an app building process imports something `ng-mocks`. Normally it shouldn't happen, because `ng-mocks` should be used only in tests.

If you get this error during **build**
search for `from 'ng-mocks'` or `from "ng-mocks"` **not** in spec files, and ensure that these files aren't included in the build process, only for testing.

If you get this error d

[2021-04-01 14:49] DzmVasileusky commented on #354
@satanTime Actually I got this error because the component I tried to mock was imported from a wrong directory.
So probably this error also falls on attempts to mock undefined.

[2021-04-01 15:14] satanTime commented on #354
That's interesting, was it a missing file, or a missing export in a file?

I would appreciate if you could post the test file with the import and how it is mocked. Plus the path and the source of the file with the declaration.

Then I can add a better error description for such a case.

Thanks in advance!

[2021-04-02 06:00] DzmVasileusky commented on #354
the component is here `@components/shared`
but was imported from `@features/shared/components` so I suppose It was undefined
Of course it would be great to improve an error message in this case but not sure if it is possible

[2021-04-02 06:03] DzmVasileusky commented on #354
[code]

[2021-04-02 06:06] satanTime commented on #354
@DzmVasileusky, thanks! I'll do that.

Happy coding!

[2021-04-02 06:06] DzmVasileusky commented on #354
@satanTime Thank you!

[2021-04-04 21:51] satanTime commented on #315
[v11.10.0](https://github.com/ike18t/ng-mocks/releases/tag/v11.10.0) has been released and contains a fix for the issue. Feel free to reopen the issue or to submit a new one if you meet any problems.

[2021-04-04 21:51] satanTime commented on #328
[v11.10.0](https://github.com/ike18t/ng-mocks/releases/tag/v11.10.0) has been released and contains a fix for the issue. Feel free to reopen the issue or to submit a new one if you meet any problems.